<%= form_with(model: smartmenu) do |form| %>
  <% if smartmenu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(smartmenu.errors.count, "error") %> prohibited this smartmenu from being saved:</h2>

      <ul>
      <% smartmenu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :slug, class: 'form-label' %>
      <%= form.text_field :slug, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :restaurant_id, class: 'form-label' %>
      <%= form.text_field :restaurant_id, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :menu_id, class: 'form-label' %>
      <%= form.text_field :menu_id, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :tablesetting_id, class: 'form-label' %>
      <%= form.text_field :tablesetting_id, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if smartmenu.persisted? %>
      <div class="float-end">
        <%= link_to t('common.delete'), smartmenu, method: :delete, class: "text-danger", data: { confirm: t('common.confirm') } %>
      </div>
    <% end %>

    <%= form.submit value: t('common.save'), class: 'btn btn-dark' %>

    <% if smartmenu.persisted? %>
      <%= link_to t('common.cancel'), smartmenu, class: "btn btn-link" %>
    <% else %>
      <%= link_to t('common.cancel'), smartmenus_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
