<div class="modal-footer modal-footer-spaced">
  <button type="button" class="btn-touch-secondary" data-bs-dismiss="modal" aria-label="<%= t('common.close') %>"><%= t('.cancel') %></button>
  <button id="<%= primary_id %>" type="button" class="btn-touch-primary" data-bs-dismiss="modal" <%= 'disabled' if defined?(disabled) && disabled %>><%= primary_text %></button>
</div>
