<div class="modal-footer gap-2">
  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="<%= t('common.close') %>"><%= t('.cancel') %></button>
  <button id="<%= primary_id %>" type="button" class="btn btn-primary" data-bs-dismiss="modal" <%= 'disabled' if defined?(disabled) && disabled %>><%= primary_text %></button>
</div>
