        <div class="pt-2 row">
            <div class="col-12">
                <span>
                    <% if ordrparticipant && ordrparticipant.preferredlocale %>
                        <%= menu.localised_name(ordrparticipant.preferredlocale) %>
                    <% else %>
                        <%= menu.name %>
                    <% end %>
                </span>
                <span class="float-end">
                <div style="position: relative; z-index: -1;" class="btn-group" role="group">
                        <% if ordrparticipant && ordrparticipant.name == nil %>
                           <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#addNameToParticipantModal">
                              <i class="bi bi-person-fill-add"></i>
                           </button>
                        <% else %>
                           <% if ordrparticipant && ordrparticipant.name %>
                              <button type="button" style="max-width: 100px;" class="btn btn-sm btn-dark d-inline-block text-truncate" data-bs-toggle="modal" data-bs-target="#addNameToParticipantModal">
                                  <small><%= ordrparticipant.name %></small>
                              </button>
                           <% end %>
                        <% end %>
                    <% if tablesetting %>
                        <% if order %>
                            <% if order.status == 'opened' %>
                                <% if order.nett > 0 %>
                                    <% if order.addedCount > 0 %>
                                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-restaurant="<%= menu.restaurant.id %>" data-bs-menu="<%= menu.id %>" data-bs-target="#viewOrderModal">
                                            <%= t(".order") %>
                                            <i id="orderCart" class="bi bi-cart"></i>
                                            <div id="orderCartSpinner" style='display:none' class="spinner-border spinner-border-sm float-right" role="status"></div>
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                                                <%= order.totalItemsCount %>
                                                <span class="visually-hidden"><%= t('.items_in_cart') %></span>
                                            </span>
                                          </button>
                                    <% else %>
                                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-restaurant="<%= menu.restaurant.id %>" data-bs-menu="<%= menu.id %>" data-bs-target="#viewOrderModal">
                                            <%= t(".order") %>
                                            <i id="orderCart" class="bi bi-cart"></i>
                                            <div id="orderCartSpinner" style='display:none' class="spinner-border spinner-border-sm float-right" role="status"></div>
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                                                <%= order.totalItemsCount %>
                                                <span class="visually-hidden"><%= t('.items_in_cart') %></span>
                                            </span>
                                        </button>
                                    <% end %>
                                <% else %>
                                    <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-restaurant="<%= menu.restaurant.id %>" data-bs-menu="<%= menu.id %>" data-bs-target="#viewOrderModal" disabled>
                                        <%= t(".order") %>
                                        <i id="orderCart" class="bi bi-cart"></i>
                                        <div id="orderCartSpinner" style='display:none' class="spinner-border spinner-border-sm float-right" role="status"></div>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                                            <%= order.totalItemsCount %>
                                            <span class="visually-hidden"><%= t('.items_in_cart') %></span>
                                        </span>
                                    </button>
                                <% end %>
                            <% end %>
                                <% if order.status == 'ordered' || order.status == 'preparing' || order.status == 'ready'  || order.status == 'delivered' %>
                                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-restaurant="<%= menu.restaurant.id %>" data-bs-menu="<%= menu.id %>" data-bs-target="#requestBillModal">
                                        <%= t(".bill") %> <i class="bi bi-receipt"></i></i>
                                    </button>
                                    <% if order.addedCount > 0 %>
                                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-restaurant="<%= menu.restaurant.id %>" data-bs-menu="<%= menu.id %>" data-bs-target="#viewOrderModal">
                                            <%= t(".order") %>
                                            <i id="orderCart" class="bi bi-cart"></i>
                                            <div id="orderCartSpinner" style='display:none' class="spinner-border spinner-border-sm float-right" role="status"></div>
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                                                <%= order.totalItemsCount %>
                                                <span class="visually-hidden"><%= t('.items_in_cart') %></span>
                                            </span>
                                        </button>
                                    <% else %>
                                        <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-restaurant="<%= menu.restaurant.id %>" data-bs-menu="<%= menu.id %>" data-bs-target="#viewOrderModal">
                                            <%= t(".order") %>
                                            <i id="orderCart" class="bi bi-cart"></i>
                                            <div id="orderCartSpinner" style='display:none' class="spinner-border spinner-border-sm float-right" role="status"></div>
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                                                <%= order.totalItemsCount %>
                                                <span class="visually-hidden"><%= t('.items_in_cart') %></span>
                                            </span>
                                        </button>
                                    <% end %>
                                <% end %>
                                <% if order.status == 'billrequested' %>
                                        <button type="button" class="btn btn-sm btn-dark">
                                            <%= t(".staffAlerted") %> <i class="bi bi-receipt"></i></i>
                                        </button>
                                <% end %>
                                <% if order.status == 'closed' %>
                                    <% if menu.allowOrdering == true && menu.restaurant.allowOrdering == true %>
                                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-restaurant="<%= menu.restaurant.id %>" data-bs-menu="<%= menu.id %>" data-bs-target="#openOrderModal">
                                            <%= t(".startOrder") %> <i class="bi bi-plus-circle"></i>
                                        </button>
                                    <% end %>
                                <% end %>
                        <% else %>
                            <% if menu.allowOrdering == true && menu.restaurant.allowOrdering == true %>
                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-restaurant="<%= menu.restaurant.id %>" data-bs-menu="<%= menu.id %>" data-bs-target="#openOrderModal">
                                    <%= t(".startOrder") %> <i class="bi bi-plus-circle"></i>
                                </button>
                            <% end %>
                        <% end %>
                    <% end %>
                </span>
                </div>
            </div>
        </div>
