<% if @openOrder %>
    <% if @openOrder.status == 'opened' %>
        <% if @openOrder.nett > 0 %>
            <% if @openOrder.addedCount > 0 %>
                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#viewOrderModal">
                    <%= t(".order") %> <i class="bi bi-cart"></i>
                </button>
            <% else %>
                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#viewOrderModal" disabled>
                    <%= t(".order") %> <i class="bi bi-cart"></i>
                </button>
            <% end %>
        <% else %>
            <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#viewOrderModal" disabled>
                <%= t(".order") %> <i class="bi bi-cart"></i>
            </button>
        <% end %>
    <% end %>
        <% if @openOrder.status == 'ordered' %>
            <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#requestBillModal">
                <%= t(".bill") %> <i class="bi bi-receipt"></i></i>
            </button>
            <% if @openOrder.addedCount > 0 %>
                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#viewOrderModal">
                    <%= t(".order") %> <i class="bi bi-cart"></i>
                </button>
            <% else %>
                <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#viewOrderModal" disabled>
                    <%= t(".order") %> <i class="bi bi-cart"></i>
                </button>
            <% end %>
        <% end %>
        <% if @openOrder.status == 'billrequested' %>
            <% if current_user %>
                <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#payOrderModal">
                    <%= t(".takePayment") %> <i class="bi bi-credit-card"></i>
                </button>
            <% else %>
                <button type="button" class="btn btn-sm btn-dark">
                    <%= t(".staffAlerted") %> <i class="bi bi-receipt"></i></i>
                </button>
            <% end %>
        <% end %>
<% else %>
    <% if @menu.allowOrdering == true && @menu.restaurant.allowOrdering == true %>
        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#openOrderModal">
            <%= t(".startOrder") %> <i class="bi bi-plus-circle"></i>
        </button>
    <% end %>
<% end %>
