<div id="modalsContainer">

    <div class="modal fade" id="openOrderModal" tabindex="-1" aria-labelledby="openOrderModalLabel">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="openOrderModalLabel"><%= t(".startOrder") %></h5>
                </div>
                <div class="modal-body">
                    <% if tablesetting %>
                        Would you like to start an order for <input style='width:50px' type="number" id="orderCapacity" value=<%= tablesetting.capacity%> oninput="validateIntegerInput(this)"> at this table?
                    <% end %>
                </div>
                <div style='border-top:0px;padding:0px' class="modal-footer">
                    <span class="float-end">
                        <div style='position:relative;right:-5px;bottom:-5px;' class="btn-group btn-group-lg btn-order-group-custom-rounded" role="group" aria-label="Order">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close"><%= t(".cancel") %></button>
                            <button id="start-order" type="button" data-bs-dismiss="modal" class="btn btn-danger"><%= t(".start") %></button>
                         </div>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addItemToOrderModal" tabindex="-1" aria-labelledby="addItemToOrderModalLabel">
      <% if menu.displayImages == true && menu.restaurant.displayImages == true %>
      <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
      <% else %>
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen">
      <% end %>
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addItemToOrderModalLabel"><%= t(".addToOrder") %></h1>
          </div>
          <div style="padding:0px" class="modal-body">
                <% if (menu.displayImages == true && menu.restaurant.displayImages == true) || (menu.displayImagesInPopup == true && menu.restaurant.displayImagesInPopup == true) %>
                    <div class="row">
                        <div class="col-12">
                            <div class="image-container position-relative">
                                <!-- Placeholder image (same size as final image) -->
                                <img id="placeholder" src="https://placehold.co/600x400/white/white" class="w-100" style="visibility: visible;">
                                <!-- Spinner overlay -->
                                <div id="spinner" class="position-absolute top-50 start-50 translate-middle">
                                    <div class="spinner-border text-primary"></div>
                                </div>
                                <%= image_tag "",
                                    :id => "a2o_menuitem_image",
                                    :title => "",
                                    :class => "addItemToOrderImage card-img-top",
                                    :onload => "fadeIn(this)",
                                    :style => "display:none;"
                                %>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:20px;"></div>
            <% end %>
            <span style="display:none" id="a2o_ordr_id"></span>
            <span style="display:none" id="a2o_menuitem_id"></span>
            <div style="padding-left:15px;padding-right:15px;" class="row">
                <div class="col-12">
                    <span class="h4" id="a2o_menuitem_name"></span>
                </div>
            </div>
            <div style="padding-left:15px;padding-right:15px;" class="row">
                <div class="col-12">
                    <span id="a2o_menuitem_description"></span>
                </div>
            </div>
          </div>
          <div style='border-top:0px;padding:0px' class="modal-footer">
            <span class="float-end">
                <div style='position:relative;right:-5px;bottom:-5px;' class="btn-group btn-group-lg btn-order-group-custom-rounded" role="group" aria-label="Order">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close"><%= t(".cancel") %></button>
                    <button id="addItemToOrderButton" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        <%= restaurantCurrency.symbol ? restaurantCurrency.symbol : "" %><span id="a2o_menuitem_price"></span>
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="filterOrderModal" tabindex="-1" aria-labelledby="filterOrderModalLabel">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="filterOrderModalLabel"><%= t(".filterAllergyns") %></h1>
                </div>
                <%= form_with(model: ordrparticipant) do |form| %>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-8">
                                <%= form.collection_check_boxes :allergyn_ids, Allergyn.where(restaurant_id: menu.restaurant.id), :id, :name, { hide_label: true } do |b| %>
                                    <div form-check">
                                        <%= b.check_box %>
                                        <label class="form-check-label">
                                            <%= b.label %>
                                        </label>
                                    </div>
                                <% end %>
                            </div>
                            <div class="col-sm-4">
                                <div class="float-end form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="toggleFilters">
                                    <label class="form-check-label" for="toggleFilters"><%= t(".noneAll") %></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style='border-top:0px;padding:0px' class="modal-footer">
                        <span class="float-end">
                            <div style='position:relative;right:-5px;bottom:-5px;' class="btn-group btn-group-lg btn-order-group-custom-rounded" role="group" aria-label="Order">
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close"><%= t(".cancel") %></button>
                                <%= form.submit value: t(".filterBy"), class: 'btn btn-danger' %>
                            </div>
                        </span>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="modal fade" id="viewOrderModal" tabindex="-1" aria-labelledby="viewOrderModalLabel">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewOrderModalLabel"><%= t(".yourOrder")%></h5>
          </div>
          <div class="modal-body">
            <% if order %>
                <div class="row">
                    <div class="col-8">
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-2">
                      <span class="float-end">
                        <b><%= t(".price")%></b>
                      </span>
                    </div>
                </div>
                <% if order && order.addedCount > 0 %>
                    <div class="row">
                        <div class="col-2">
                            <p>Selected</p>
                        </div>
                        <div class="col-10">
                            <hr>
                        </div>
                    </div>
                    <% order.ordractions.includes([:ordritem]).each do |ordraction| %>
                        <% if ordraction.ordritem && ordraction.ordritem.status == 'added' && ordraction.ordritem.in?(order.ordritems) %>
                            <div id="ordritem_<%= ordraction.ordritem.id %>" style="margin-top:5px" class="row">
                                <div class="col-8">
                                    <div class="d-flex w-100 overflow-hidden">
                                        <p class="text-truncate">
                                            <button type="button" class="removeItemFromOrderButton btn btn-sm btn-dark"
                                                data-bs-ordritem_id="<%= ordraction.ordritem.id %>">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                            <% if ordrparticipant && ordrparticipant.preferredlocale %>
                                                <%= ordraction.ordritem.menuitem.localisedName(ordrparticipant.preferredlocale) %>
                                            <% else %>
                                                <% if menuparticipant && menuparticipant.preferredlocale %>
                                                    <%= ordraction.ordritem.menuitem.localisedName(menuparticipant.preferredlocale) %>
                                                <% else %>
                                                    <%= ordraction.ordritem.menuitem.name %>
                                                <% end %>
                                            <% end %>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="d-flex w-100 overflow-hidden">
                                        <p class="text-truncate">
                                            <%= ordraction.ordrparticipant.name %>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <span class="float-end">
                                        <%= number_to_currency(ordraction.ordritem.ordritemprice, unit: restaurantCurrency.symbol ? restaurantCurrency.symbol : "") %>
                                    </span>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
                <% if order && order.orderedCount > 0 %>
                    <div class="row">
                        <div class="col-2">
                            <p>Submitted</p>
                        </div>
                        <div class="col-10">
                            <hr>
                        </div>
                    </div>
                    <% order.ordractions.includes([:ordritem]).each do |ordraction| %>
                        <% if ordraction.ordritem && ordraction.ordritem.status == 'ordered' && ordraction.ordritem.in?(order.ordritems) %>
                            <div id="ordritem_<%= ordraction.ordritem.id %>" style="margin-top:5px" class="row">
                                <div class="col-8">
                                    <div class="d-flex w-100 overflow-hidden">
                                        <p class="text-muted text-truncate">
                                            <button type="button" class="btn btn-sm btn-dark">
                                                <i class="bi bi-arrow-right-circle-fill"></i>
                                            </button>
                                            <% if ordrparticipant && ordrparticipant.preferredlocale %>
                                                <%= ordraction.ordritem.menuitem.localisedName(ordrparticipant.preferredlocale) %>
                                            <% else %>
                                                <% if menuparticipant && menuparticipant.preferredlocale %>
                                                    <%= ordraction.ordritem.menuitem.localisedName(menuparticipant.preferredlocale) %>
                                                <% else %>
                                                    <%= ordraction.ordritem.menuitem.name %>
                                                <% end %>
                                            <% end %>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="d-flex w-100 overflow-hidden">
                                        <p class="text-muted text-truncate">
                                            <%= ordraction.ordrparticipant.name %>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <span class="text-muted float-end">
                                        <%= number_to_currency(ordraction.ordritem.menuitem.price, unit: restaurantCurrency.symbol ? restaurantCurrency.symbol : "") %>
                                    </span>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>

                <div class="row">
                    <div class="col-8">
                    </div>
                    <div class="col-2">
                        <b><%= t(".total")%>:</b>
                    </div>
                    <div class="col-2">
                        <span class="float-end"><b><%= number_to_currency(order.nett, unit: restaurantCurrency.symbol ? restaurantCurrency.symbol : "") %></b></span>
                    </div>
                </div>
            <% end %>
          </div>
          <div style='border-top:0px;padding:0px' class="modal-footer">
            <span class="float-end">
                <div style='position:relative;right:-5px;bottom:-5px;' class="btn-group btn-group-lg btn-order-group-custom-rounded" role="group" aria-label="Order">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close"><%= t(".cancel") %></button>
                    <% if order && order.addedCount > 0 %>
                        <button id="confirm-order" type="button" data-bs-dismiss="modal" class="btn btn-danger"><%= t(".submit") %></button>
                    <% else %>
                        <button id="confirm-order" type="button" data-bs-dismiss="modal" class="btn btn-danger" disabled><%= t(".submit") %></button>
                    <% end %>
                </div>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="requestBillModal" tabindex="-1" aria-labelledby="requestBillModalLabel">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="requestBillModalLabel"><%= t(".requestBill") %></h5>
          </div>
          <div class="modal-body">
                <% if order %>
                    <div class="row">
                        <div class="col-10">
                            <b>Item</b>
                        </div>
                        <div class="col-2">
                          <span class="float-end">
                            <b>Price</b>
                          </span>
                        </div>
                    </div>
                    <% if order.covercharge > 0 %>
                        <div class="row">
                            <div class="col-10">
                                Cover Charge
                            </div>
                            <div class="col-2">
                              <span class="float-end">
                                <%= number_to_currency(order.covercharge, unit: restaurantCurrency.symbol ? restaurantCurrency.symbol : "") %>
                              </span>
                            </div>
                        </div>
                    <% end %>
                    <div class="row">
                        <div class="col-10">
                            Nett
                        </div>
                        <div class="col-2">
                          <span class="float-end">
                            <%= number_to_currency(order.nett, unit: restaurantCurrency.symbol ? restaurantCurrency.symbol : "") %>
                          </span>
                        </div>
                    </div>
                    <hr>
                    <% if order.service > 0 %>
                        <div class="row">
                            <div class="col-10">
                                Service
                            </div>
                            <div class="col-2">
                              <span class="float-end">
                                <%= number_to_currency(order.service, unit: restaurantCurrency.symbol ? restaurantCurrency.symbol : "") %>
                              </span>
                            </div>
                        </div>
                    <% end %>
                    <% if order.tax > 0 %>
                        <div class="row">
                            <div class="col-10">
                                Tax
                            </div>
                            <div class="col-2">
                              <span class="float-end">
                                <%= number_to_currency(order.tax, unit: restaurantCurrency.symbol ? restaurantCurrency.symbol : "") %>
                              </span>
                            </div>
                        </div>
                    <% end %>
                    <div class="row">
                        <div class="col-10">
                        </div>
                        <div class="col-2">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <b>Total</b> <i>(excl. tip)</i>
                        </div>
                        <div class="col-2">
                          <span class="float-end">
                            <b><%= number_to_currency(order.gross, unit: restaurantCurrency.symbol ? restaurantCurrency.symbol : "") %></b>
                          </span>
                        </div>
                    </div>
                <% end %>
          </div>
          <div style='border-top:0px;padding:0px' class="modal-footer">
            <span class="float-end">
                <div style='position:relative;right:-5px;bottom:-5px;' class="btn-group btn-group-lg btn-order-group-custom-rounded" role="group" aria-label="Order">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close"><%= t(".cancel") %></button>
                    <% if order && order.gross > 0 %>
                        <button id="request-bill" type="button" data-bs-dismiss="modal" class="btn btn-danger"><%= t(".requestBill") %></button>
                    <% else %>
                        <button id="request-bill" type="button" data-bs-dismiss="modal" class="btn btn-danger" disabled><%= t(".requestBill") %></button>
                    <% end %>
                </div>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="payOrderModal" tabindex="-1" aria-labelledby="payOrderModalLabel">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="payOrderModalLabel">Pay Bill</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <% if order %>
                                <div class="row">
                                    <div class="col-9">
                                        <b>Item</b>
                                    </div>
                                    <div class="col-3">
                                        <span class="float-end">
                                            <b>Price</b>
                                        </span>
                                    </div>
                                </div>
                                <% if order.covercharge > 0 %>
                                    <div class="row">
                                        <div class="col-10">
                                            Cover Charge
                                        </div>
                                        <div class="col-2">
                                          <span class="float-end">
                                            <%= number_to_currency(order.covercharge, unit: restaurantCurrency.symbol ? restaurantCurrency.symbol : "") %>
                                          </span>
                                        </div>
                                    </div>
                                <% end %>
                                <div class="row">
                                    <div class="col-9">
                                        Nett
                                    </div>
                                    <div class="col-3">
                                        <span class="float-end">
                                            <%= number_to_currency(order.nett, unit: restaurantCurrency.symbol ? restaurantCurrency.symbol : "") %>
                                        </span>
                                    </div>
                                </div>
                                <% if order.service > 0 %>
                                    <div class="row">
                                        <div class="col-9">
                                            Service
                                        </div>
                                        <div class="col-3">
                                            <span class="float-end">
                                                <%= number_to_currency(order.service, unit: restaurantCurrency.symbol ? restaurantCurrency.symbol : "") %>
                                            </span>
                                        </div>
                                    </div>
                                <% end %>
                                <% if order.tax > 0 %>
                                    <div class="row">
                                        <div class="col-9">
                                            Tax
                                        </div>
                                        <div class="col-3">
                                            <span class="float-end">
                                                <%= number_to_currency(order.tax, unit: restaurantCurrency.symbol ? restaurantCurrency.symbol : "") %>
                                            </span>
                                        </div>
                                    </div>
                                <% end %>
                                <div class="row">
                                    <div class="col-9">
                                    </div>
                                    <div class="col-3">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <b>Total</b> <i>(excl. tip)</i>
                                    </div>
                                    <div class="col-3">
                                        <span class="float-end">
                                            <b><%= restaurantCurrency.symbol ? restaurantCurrency.symbol : "" %><span id="orderGross"><%= number_to_currency(order.gross, unit: "") %></span></b>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <span class="float-end">
                                            <div style="position:relative;left:15px" class="btn-toolbar btn-toolbar-sm mb-3" role="toolbar" aria-label="Tip Options">
                                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="First group">
                                                    <% order.menu.restaurant.tips.sort_by(&:percentage).each do |tip| %>
                                                        <button type="button" class="btn btn-sm btn-secondary"><span class="tipPreset"><%= tip.percentage %></span>%</button>
                                                    <% end %>
                                                    <input id="tipNumberField" style="width:80px" type="number" min="0.00" max="<%= number_to_currency(order.gross, unit: restaurantCurrency.symbol ? restaurantCurrency.symbol : "") %>" class="form-control float-end text-end" id="tip" value="0.00">
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                    </div>
                                    <div class="col-3">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <b>Total</b> <i>(incl. tip)</i>
                                    </div>
                                    <div class="col-3">
                                        <span class="float-end">
                                            <b><span id="orderGrandTotal"><%= number_to_currency(order.gross, unit: restaurantCurrency.symbol ? restaurantCurrency.symbol : "") %></span></b>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style='display: flex;justify-content: center;' class="col-12">
                                        <button id="refreshPaymentLink" type="button" style='width:200px' class="btn btn-dark">Payment Link</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style='display: flex;justify-content: center;' class="col-12">
                                        <input type="hidden" id="openOrderId" value="<%= order.id %>">
                                        <input type="hidden" id="paymentAmount" value="<%= order.grossInCents %>">
                                        <input type="hidden" id="paymentCurrency" value="<%= restaurantCurrency.code %>">
                                        <input type="hidden" id="paymentRestaurantName" value="Bill: <%= order.restaurant.name %>">
                                        <input type="hidden" id="paymentRestaurantId" value="<%= order.restaurant.id %>">
                                        <span style='display:none' id="qrIcon"><%= image_url('qr-icon.svg') %></span>
                                        <span style='display:none' id="paymentlink"></span>
                                        <a id="paymentAnchor" target="_blank" href="">
                                            <span id="paymentQR"></span>
                                        </a>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </form>
                </div>
                <div style='border-top:0px;padding:0px' class="modal-footer">
                    <span class="float-end">
                        <div style='position:relative;right:-5px;bottom:-5px;' class="btn-group btn-group-lg btn-order-group-custom-rounded" role="group" aria-label="Order">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close"><%= t(".cancel") %></button>
                            <% if order && order.gross > 0 %>
                                <button id="pay-order" type="button" data-bs-dismiss="modal" class="btn btn-danger"><%= t(".confirmPayment") %></button>
                            <% else %>
                                <button id="pay-order" type="button" data-bs-dismiss="modal" class="btn btn-danger" disabled><%= t(".confirmPayment") %></button>
                            <% end %>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addNameToParticipantModal" tabindex="-1" aria-labelledby="addItemToOrderModalLabel">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addNameToParticipantModalLabel"><%= t(".customiseOrderWithName") %></h1>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" class="form-control" id="ordr_id">
                          <div class="form-group row">
                            <div class="col-3">
                            <label for="name" class="form-label">Name:</label>
                            </div>
                            <div class="col-9">
                            <input type="text" class="form-control" id="name">
                            </div>
                          </div>
                    </form>
                </div>
                <div style='border-top:0px;padding:0px' class="modal-footer">
                    <span class="float-end">
                        <div style='position:relative;right:-5px;bottom:-5px;' class="btn-group btn-group-lg btn-order-group-custom-rounded" role="group" aria-label="Order">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close"><%= t(".cancel") %></button>
                            <button id="addNameToParticipantButton" type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi bi-plus"></i> <%= t(".add") %></button>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>