<div class="btn-group" role="group">
    <button id="table-selector-staff" type="button" class="btn-touch-dark btn-touch-sm dropdown-toggle br-0-0-8-8" data-bs-toggle="dropdown" aria-expanded="false">
        <% if tablesetting %>
            <%= tablesetting.name %>
        <% else %>
            <%= t(".table") %>
        <% end %>
    </button>
    <ul class="dropdown-menu dropdown-menu-dark z-index-1000 dropdown-padding-y-05 table-dropdown-menu dropdown-menu-scrollable">
        <li class="dropdown-search dropdown-search-sticky">
            <div class="px-3 py-2">
                <input id="table-selector-search" type="text" class="form-control form-control-sm bg-dark text-white border-secondary"  placeholder="<%= t('smartmenus.find_table', default: 'Find table') %>" aria-label="Search tables">
            </div>
        </li>
        <% Array(table_smartmenus).each do |smartmenu| %>
            <% if smartmenu.tablesetting && smartmenu.tablesetting.status == 'free' %>
                <li>
                    <%= link_to smartmenu_path(smartmenu.slug), data: { turbo: false }, class: "dropdown-item min-h-44 d-flex align-items-center py-2 px-3", 'data-filter-text': smartmenu.tablesetting.name do %>
                        <%= smartmenu.tablesetting.name %>
                    <% end %>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>

