    <div style="padding-top:20px" class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <div style='padding:5px' class="card-header">
                        <span>
                            <% if ordrparticipant && ordrparticipant.preferredlocale %>
                                <%= mi.localisedName(ordrparticipant.preferredlocale) %>
                            <% else %>
                                <% if menuparticipant && menuparticipant.preferredlocale %>
                                    <%= mi.localisedName(menuparticipant.preferredlocale) %>
                                <% else %>
                                    <%= mi.name %>
                                <% end %>
                            <% end %>
                        </span>
            </div>
            <% if menu.displayImages == true && menu.restaurant.displayImages == true && mi.image %>
                <div class="row">
                    <div class="col-5">
                        <div class="ratio ratio-1x1">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="m-5" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <%= render "showImage", src: mi.image_url, alt: mi.name, cached: true %>
                        </div>
                    </div>
                    <div style='padding-left:0px' class="col-7">
                        <h6 style='padding-top:5px;padding-right:10px;'>
                            <% if ordrparticipant && ordrparticipant.preferredlocale %>
                                <small><%= mi.localisedDescription(ordrparticipant.preferredlocale) %></small>
                            <% else %>
                                <% if menuparticipant && menuparticipant.preferredlocale %>
                                    <small><%= mi.localisedDescription(menuparticipant.preferredlocale) %></small>
                                <% else %>
                                    <small><%= mi.description %></small>
                                <% end %>
                            <% end %>
                        </h6>
                    </div>
                </div>
                <%= render "showMenuitemHorizontalActionBar", mi: mi %>
            <% else %>
                <div class="row">
                    <div class="col-12">
                        <h6 style='padding-left:10px;padding-right:10px;padding-top:5px'>
                            <% if ordrparticipant && ordrparticipant.preferredlocale %>
                                <small><%= mi.localisedDescription(ordrparticipant.preferredlocale) %></small>
                            <% else %>
                                <% if menuparticipant && menuparticipant.preferredlocale %>
                                    <small><%= mi.localisedDescription(menuparticipant.preferredlocale) %></small>
                                <% else %>
                                    <small><%= mi.description %></small>
                                <% end %>
                            <% end %>
                        </h6>
                    </div>
                </div>
                <%= render partial: "smartmenus/showMenuitemHorizontalActionBar", locals: { order: order, mi: mi, ordrparticipant: ordrparticipant, menuparticipant: menuparticipant, restaurantCurrency: restaurantCurrency } %>
            <% end %>
        </div>
    </div>
