<div id="contextContainer">
    <div id="currentSession"><%= session.id %></div>
    <% if order %>
        <div id="currentOrder"><%= order.id %></div>
        <div style='display:none' id="currentOrderStatus"><%= order.status %></div>
    <% end %>
    <% if tablesetting %>
        <div style='display:none' id="currentTable"><%= tablesetting.id %></div></div>
    <% end %>
    <% if current_employee %>
        <div style='display:none' id="currentEmployee"><%= current_employee.id %></div>
    <% end %>
    <% if menu %>
        <div style='display:none' id="currentMenu"><%= menu.id %></div>
        <% if menu.restaurant %>
            <div style='display:none' id="currentRestaurant"><%= menu.restaurant.id %></div>
        <% end %>
    <% end %>
    <% if ordrparticipant %>
        <div id="currentParticipant"><%= ordrparticipant.id %></div>
    <% end %>
    <% if menuparticipant %>
        <div id="menuParticipant"><%= menuparticipant.id %></div>
    <% end %>
</div>