<div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-12">
                    <div style="padding-top:5px" class="row">
                        <div class="col-8">
                            <h5>
                                <%= @menu.restaurant.name %>
                            </h5>
                        </div>
                        <div class="col-4">
                            <span class="float-end">
                                <% if @ordrparticipant && @ordrparticipant.name == nil %>
                                    <span id="addYourNameSpan">
                                        <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#addNameToParticipantModal">
                                          <i class="bi bi-person-fill-add"></i>
                                        </button>
                                    </span>
                                <% else %>
                                    <% if @ordrparticipant && @ordrparticipant.name %>
                                        <b><small><%= @ordrparticipant.name %></small></b>
                                    <% end %>
                                <% end %>
                                <% if @tablesetting %>
                                    <span style="display:none" id="orderUpdatedSpan" data-bs-delay={"hide":500} data-bs-toggle="tooltip" data-bs-placement="left" title="Order Updated!">
                                        <button id="orderUpdatedButton" type="button" class="btn btn-sm btn-danger">
                                            <i class="bi bi-arrow-clockwise"></i>
                                        </button>
                                    </span>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <%= @tablesetting.name %>
                                    </button>
                                <% else %>
                                    <% if current_user %>
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                          <div class="btn-group" role="group">
                                            <button id="menu-actions" type="button" class="btn btn-sm btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                              <%= t(".table") %>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="allergyn-actions">
                                              <% Smartmenu.where( restaurant_id: @restaurant.id, menu_id: @menu.id ).each do |smartmenu| %>
                                                  <% if smartmenu.tablesetting && smartmenu.tablesetting.status == 'free' %>
                                                      <li>
                                                        <%= link_to smartmenu_path(smartmenu.slug), class: "dropdown-item" do %>
                                                            <%= smartmenu.tablesetting.name %>
                                                        <% end %>
                                                      </li>
                                                  <% end %>
                                              <% end %>
                                            </ul>
                                          </div>
                                        </div>
                                    <% end %>
                                <% end %>
                                <% if current_user %>
                                    <%= link_to edit_menu_path(@menu), class: 'btn btn-sm btn-dark' do %>
                                        <i class="bi bi-pencil-fill"></i>
                                    <% end %>
                                <% end %>
                            </span>
                        </div>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                <h5>
                    <%= @menu.name %>
                    <% if current_user %>
                    <% else %>
                        <% if @ordrparticipant %>
                            <span id="filterMenuSpan">
                                <button type="button" class="btn btn-sm btn-light position-relative" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#filterOrderModal">
                                    <i class="bi bi-filter"></i>
                                    <% if @ordrparticipant.allergyns.size > 0 %>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            <%= @ordrparticipant.allergyns.size %>
                                            <span class="visually-hidden"></span>
                                        </span>
                                    <% end %>
                                </button>
                            </span>
                        <% end %>
                    <% end %>
                </h5>
            </div>

            <div class="col-7">
                <span class="float-end">
                    <% if @tablesetting %>
                        <% if @openOrder %>
                            <% if @openOrder.status == 'opened' %>
                                <span id="viewOrderSpan">
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#viewOrderModal">
                                        Order <i class="bi bi-cart"></i>:<%= number_to_currency(@openOrder.runningTotal, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %>
                                    </button>
                                </span>
                            <% end %>
                            <% if @openOrder.status == 'ordered' %>
                                <span id="requestBillSpan">
                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#requestBillModal">
                                    Bill <i class="bi bi-receipt"></i></i>
                                </button>
                                </span>
                                <span id="viewOrderSpan">
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#viewOrderModal">
                                        Order <i class="bi bi-cart"></i>:<%= number_to_currency(@openOrder.runningTotal, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %>
                                    </button>
                                </span>
                            <% end %>
                            <% if @openOrder.status == 'billrequested' %>
                                <% if current_user %>
                                    <span id="takePaymentSpan">
                                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#payOrderModal">
                                            Take Payment <i class="bi bi-credit-card"></i>
                                        </button>
                                    </span>
                                <% else %>
                                    <span id="staffAlertedSpan">
                                        <button type="button" class="btn btn-sm btn-danger">
                                            Staff Alerted <i class="bi bi-receipt"></i></i>
                                        </button>
                                    </span>
                                <% end %>
                            <% end %>
                        <% else %>
                            <% if @menu.allowOrdering == true && @menu.restaurant.allowOrdering == true %>
                                    <span id="startOrderSpan">
                                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#openOrderModal">Start Order <i class="bi bi-plus-circle"></i></button>
                                    </span>
                            <% end %>
                        <% end %>
                    <% end %>
                </span>
            </div>
        </div>
        <div style="height:40px"class="container-fluid">
            <nav id="navbar-example2" style="position:relative; left:-10px;width:106%;mask-image: linear-gradient(to right, #008080, rgba(0,32,32,0) 140%" class="nav flex-nowrap overflow-auto">
              <ul style="position:relative; left:-37px" class="d-flex">
                <% @menu.menusections.order(:sequence).each do |menusection| %>
                      <a style='margin:5px' class="sectionnav btn btn-sm btn-outline-secondary text-nowrap" href="#menusection_<%= menusection.id %>"><%= menusection.name %></a>
                <% end %>
                <a style='margin:5px' class="sectionnav btn btn-sm btn-outline-danger text-nowrap" href="#menusection_allergyns">Allergens</a>
              </ul>
            </nav>
        </div>
      </div>
    </div>