<div id="contextContainer" data-controller="state"
  data-session="<%= session.id %>"
  <% if order %> data-order-id="<%= order.id %>" data-order-status="<%= order.status %>" <% end %>
  <% if tablesetting %> data-table-id="<%= tablesetting.id %>" <% end %>
  <% if current_employee %> data-employee-id="<%= current_employee.id %>" <% end %>
  <% if menu %> data-menu-id="<%= menu.id %>" data-menu-allow-ordering="<%= menu.allowOrdering ? '1' : '0' %>" data-menu-voice-ordering-enabled="<%= menu.voiceOrderingEnabled ? '1' : '0' %>" <% end %>
  <% if restaurant.present? %>
    data-restaurant-id="<%= restaurant.id %>"
    data-allow-alcohol="<%= restaurant.allow_alcohol ? '1' : '0' %>"
    data-alcohol-allowed-now="<%= restaurant.alcohol_allowed_now? ? '1' : '0' %>"
    data-alcohol-verify-age-text="<%= t('smartmenus.alcohol.verify_age') %>"
    data-alcohol-sales-disabled-text="<%= t('smartmenus.alcohol.sales_disabled') %>"
    data-alcohol-policy-blocked-text="<%= t('smartmenus.alcohol.policy_blocked', default: 'Alcohol not available at this time.') %>"
  <% end %>
  <% if ordrparticipant %> data-participant-id="<%= ordrparticipant.id %>" <% end %>
  <% if menuparticipant %> data-menu-participant-id="<%= menuparticipant.id %>" <% end %>
></div>