    <div class="menu-item-card-mobile" data-name="<%= mi.name.to_s.downcase %>" data-description="<%= mi.description.to_s.downcase %>">
        <div class="card">
            <% if mi.description? %>
                <div style='padding:5px' class="card-header">
                    <span>
                        <% if ordrparticipant && ordrparticipant.preferredlocale %>
                            <%= mi.localised_name(ordrparticipant.preferredlocale) %>
                        <% else %>
                            <% if menuparticipant && menuparticipant.preferredlocale %>
                                <%= mi.localised_name(menuparticipant.preferredlocale) %>
                            <% else %>
                                <%= mi.name %>
                            <% end %>
                        <% end %>
                    </span>
                </div>
            <% end %>
            <% if menu.displayImages == true && menu.restaurant.displayImages == true && mi.image %>
                <div class="row">
                    <div class="col-5">
                        <div class="ratio ratio-1x1">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="m-5" role="status">
                                    <span class="visually-hidden"><%= t('.loading') %></span>
                                </div>
                            </div>
                            <%= picture_tag_with_webp(mi.image,
                              alt: mi.name,
                              sizes: mi.image_sizes,
                              class_name: 'img-fluid',
                              loading: 'lazy',
                              quality: 85
                            ) %>
                        </div>
                    </div>
                    <div style='padding-left:0px' class="col-7">
                        <h6 style='padding-top:5px;padding-right:10px;'>
                            <% if ordrparticipant && ordrparticipant.preferredlocale %>
                                <small><%= mi.localised_description(ordrparticipant.preferredlocale) %></small>
                            <% else %>
                                <% if menuparticipant && menuparticipant.preferredlocale %>
                                    <% if mi.description? %>
                                        <small><%= mi.localised_description(menuparticipant.preferredlocale) %></small>
                                    <% else %>
                                        <small><%= mi.localised_name(menuparticipant.preferredlocale) %></small>
                                    <% end %>
                                <% else %>
                                    <% if mi.description? %>
                                        <small><%= mi.description %></small>
                                    <% else %>
                                        <small><%= mi.name %></small>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </h6>
                    </div>
                </div>
                <%= render partial: "smartmenus/showMenuitemHorizontalActionBar", locals: { order: order, mi: mi, ordrparticipant: ordrparticipant, menuparticipant: menuparticipant, restaurantCurrency: restaurantCurrency } %>
            <% else %>
                <div class="row">
                    <div class="col-12">
                        <h6 style='padding-left:10px;padding-right:10px;padding-top:5px'>
                            <% if ordrparticipant && ordrparticipant.preferredlocale %>
                                <small><%= mi.localised_description(ordrparticipant.preferredlocale) %></small>
                            <% else %>
                                <% if menuparticipant && menuparticipant.preferredlocale %>
                                    <small><%= mi.localised_description(menuparticipant.preferredlocale) %></small>
                                <% else %>
                                    <small><%= mi.description %></small>
                                <% end %>
                            <% end %>
                        </h6>
                    </div>
                </div>
                <%= render partial: "smartmenus/showMenuitemHorizontalActionBar", locals: { order: order, mi: mi, ordrparticipant: ordrparticipant, menuparticipant: menuparticipant, restaurantCurrency: restaurantCurrency } %>
            <% end %>
        </div>
    </div>