<!-- Modal -->
<div class="modal fade" id="viewOrderModal" tabindex="-1" aria-labelledby="viewOrderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewOrderModalLabel"><%= t(".yourOrder")%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if @openOrder %>
            <div class="row">
                <div class="col-8">
                </div>
                <div class="col-2">
                </div>
                <div class="col-2">
                  <span class="float-end">
                    <b><%= t(".price")%></b>
                  </span>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <p>Selected</p>
                </div>
                <div class="col-10">
                    <hr>
                </div>
            </div>
            <% @openOrder.ordractions.includes([:ordritem]).each do |ordraction| %>
                <% if ordraction.ordritem && ordraction.ordritem.status == 'added' && ordraction.ordritem.in?(@openOrder.ordritems) %>
                    <div id="ordritem_<%= ordraction.ordritem.id %>" style="margin-top:5px" class="row">
                        <div class="col-8">
                            <div class="d-flex w-100 overflow-hidden">
                                <p class="text-truncate">
                                    <button type="button" class="removeItemFromOrderButton btn btn-sm btn-dark"
                                        data-bs-ordritem_id="<%= ordraction.ordritem.id %>">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                    <% if @ordrparticipant && @ordrparticipant.preferredlocale %>
                                        <%= ordraction.ordritem.menuitem.localisedName(@ordrparticipant.preferredlocale) %>
                                    <% else %>
                                        <% if @menuparticipant && @menuparticipant.preferredlocale %>
                                            <%= ordraction.ordritem.menuitem.localisedName(@menuparticipant.preferredlocale) %>
                                        <% else %>
                                            <%= ordraction.ordritem.menuitem.name %>
                                        <% end %>
                                    <% end %>
                                </p>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="d-flex w-100 overflow-hidden">
                                <p class="text-truncate">
                                    <%= ordraction.ordrparticipant.name %>
                                </p>
                            </div>
                        </div>
                        <div class="col-2">
                            <span class="float-end">
                                <%= number_to_currency(ordraction.ordritem.ordritemprice, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %>
                            </span>
                        </div>
                    </div>
                <% end %>
            <% end %>
            <div class="row">
                <div class="col-2">
                    <p>Submitted</p>
                </div>
                <div class="col-10">
                    <hr>
                </div>
            </div>
            <% @openOrder.ordractions.includes([:ordritem]).each do |ordraction| %>
                <% if ordraction.ordritem && ordraction.ordritem.status == 'ordered' && ordraction.ordritem.in?(@openOrder.ordritems) %>
                    <div id="ordritem_<%= ordraction.ordritem.id %>" style="margin-top:5px" class="row">
                        <div class="col-8">
                            <div class="d-flex w-100 overflow-hidden">
                                <p class="text-muted text-truncate">
                                    <button type="button" class="btn btn-sm btn-dark">
                                        <i class="bi bi-arrow-right-circle-fill"></i>
                                    </button>
                                    <% if @ordrparticipant && @ordrparticipant.preferredlocale %>
                                        <%= ordraction.ordritem.menuitem.localisedName(@ordrparticipant.preferredlocale) %>
                                    <% else %>
                                        <% if @menuparticipant && @menuparticipant.preferredlocale %>
                                            <%= ordraction.ordritem.menuitem.localisedName(@menuparticipant.preferredlocale) %>
                                        <% else %>
                                            <%= ordraction.ordritem.menuitem.name %>
                                        <% end %>
                                    <% end %>
                                </p>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="d-flex w-100 overflow-hidden">
                                <p class="text-muted text-truncate">
                                    <%= ordraction.ordrparticipant.name %>
                                </p>
                            </div>
                        </div>
                        <div class="col-2">
                            <span class="text-muted float-end">
                                <%= number_to_currency(ordraction.ordritem.menuitem.price, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %>
                            </span>
                        </div>
                    </div>
                <% end %>
            <% end %>
            <div class="row">
                <div class="col-8">
                </div>
                <div class="col-2">
                    <b><%= t(".total")%>:</b>
                </div>
                <div class="col-2">
                    <span class="float-end"><b><%= number_to_currency(@openOrder.nett, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %></b></span>
                </div>
            </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <% if @openOrder && @openOrder.nett > 0 %>
            <button id="confirm-order" type="button" data-bs-dismiss="modal" class="btn btn-dark">Submit Order</button>
        <% else %>
            <button id="confirm-order" type="button" data-bs-dismiss="modal" class="btn btn-dark" disabled>Submit Order</button>
        <% end %>
      </div>
    </div>
  </div>
</div>