<div class="d-flex gap-1" role="group">
    <div class="btn-group" role="group">
        <button id="table-selector-customer" type="button" class="btn-touch-dark btn-touch-sm dropdown-toggle br-0-0-8-8" data-bs-toggle="dropdown" aria-expanded="false">
            <% if tablesetting %>
                <%= tablesetting.name %>
            <% else %>
                <%= t(".table") %>
            <% end %>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark z-index-1000 dropdown-padding-y-05 table-dropdown-menu" style="max-height: 400px; overflow-y: auto;">
            <% Smartmenu.where( restaurant_id: restaurant.id, menu_id: menu.id ).includes([:tablesetting]).order('id ASC').each do |smartmenu| %>
                <% if smartmenu.tablesetting && smartmenu.tablesetting.status == 'free' %>
                    <li>
                        <%= link_to smartmenu_path(smartmenu.slug), data: { turbo: false }, class: "dropdown-item min-h-44 d-flex align-items-center py-2 px-3", 'data-filter-text': smartmenu.tablesetting.name do %>
                            <%= smartmenu.tablesetting.name %>
                        <% end %>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
    <% active_locales = restaurant.restaurantlocales.where(status: 'active') %>
    <% if active_locales.any? %>
        <% available_locales = I18n.available_locales.map(&:to_s) %>
        <% selected_locale = nil %>
        <% if ordrparticipant && ordrparticipant.preferredlocale.present? && available_locales.include?(ordrparticipant.preferredlocale.downcase) %>
            <% selected_locale = ordrparticipant.preferredlocale.downcase %>
        <% elsif menuparticipant && menuparticipant.preferredlocale.present? && available_locales.include?(menuparticipant.preferredlocale.downcase) %>
            <% selected_locale = menuparticipant.preferredlocale.downcase %>
        <% elsif restaurant.defaultLocale %>
            <% default_locale = restaurant.defaultLocale.locale.to_s.downcase %>
            <% if available_locales.include?(default_locale) %>
                <% selected_locale = default_locale %>
            <% elsif available_locales.include?(I18n.default_locale.to_s) %>
                <% selected_locale = I18n.default_locale.to_s %>
            <% end %>
        <% end %>
        <div class="btn-group position-relative z-index-10000" role="group">
            <button id="lovale-actions" type="button" class="btn-touch-dark btn-touch-sm dropdown-toggle br-0-0-8-8 min-w-60" data-bs-toggle="dropdown" aria-expanded="false">
                    <% if selected_locale && restaurant.getLocale(selected_locale) %>
                        <img src="<%= restaurant.getLocale(selected_locale).flag %>" class="rounded-1 border border-white flag-icon-selected">
                    <% else %>
                        <i class="bi bi-translate"></i>
                    <% end %>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-padding-y-05 dropdown-min-w-0 z-index-10000" aria-labelledby="locales">
                <% active_locales.each do |restaurantlocale| %>
                    <li>
                        <a class="dropdown-item min-h-44 d-flex align-items-center py-2 px-3" href="#">
                            <img src="<%= restaurantlocale.flag %>" data-locale="<%= restaurantlocale.locale.downcase %>" tooltip="<%= restaurantlocale.language %>" class="setparticipantlocale rounded-1 border border-white flag-icon">
                        </a>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
</div>

