  <!-- Restaurant Name & Locale Selector -->
  <div class="header-restaurant-row">
    <% if current_user %>
      <%= link_to edit_restaurant_menu_path(@menu.restaurant, @menu), class: 'restaurant-name' do %>
        <%= @menu.restaurant.name %>
      <% end %>
    <% else %>
      <span class="restaurant-name"><%= @menu.restaurant.name %></span>
    <% end %>
    
    <div class="locale-selector" id="tableLocaleSelectorContainer">
      <% if current_user %>
        <%= render partial: "showTableLocaleSelectorStaff", locals: { menu: @menu, restaurant: @menu.restaurant, tablesetting: @tablesetting, ordrparticipant: @ordrparticipant, menuparticipant: @menuparticipant } %>
      <% else %>
        <%= render partial: "showTableLocaleSelectorCustomer", locals: { menu: @menu, restaurant: @menu.restaurant, tablesetting: @tablesetting, ordrparticipant: @ordrparticipant, menuparticipant: @menuparticipant } %>
      <% end %>
    </div>
  </div>

  <!-- Order Controls -->
  <div class="header-order-row" id="openOrderContainer">
    <% if @openOrder %>
      <% if current_user %>
        <%= render partial: "orderStaff", locals: { order: @openOrder, menu: @openOrder.menu, restaurant: @openOrder.menu.restaurant, tablesetting: @tablesetting, ordrparticipant: @ordrparticipant } %>
      <% else %>
        <%= render partial: "orderCustomer", locals: { order: @openOrder, menu: @openOrder.menu, restaurant: @openOrder.menu.restaurant, tablesetting: @tablesetting, ordrparticipant: @ordrparticipant } %>
      <% end %>
    <% else %>
      <% if current_user %>
        <%= render partial: "orderStaff", locals: { order: nil, menu: @menu, restaurant: @menu.restaurant, tablesetting: @tablesetting, ordrparticipant: @ordrparticipant } %>
      <% else %>
        <%= render partial: "orderCustomer", locals: { order: nil, menu: @menu, restaurant: @menu.restaurant, tablesetting: @tablesetting, ordrparticipant: @ordrparticipant } %>
      <% end %>
    <% end %>
  </div>
  <!-- Navigation: Search & Sections -->
  <div class="menu-sections-nav-mobile">
    <!-- Search and Filter Row -->
    <div class="sections-filter-row">
      <input type="text" 
             id="menu-item-search" 
             class="menu-search-input" 
             placeholder="<%= t('.search_menu', default: 'Search menu...') %>">
      
      <% unless current_user %>
        <% if @ordrparticipant %>
          <button type="button" 
                  class="filter-button" 
                  data-bs-toggle="modal" 
                  data-bs-restaurant="<%= @menu.restaurant.id %>" 
                  data-bs-menu="<%= @menu.id %>" 
                  data-bs-target="#filterOrderModal"
                  aria-label="<%= t('.filter_allergens', default: 'Filter allergens') %>">
            <i class="bi bi-filter"></i>
            <% if @ordrparticipant.allergyns.size > 0 %>
              <span class="filter-badge"><%= @ordrparticipant.allergyns.size %></span>
            <% end %>
          </button>
        <% end %>
      <% end %>
    </div>
    
    <!-- Section Tabs -->
    <div class="sections-tabs-container">
      <nav id="navbar-example2" class="sections-tabs">
        <a class="section-tab" href="#menusection_allergyns">
          <%= t(".allergyns", default: 'Allergens') %>
        </a>
        
        <% @menu.menusections.order(:sequence).each do |menusection| %>
          <a class="section-tab sectionnav" href="#menusection_<%= menusection.id %>">
            <% if @ordrparticipant && @ordrparticipant.preferredlocale %>
              <%= menusection.localised_name(@ordrparticipant.preferredlocale) %>
            <% elsif @menuparticipant && @menuparticipant.preferredlocale %>
              <%= menusection.localised_name(@menuparticipant.preferredlocale) %>
            <% else %>
              <%= menusection.name %>
            <% end %>
          </a>
        <% end %>
      </nav>
    </div>
  </div>