    <div style="padding-top:20px" class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <% if @menu.displayImages == true && @menu.restaurant.displayImages == true %>
                <% if menuitem.image %>
                    <div class="row">
                        <div class="col-12">
                            <div class="ratio ratio-1x1">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="m-5" role="status">
                                        <span class="visually-hidden"><%= t('.loading') %></span>
                                    </div>
                                </div>
                                <%= picture_tag_with_webp(menuitem.image,
                                  alt: menuitem.name,
                                  sizes: menuitem.image_sizes,
                                  class_name: 'card-img-top img-fluid',
                                  style: '-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));display:none;',
                                  onload: 'fadeIn(this)',
                                  loading: 'lazy',
                                  quality: 85
                                ) %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <% if @menu.displayImages == true && @menu.restaurant.displayImages == true %>
                                <div class="col-12">
                                    <h6 class="card-title"><strong><%= menuitem.name %></strong></h6>
                                    <span style="position:relative;top:-100px" class="float-end">
                                        <div class="btn-group" role="group" aria-label="<%= t('.allergyns') %>">
                                            <% menuitem.allergyns.each do |allergyn| %>
                                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= allergyn.name %>">
                                                    <%= allergyn.symbol %>
                                                </button>
                                            <% end %>
                                        </div>
                                    </span>
                                </div>
                            <% else %>
                                <div class="col-9">
                                    <h6 style='padding-top:5px' class="card-title"><strong><%= menuitem.name %></strong></h6>
                                </div>
                                <div class="col-3">
                                    <span class="float-end">
                                        <div class="btn-group" role="group" aria-label="<%= t('.allergyns') %>">
                                            <% menuitem.allergyns.each do |allergyn| %>
                                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= allergyn.name %>">
                                                    <%= allergyn.symbol %>
                                                </button>
                                            <% end %>
                                        </div>
                                    </span>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <% if @menu.displayImages == true && @menu.restaurant.displayImages == true %>
                        <div style='padding-top:0px;' class="col-12">
                            <h6><small><%= menuitem.description %></small></h6>
                        </div>
                    <% else %>
                        <div class="col-12">
                            <h6><small><%= menuitem.description %></small></h6>
                        </div>
                    <% end %>
                    <div class="col-12">
                        <span class="float-end">
                            <h6 class="card-title">
                                <%= number_to_currency(menuitem.price, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %>
                                <% if @openOrder %>
                                        <button type="button" class="addItemToOrder btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-target="#addItemToOrderModal" <%= 'disabled' if @tablesetting.nil? %>
                                            data-bs-ordr_id="<%= @openOrder.id %>"
                                            data-bs-menuitem_id="<%= menuitem.id %>"
                                            data-bs-menuitem_name="<%= menuitem.name %>"
                                            data-bs-menuitem_price="<%= menuitem.price %>"
                                            data-bs-menuitem_description="<%= menuitem.description %>"
                                            data-bs-menuitem_image="<%= menuitem.image_url %>"
                                            title="<%= t('.add_to_order') %>">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                <% end %>
                            </h6>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>