  <style>
    .flag-icon {
      width: 35px;
      height: 25px;
      object-fit: cover;
    }
  </style>
  <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-12">
                <div style="padding-top:5px" class="row">
                    <div class="col-8">
                        <% if current_user %>
                           <%= link_to edit_menu_path(@menu), class: 'link-dark' do %>
                               <h5><%= @menu.restaurant.name %></h5>
                           <% end %>
                        <% else %>
                            <h5><%= @menu.restaurant.name %></h5>
                        <% end %>
                    </div>
                    <div class="col-4">
                        <span class="float-end">
                                <%= render "showTableSelector" %>
                                <% if current_user %>
                                <% else %>
                                    <%= render "showLocalSelector" %>
                                <% end %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <h5>
                    <%= @menu.name %>
                    <% if current_user %>
                    <% else %>
                        <% if @ordrparticipant %>
                            <span id="filterMenuSpan">
                                <button type="button" class="btn btn-sm btn-light position-relative" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#filterOrderModal">
                                    <i class="bi bi-filter"></i>
                                    <% if @ordrparticipant.allergyns.size > 0 %>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            <%= @ordrparticipant.allergyns.size %>
                                            <span class="visually-hidden"></span>
                                        </span>
                                    <% end %>
                                </button>
                            </span>
                        <% end %>
                    <% end %>
                </h5>
            </div>

            <div class="col-7">
                            <span class="float-end">
                                <% if current_user %>
                                <% else %>
                                    <% if @ordrparticipant && @ordrparticipant.name == nil %>
                                        <span id="addYourNameSpan">
                                            <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#addNameToParticipantModal">
                                              <i class="bi bi-person-fill-add"></i>
                                            </button>
                                        </span>
                                    <% else %>
                                        <% if @ordrparticipant && @ordrparticipant.name %>
                                        <span id="addYourNameSpan">
                                            <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#addNameToParticipantModal">
                                                <small><%= @ordrparticipant.name %></small>&nbsp;<i class="bi bi-pencil-fill"></i>
                                            </button>
                                        </span>
                                        <% end %>
                                    <% end %>
                                <% end %>
                                <% if @tablesetting %>
                                    <%= render "order" %>
                                <% end %>
                            </span>
            </div>
        </div>
        <div style="height:40px"class="container-fluid">
            <nav id="navbar-example2" style="position:relative; left:-10px;width:106%;mask-image: linear-gradient(to right, #008080, rgba(0,32,32,0) 140%" class="nav flex-nowrap overflow-auto">
              <ul style="position:relative; left:-37px" class="menu_sections_tab d-flex">
                <% @menu.menusections.order(:sequence).each do |menusection| %>
                      <a style='margin:5px' class="sectionnav btn btn-sm btn-outline-secondary text-nowrap" href="#menusection_<%= menusection.id %>"><%= menusection.name %></a>
                <% end %>
                <a style='margin:5px' class="sectionnav btn btn-sm btn-outline-danger text-nowrap" href="#menusection_allergyns">Allergens</a>
              </ul>
            </nav>
        </div>
      </div>
    </div>