    <div class="col-12 col-md-6 col-lg-4 pt-3">
        <div class="card">
            <% if @menu.displayImages == true && @menu.restaurant.displayImages == true %>
                <% if menuitem.image %>
                    <div class="row">
                        <div class="col-12">
                            <div class="ratio ratio-1x1">
                                <% item_index = menuitem_counter || 0 %>
                                <%= picture_tag_with_webp(menuitem.image,
                                  alt: menuitem.name,
                                  sizes: menuitem.image_sizes,
                                  class_name: 'card-img-top img-fluid blur-up',
                                  loading: item_index < 6 ? 'eager' : 'lazy',
                                  fetchpriority: item_index < 3 ? 'high' : 'auto',
                                  onload: 'this.classList.add("loaded")',
                                  quality: 85,
                                  model: menuitem
                                ) %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <% if @menu.displayImages == true && @menu.restaurant.displayImages == true %>
                                <div class="col-12">
                                    <h6 class="card-title d-flex align-items-center gap-2"><strong><%= menuitem.name %></strong>
                                      <% if menuitem.respond_to?(:alcoholic?) && menuitem.alcoholic? %>
                                        <span class="badge bg-danger" title="<%= t('smartmenus.alcohol.flag') %>"><% if menuitem.wine? %>🍷<% elsif menuitem.beer? %>🍺<% elsif menuitem.cocktail? %>🍹<% elsif menuitem.whiskey? || menuitem.spirit? || menuitem.other_spirit? || menuitem.liqueur? %>🥃<% else %><%= t('smartmenus.alcohol.flag') %><% end %></span>
                                      <% elsif menuitem.respond_to?(:alcohol_classification) && menuitem.alcohol_classification == 'non_alcoholic' %>
                                        <span class="badge bg-secondary" title="<%= t('smartmenus.alcohol.non_alcoholic') %>"><%= t('smartmenus.alcohol.zero_abv_short') %></span>
                                      <% end %>
                                    </h6>
                                    <span class="float-end allergen-float">
                                        <div class="btn-group" role="group" aria-label="<%= t('.allergyns') %>">
                                            <% menuitem.allergyns.each do |allergyn| %>
                                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= allergyn.name %>">
                                                    <%= allergyn.symbol %>
                                                </button>
                                            <% end %>
                                        </div>
                                    </span>
                                </div>
                            <% else %>
                                <div class="col-9">
                                    <h6 style='padding-top:5px' class="card-title d-flex align-items-center gap-2"><strong><%= menuitem.name %></strong>
                                      <% if menuitem.respond_to?(:alcoholic?) && menuitem.alcoholic? %>
                                        <span class="badge bg-danger" title="<%= t('smartmenus.alcohol.flag') %>"><% if menuitem.wine? %>🍷<% elsif menuitem.beer? %>🍺<% elsif menuitem.cocktail? %>🍹<% elsif menuitem.whiskey? || menuitem.spirit? || menuitem.other_spirit? || menuitem.liqueur? %>🥃<% else %><%= t('smartmenus.alcohol.flag') %><% end %></span>
                                      <% elsif menuitem.respond_to?(:alcohol_classification) && menuitem.alcohol_classification == 'non_alcoholic' %>
                                        <span class="badge bg-secondary" title="<%= t('smartmenus.alcohol.non_alcoholic') %>"><%= t('smartmenus.alcohol.zero_abv_short') %></span>
                                      <% end %>
                                    </h6>
                                </div>
                                <div class="col-3">
                                    <span class="float-end">
                                        <div class="btn-group" role="group" aria-label="<%= t('.allergyns') %>">
                                            <% menuitem.allergyns.each do |allergyn| %>
                                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= allergyn.name %>">
                                                    <%= allergyn.symbol %>
                                                </button>
                                            <% end %>
                                        </div>
                                    </span>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <% if @menu.displayImages == true && @menu.restaurant.displayImages == true %>
                        <div style='padding-top:0px;' class="col-12">
                            <h6><small><%= menuitem.description %></small></h6>
                        </div>
                    <% else %>
                        <div class="col-12">
                            <h6><small><%= menuitem.description %></small></h6>
                        </div>
                    <% end %>
                    <div class="col-12">
                        <span class="float-end">
                            <h6 class="card-title">
                                <%= number_to_currency(menuitem.price, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %>
                                <% if @openOrder %>
                                        <button type="button" class="addItemToOrder btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-target="#addItemToOrderModal" <%= 'disabled' if @tablesetting.nil? %>
                                            data-bs-ordr_id="<%= @openOrder.id %>"
                                            data-bs-menuitem_id="<%= menuitem.id %>"
                                            data-bs-menuitem_name="<%= menuitem.name %>"
                                            data-bs-menuitem_price="<%= menuitem.price %>"
                                            data-bs-menuitem_description="<%= menuitem.description %>"
                                            data-bs-menuitem_image="<%= menuitem.optimised_modal_url %>"
                                            data-bs-menuitem_alcoholic="<%= (menuitem.respond_to?(:alcoholic?) && menuitem.alcoholic?) ? '1' : '0' %>"
                                            title="<%= t('.add_to_order') %>">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                <% end %>
                            </h6>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>