<div id="contextContainer">
    <div class="d-none" id="currentSession"><%= session.id %></div>
    <% if order %>
        <div class="d-none" id="currentOrder"><%= order.id %></div>
        <div class="d-none" id="currentOrderStatus"><%= order.status %></div>
    <% end %>
    <% if tablesetting %>
        <div class="d-none" id="currentTable"><%= tablesetting.id %></div></div>
    <% end %>
    <% if current_employee %>
        <div class="d-none" id="currentEmployee"><%= current_employee.id %></div>
    <% end %>
    <% if menu %>
        <div class="d-none" id="currentMenu"><%= menu.id %></div>
        <% if menu.restaurant %>
            <div class="d-none" id="currentRestaurant"><%= menu.restaurant.id %></div>
        <% end %>
    <% end %>
    <% if ordrparticipant %>
        <div class="d-none" id="currentParticipant"><%= ordrparticipant.id %></div>
    <% end %>
    <% if menuparticipant %>
        <div class="d-none" id="menuParticipant"><%= menuparticipant.id %></div>
    <% end %>
</div>