    <div style="padding-top:20px" class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <div style='padding:5px' class="card-header">
                        <span>
                            <% if @ordrparticipant && @ordrparticipant.preferredlocale %>
                                <%= menuitem.localisedName(@ordrparticipant.preferredlocale) %>
                            <% else %>
                                <% if @menuparticipant && @menuparticipant.preferredlocale %>
                                    <%= menuitem.localisedName(@menuparticipant.preferredlocale) %>
                                <% else %>
                                    <%= menuitem.name %>
                                <% end %>
                            <% end %>
                        </span>
            </div>
            <% if @menu.displayImages == true && @menu.restaurant.displayImages == true && menuitem.image %>
                <div class="row">
                    <div class="col-5">
                        <div class="ratio ratio-1x1">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="m-5" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <%= render "showImage", src: menuitem.image_url, alt: menuitem.name, cached: true %>
                        </div>
                    </div>
                    <div style='padding-left:0px' class="col-7">
                        <h6 style='padding-top:5px;padding-right:10px;'>
                            <% if @ordrparticipant && @ordrparticipant.preferredlocale %>
                                <small><%= menuitem.localisedDescription(@ordrparticipant.preferredlocale) %></small>
                            <% else %>
                                <% if @menuparticipant && @menuparticipant.preferredlocale %>
                                    <small><%= menuitem.localisedDescription(@menuparticipant.preferredlocale) %></small>
                                <% else %>
                                    <small><%= menuitem.description %></small>
                                <% end %>
                            <% end %>
                        </h6>
                    </div>
                </div>
                <%= render "showMenuitemHorizontalActionBar", menuitem: menuitem %>
            <% else %>
                <div class="row">
                    <div class="col-12">
                        <h6 style='padding-left:10px;padding-right:10px;padding-top:5px'>
                            <% if @ordrparticipant && @ordrparticipant.preferredlocale %>
                                <small><%= menuitem.localisedDescription(@ordrparticipant.preferredlocale) %></small>
                            <% else %>
                                <% if @menuparticipant && @menuparticipant.preferredlocale %>
                                    <small><%= menuitem.localisedDescription(@menuparticipant.preferredlocale) %></small>
                                <% else %>
                                    <small><%= menuitem.description %></small>
                                <% end %>
                            <% end %>
                        </h6>
                    </div>
                </div>
                <%= render "showMenuitemHorizontalActionBar", menuitem: menuitem %>
            <% end %>
        </div>
    </div>
