  <!-- Restaurant Name & Locale Selector -->
  <% if !current_user && @restaurant&.respond_to?(:unclaimed?) && @restaurant.unclaimed? && @restaurant.preview_enabled? %>
    <div class="alert alert-warning mb-0 py-1 px-2 rounded-0 d-flex align-items-center justify-content-between unclaimed-preview-banner" role="alert" data-testid="unclaimed-preview-banner">
      <span>
        <i class="bi bi-info-circle me-1"></i><%= t('.auto_generated_preview') %>
      </span>
      <a class="alert-link ms-2 unclaimed-preview-link" data-bs-toggle="collapse" href="#unclaimedDetails" role="button" aria-expanded="false" aria-controls="unclaimedDetails">
        <%= t('.more') %> <i class="bi bi-chevron-down"></i>
      </a>
    </div>
    <div class="collapse" id="unclaimedDetails">
      <div class="bg-warning bg-opacity-10 text-center py-2 px-2 unclaimed-details-body">
        <%= t('.based_on_public_info') %>
        <%= link_to t('.claim_restaurant'), new_restaurant_claim_request_path(@restaurant), class: 'alert-link' %>
        &middot;
        <%= link_to t('.request_removal'), new_restaurant_removal_request_path(@restaurant), class: 'alert-link' %>
      </div>
    </div>
  <% end %>

  <div class="header-restaurant-row">
    <% if current_user %>
      <%= link_to edit_restaurant_menu_path(@restaurant, @menu), class: 'restaurant-name' do %>
        <%= @restaurant.name %>
      <% end %>
    <% else %>
      <span class="restaurant-name"><%= @restaurant.name %></span>
    <% end %>
    
    <div class="locale-selector" id="tableLocaleSelectorContainer">
      <% if current_user %>
        <%= render partial: "showTableLocaleSelectorStaff", locals: { menu: @menu, restaurant: @restaurant, tablesetting: @tablesetting, ordrparticipant: @ordrparticipant, menuparticipant: @menuparticipant, table_smartmenus: @table_smartmenus } %>
      <% else %>
        <%= render partial: "showTableLocaleSelectorCustomer", locals: { menu: @menu, restaurant: @restaurant, tablesetting: @tablesetting, ordrparticipant: @ordrparticipant, menuparticipant: @menuparticipant, table_smartmenus: @table_smartmenus, active_locales: @active_locales, default_locale: @default_locale } %>
      <% end %>
    </div>
  <noscript>
    <style>
      /* If JS is disabled, keep header visible */
      .header-order-row { visibility: visible !important; }
    </style>
  </noscript>
  </div>
  </div>

  <!-- Order Controls -->
  <div class="header-order-row" id="openOrderContainer" data-controller="order-header menu-layout" data-order-header-customer-value="true" style="visibility:hidden">
    <% if @openOrder %>
      <%= render partial: "orderCustomer", locals: { order: @openOrder, menu: @openOrder.menu, restaurant: @restaurant, tablesetting: @tablesetting, ordrparticipant: @ordrparticipant } %>
    <% else %>
      <%= render partial: "orderCustomer", locals: { order: nil, menu: @menu, restaurant: @restaurant, tablesetting: @tablesetting, ordrparticipant: @ordrparticipant } %>
    <% end %>
  </div>
  <!-- Navigation: Search & Sections -->
  <div class="menu-sections-nav-mobile" data-controller="scrollspy" data-scrollspy-offset-value="200">
    <!-- Search Row (Full Width) -->
    <div class="sections-search-row">
      <input type="text" 
             id="menu-item-search" 
             class="menu-search-input" 
             placeholder="<%= t('.search_menu', default: 'Search menu...') %>"
             data-menu-search-target="input"
             data-action="input->menu-search#filter"
             data-testid="menu-search-input">
    </div>
    
    <!-- Section Tabs -->
    <div class="sections-tabs-container">
      <nav id="navbar-example2" class="sections-tabs" data-scrollspy-target="nav">
        <% @menu.menusections.sort_by { |s| s.sequence.to_i }.each do |menusection| %>
          <a class="section-tab sectionnav" href="#menusection_<%= menusection.id %>">
            <% if @ordrparticipant && @ordrparticipant.preferredlocale %>
              <%= menusection.localised_name(@ordrparticipant.preferredlocale) %>
            <% elsif @menuparticipant && @menuparticipant.preferredlocale %>
              <%= menusection.localised_name(@menuparticipant.preferredlocale) %>
            <% else %>
              <%= menusection.name %>
            <% end %>
          </a>
        <% end %>
        <a class="section-tab" href="#menusection_allergyns">
          <%= t(".allergyns", default: 'Allergens') %>
        </a>
      </nav>
    </div>
  </div>