    <div class="row">
        <div class="col-12 col-md-12 col-lg-12" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            <% menu.menusections.order(:sequence).each do |menusection| %>
                <div class="padding-top-lg" id="menusection_<%= menusection.id %>"></div>
                <% if menu.displayImages == true && menu.restaurant.displayImages == true %>
                    <% if menusection.image %>
                        <div class="card border-light text-bg-dark">
                            <img src="<%= menusection.image_url %>" class="card-img height-150" alt="<%= menusection.name %>">
                            <div class="card-img-overlay">
                                <h3 class="card-title"><%= menusection.name %></h3>
                                <p class="card-text"><%= menusection.description %></p>
                                <% if menusection.tasting_menu? %>
                                  <%# Controls moved into Courses panel header below %>
                                <% end %>
                            </div>
                        </div>
                    <% else %>
                        <div class="row">
                            <div class="col-12">
                                <span class='h3'>
                                    <% if ordrparticipant && ordrparticipant.preferredlocale %>
                                        <%= menusection.localised_name(ordrparticipant.preferredlocale) %>
                                    <% else %>
                                        <% if menuparticipant && menuparticipant.preferredlocale %>
                                            <%= menusection.localised_name(menuparticipant.preferredlocale) %>
                                        <% else %>
                                            <%= menusection.name %>
                                        <% end %>
                                    <% end %>
                                    <% if menusection.restricted == true %>
                                        <span class='float-end'>
                                            <div class="input-group input-group-sm w-140px">
                                              <button class="btn btn-outline-secondary tasting-qty-decr" type="button" aria-label="Decrease">-</button>
                                              <input type="number" class="form-control text-center tasting-qty" value="1" min="1">
                                              <button class="btn btn-outline-secondary tasting-qty-incr" type="button" aria-label="Increase">+</button>
                                            </div>
                                        </span>
                                    <% end %>
                                </span>
                                <% if menusection.restricted == true %>
                                  <%= format_time_range(menusection.fromhour, menusection.frommin, menusection.tohour, menusection.tomin) %>
                                  <div class="d-none" id="sectionFromOffset"><%= menusection.fromOffset %></div>
                                  <div class="d-none" id="sectionToOffset"><%= menusection.toOffset %></div>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                        <div class="row">
                            <div class="col-12">
                                <span class='h3'>
                                    <% if ordrparticipant && ordrparticipant.preferredlocale %>
                                        <%= menusection.localised_name(ordrparticipant.preferredlocale) %>
                                    <% else %>
                                        <% if menuparticipant && menuparticipant.preferredlocale %>
                                            <%= menusection.localised_name(menuparticipant.preferredlocale) %>
                                        <% else %>
                                            <%= menusection.name %>
                                        <% end %>
                                    <% end %>
                                    <% if menusection.restricted == true %>
                                        <span class='float-end'>
                                          <small class="text-muted">
                                            <%= format_time_range(menusection.fromhour, menusection.frommin, menusection.tohour, menusection.tomin) %>
                                            <div class='d-none' id="sectionFromOffset"><%= menusection.fromOffset %></div>
                                            <div class='d-none' id="sectionToOffset"><%= menusection.toOffset %></div>
                                          </small>
                                        </span>
                                    <% end %>
                                </span>
                            </div>
                        </div>
                <% end %>
                <% if menusection.tasting_menu? %>
                  <% 
                    section_items = menusection.menuitems.where(status: 'active').order(:sequence)
                    carrier = Menuitem.where(menusection_id: menusection.id, tasting_carrier: true).first
                    tasting_meta = {
                      section_id: menusection.id,
                      section_name: menusection.name,
                      price_per: menusection.price_per,
                      tasting_price_cents: menusection.tasting_price_cents.to_i,
                      allow_pairing: menusection.allow_pairing,
                      pairing_price_cents: menusection.pairing_price_cents.to_i,
                      carrier_id: carrier&.id,
                      items: section_items.map { |it| { id: it.id, name: it.name, optional: it.tasting_optional, supplement_cents: it.tasting_supplement_cents.to_i } }
                    }
                  %>
                  <div class="card border-secondary mt-2">
                    <div class="card-body p-2">
                      <div class="row opacity-75 pointer-events-none" aria-disabled="true" title="Courses are part of the tasting menu bundle and cannot be added individually">
                        <% menusection.menuitems.includes([:allergyns,:menuitem_size_mappings]).where(status: 'active').order(:sequence).each do |menuitem| %>
                          <% next if menuitem.tasting_carrier || menuitem.hidden %>
                          <% if ordrparticipant == nil || ordrparticipant && (ordrparticipant.allergyns & menuitem.allergyns).empty? %>
                            <%= render partial: "smartmenus/showMenuitemStaff", locals: { order: order, menu: menu, ordrparticipant: ordrparticipant, menuparticipant: menuparticipant, menuitem: menuitem, tablesetting: tablesetting } %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                    <%= render partial: "smartmenus/tasting_courses_footer", locals: { tasting_meta: tasting_meta, menusection: menusection, order: order } %>
                  </div>
                <% else %>
                  <div class="row" data-testid="menu-items-row-<%= menusection.id %>">
                    <% menusection.menuitems.includes([:allergyns,:menuitem_size_mappings]).where(status: 'active').order(:sequence).each do |menuitem| %>
                      <% if ordrparticipant == nil || ordrparticipant && (ordrparticipant.allergyns & menuitem.allergyns).empty? %>
                        <%= render partial: "smartmenus/showMenuitemStaff", locals: { order: order, menu: menu, ordrparticipant: ordrparticipant, menuparticipant: menuparticipant, menuitem: menuitem, tablesetting: tablesetting } %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
        <% end %>
        <%= render partial: "smartmenus/showAllergyns", locals: { allergyns: allergyns }  %>
        <%= render partial: "smartmenus/showCoverCharge", locals: { menu: menu, restaurantCurrency: restaurantCurrency } %>
      </div>
    </div>
