<!-- Modal -->
<div class="modal fade" id="payOrderModal" tabindex="-1" aria-labelledby="payOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="payOrderModalLabel">Pay Bill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <% if @openOrder %>
                            <div class="row">
                                <div class="col-9">
                                    <b>Item</b>
                                </div>
                                <div class="col-3">
                                    <span class="float-end">
                                        <b>Price</b>
                                    </span>
                                </div>
                            </div>
                            <% if @openOrder.covercharge > 0 %>
                                <div class="row">
                                    <div class="col-10">
                                        Cover Charge
                                    </div>
                                    <div class="col-2">
                                      <span class="float-end">
                                        <%= number_to_currency(@openOrder.covercharge, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %>
                                      </span>
                                    </div>
                                </div>
                            <% end %>
                            <div class="row">
                                <div class="col-9">
                                    Nett
                                </div>
                                <div class="col-3">
                                    <span class="float-end">
                                        <%= number_to_currency(@openOrder.nett, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %>
                                    </span>
                                </div>
                            </div>
                            <% if @openOrder.service > 0 %>
                                <div class="row">
                                    <div class="col-9">
                                        Service
                                    </div>
                                    <div class="col-3">
                                        <span class="float-end">
                                            <%= number_to_currency(@openOrder.service, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %>
                                        </span>
                                    </div>
                                </div>
                            <% end %>
                            <% if @openOrder.tax > 0 %>
                                <div class="row">
                                    <div class="col-9">
                                        Tax
                                    </div>
                                    <div class="col-3">
                                        <span class="float-end">
                                            <%= number_to_currency(@openOrder.tax, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %>
                                        </span>
                                    </div>
                                </div>
                            <% end %>
                            <div class="row">
                                <div class="col-9">
                                </div>
                                <div class="col-3">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <b>Total</b> <i>(excl. tip)</i>
                                </div>
                                <div class="col-3">
                                    <span class="float-end">
                                        <b><%= @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "" %><span id="orderGross"><%= number_to_currency(@openOrder.gross, unit: "") %></span></b>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <span class="float-end">
                                        <div style="position:relative;left:15px" class="btn-toolbar btn-toolbar-sm mb-3" role="toolbar" aria-label="Tip Options">
                                            <div class="btn-group btn-group-sm mr-2" role="group" aria-label="First group">
                                                <% @openOrder.menu.restaurant.tips.sort_by(&:percentage).each do |tip| %>
                                                    <button type="button" class="btn btn-sm btn-secondary"><span class="tipPreset"><%= tip.percentage %></span>%</button>
                                                <% end %>
                                                <input id="tipNumberField" style="width:80px" type="number" min="0.00" max="<%= number_to_currency(@openOrder.gross, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %>" class="form-control float-end text-end" id="tip" value="0.00">
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                </div>
                                <div class="col-3">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <b>Total</b> <i>(incl. tip)</i>
                                </div>
                                <div class="col-3">
                                    <span class="float-end">
                                        <b><span id="orderGrandTotal"><%= number_to_currency(@openOrder.gross, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %></span></b>
                                    </span>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <% if @openOrder && @openOrder.gross > 0 %>
                    <button id="pay-order" type="button" data-bs-dismiss="modal" class="btn btn-dark">Confirm Payment</button>
                <% else %>
                    <button id="pay-order" type="button" data-bs-dismiss="modal" class="btn btn-dark" disabled>Confirm Payment</button>
                <% end %>
            </div>
        </div>
    </div>
</div>