<div id="<%= dom_id smartmenu %>">
  <p>
    <strong>Slug:</strong>
    <%= smartmenu.slug %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= smartmenu.restaurant_id %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= smartmenu.menu_id %>
  </p>

  <p>
    <strong>Tablesetting:</strong>
    <%= smartmenu.tablesetting_id %>
  </p>

</div>
