<div id="<%= dom_id smartmenu %>">
  <p>
    <strong><%= t('.slug') %></strong>
    <%= smartmenu.slug %>
  </p>

  <p>
    <strong><%= t('.restaurant') %></strong>
    <%= smartmenu.restaurant_id %>
  </p>

  <p>
    <strong><%= t('.menu') %></strong>
    <%= smartmenu.menu_id %>
  </p>

  <p>
    <strong><%= t('.tablesetting') %></strong>
    <%= smartmenu.tablesetting_id %>
  </p>

</div>
