


<div class="row">
  <div class="col-sm-6">
    <h1>Smartmenus</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_smartmenu_path, class: 'btn btn-dark' do %>
    Add New Smartmenu
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Slug</th>
            <th>Restaurant</th>
            <th>Menu</th>
            <th>Tablesetting</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @smartmenus.each do |smartmenu| %>
        <%= content_tag :tr, id: dom_id(smartmenu), class: dom_class(smartmenu) do %>
          

                      <td><%= smartmenu.slug %></td>
                      <td><%= smartmenu.restaurant %></td>
                      <td><%= smartmenu.menu %></td>
                      <td><%= smartmenu.tablesetting %></td>
          
          
            <td><%= link_to 'Show', smartmenu %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
