<%= render 'shared/currency' %>
<% if current_user %>
<div id="menuu" style="padding-bottom:10px;box-shadow: 0 4px 2px -2px gray;" class="sticky-top bg-white">
<% else %>
<div id="menuc" style="padding-bottom:10px;box-shadow: 0 4px 2px -2px gray;" class="sticky-top bg-white">
<% end %>
    <%= render "showMenuBanner" %>
</div>

<div class="row">
    <div class="col-12 col-md-12 col-lg-12" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <% @menu.menusections.order(:sequence).each do |menusection| %>
            <div style="padding-top:20px" id="menusection_<%= menusection.id %>"></div>
            <% if @menu.displayImages == true && @menu.restaurant.displayImages == true %>
                <% if menusection.image %>
                    <div class="card border-light text-bg-dark">
                        <img src="<%= menusection.image_url %>" style="height: 150px" class="card-img" alt="<%= menusection.name %>">
                        <div class="card-img-overlay">
                            <h3 class="card-title"><%= menusection.name %></h3>
                            <p class="card-text"><%= menusection.description %></p>
                        </div>
                    </div>
                <% else %>
                    <h2><%= menusection.name %></h2>
                <% end %>
            <% else %>
                <h2><%= menusection.name %></h2>
            <% end %>
            <div class="row">
                <% menusection.menuitems.includes([:allergyns,:menuitem_size_mappings]).order(:sequence).each do |menuitem| %>
                    <% if @ordrparticipant == nil || @ordrparticipant && (@ordrparticipant.allergyns & menuitem.allergyns).empty? %>
                        <% if current_user %>
                            <%= render "showMenuitemStaff", menuitem: menuitem %>
                        <% else %>
                            <%= render "showMenuitemHorizontal", menuitem: menuitem %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
    <%end %>
    <%= render "showAllergyns" %>
  </div>
</div>

<%= render "showOpenOrderModal" %>
<%= render "showViewOrderModal" %>
<%= render "showRequestBillModal" %>
<%= render "showPayOrderModal" %>
<%= render "showAddNameToParticipantModal" %>
<%= render "showAddItemToOrderModal" %>
<%= render "showFilterOrderModal" %>
<%= render "showContext" %>

