<%= render 'shared/currency' %>
<% if current_user %>
<div id="menuu" style="padding-bottom:10px;box-shadow: 0 4px 2px -2px gray;" class="sticky-top bg-white">
<% else %>
<div id="menuc" style="padding-bottom:10px;box-shadow: 0 4px 2px -2px gray;" class="sticky-top bg-white">
<% end %>
    <%= render "showMenuBanner" %>
</div>

<% if @currentUser && @openOrder %>
    <%= render "showMenuContent" %>
<% else %>
    <% if @currentUser %>
    <% else %>
        <%= render "showMenuContent" %>
    <% end %>
<% end %>
<div id="smartmenu"></div>
<%= render "showOpenOrderModal" %>
<%= render "showViewOrderModal" %>
<%= render "showRequestBillModal" %>
<%= render "showPayOrderModal" %>
<%= render "showAddNameToParticipantModal" %>
<%= render "showAddItemToOrderModal" %>
<%= render "showFilterOrderModal" %>
<%= render "showContext" %>



