<%= form_with(model: userplan) do |form| %>
  <%= form.hidden_field :user_id, value: @current_user.id %>
  <div class="mb-3">
    <%= form.label :plan_id, class: 'form-label' %>
      <%= form.select :plan_id, options_for_select(Plan.limit(100).collect { |p| [t(p.key), p.id] }), {}, { class: 'form-select'}%>
      <%# For large numbers of plans, consider AJAX/autocomplete for scalability %>
    </div>
  </div>

  <div class="mb-3">
    <% if userplan.persisted? %>
      <div class="float-end">
        <%= link_to t('common.delete'), userplan, method: :delete, class: "text-danger", data: { confirm: t('common.confirm') } %>
      </div>
    <% end %>
    <%= form.submit value: t('common.save'), class: 'btn btn-dark' %>
    <% if userplan.persisted? %>
      <%= link_to t('common.cancel'), userplan, class: "btn btn-link" %>
    <% else %>
      <%= link_to t('common.cancel'), userplans_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
