  <% if menu.persisted? %>
    <div class="row mb-3">
      <div class="col-12">
          <div class="float-end">
            <div class="btn-group-2025" role="group">
              <div style='display:none'>
                  <%= button_to 'Optimise Images', regenerate_images_restaurant_menu_path(@restaurant || @menu.restaurant, @menu), method: :post, class: 'btn-2025 btn-2025-secondary btn-2025-sm', data: { turbo: false, confirm: 'Regenerate WebP derivatives for existing images?' }, title: 'Regenerate WebP derivatives for existing menu item images' %>
              </div>
              <%= button_to regenerate_images_restaurant_menu_path(@restaurant || @menu.restaurant, @menu, generate_ai: true), method: :post, class: 'btn-2025 btn-2025-secondary btn-2025-sm', data: { turbo: false, confirm: 'Generate new AI images using DALL-E? This will cost API credits.' }, title: 'Generate new AI images for menu items using DALL-E' do %>
                <i class="bi bi-stars"></i> Generate Images
              <% end %>
            </div>
          </div>
      </div>
  </div>
  <% end %>
<%= menu_form_with(menu, auto_save: true, validate: true) do |form| %>
  <div class="form-group row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h4>
                    <%=t(".details")%>
                    <% if menu.id %>
                    <span class="float-end">
                      <% if @menu.smartmenu&.slug %>
                        <%= link_to smartmenu_path(@menu.smartmenu.slug), class: 'btn-2025 btn-2025-secondary btn-2025-sm', target: '_blank' do %>
                          <i class="bi bi-eye-fill"></i> Preview
                        <% end %>
                      <% else %>
                        <button type="button" class="btn-2025 btn-2025-secondary btn-2025-sm" disabled>
                          <i class="bi bi-eye-fill"></i> Preview
                        </button>
                      <% end %>
                    </span>
                    <% end %>
                </h4>
            </div>
        </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :name, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :description, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
        <p>
        <h4><%=t(".pdfSettings")%></h4>
    </div>
  </div>
  <div class="spacing-md"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :pdf_menu_scan, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.file_field :pdf_menu_scan, class: 'form-control', accept: 'application/pdf' %>
      <% if menu.pdf_menu_scan.attached? %>
        <div class="mt-2">
          <strong><%= t('.current_pdf') %></strong>
          <%= link_to menu.pdf_menu_scan.filename, rails_blob_path(menu.pdf_menu_scan, disposition: "attachment"), target: "_blank" %>
          <span class="float-end">
            <%= check_box_tag 'menu[remove_pdf_menu_scan]', '1', false %> <%= t('.remove') %>
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
        <p>
        <h4><%=t(".imageSettings")%></h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :image, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <div class="row">
            <div class="col-10">
              <%= form.hidden_field :image, value: form.object.cached_image_data, id: nil %>
              <%= form.file_field :image, class: 'form-control' %>
            </div>
            <div class="col-2">
              <span class="position-relative-top-neg5 float-md-end"><i class="bi bi-trash"></i> <%= form.check_box :remove_image %></span>
            </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
    </div>
    <div class="col-9">
      <%= image_tag menu.image_url, :class => "img-thumbnail rounded mx-auto d-block" if menu.image %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :imagecontext, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_area :imagecontext, class: 'form-control', rows: 6 %>
    </div>
  </div>


  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-12">
      <h4><%=t(".settings")%></h4>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :status, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= status_select(form, :status) %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :displayImages, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :displayImages, [['On', true], ['Off', false]], { prompt: 'Select option...' }, { class: 'form-control', **select_data_attributes(:default) } %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :displayImagesInPopup, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :displayImagesInPopup, [['On', true], ['Off', false]], { prompt: 'Select option...' }, { class: 'form-control', **select_data_attributes(:default) } %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :allowOrdering, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :allowOrdering, [['On', true], ['Off', false]], { prompt: 'Select option...' }, { class: 'form-control', **select_data_attributes(:default) } %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :inventoryTracking, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :inventoryTracking, [['On', true], ['Off', false]], { prompt: 'Select option...' }, { class: 'form-control', **select_data_attributes(:default) } %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :covercharge, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_field :covercharge, class: 'form-control' %>
    </div>
  </div>
  <div class="display-none">
  <% if @futureParentRestaurant %>
      <%= form.hidden_field :restaurant_id, value: @futureParentRestaurant.id %>
  <% else %>
      <%= form.hidden_field :restaurant_id %>
  <% end %>
  </div>
  <div class="spacing-md"></div>
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-9">
        <div class="d-flex justify-content-end gap-3">
        <% if menu.persisted? %>
          <%= link_to t('common.delete'), restaurant_menu_path(menu.restaurant, menu), method: :delete, class: "btn-2025 btn-2025-outline-danger btn-2025-md", data: { confirm: t('common.confirm') } %>
        <% end %>
        <%= form.submit value: t('common.save'), class: 'btn-2025 btn-2025-primary btn-2025-md' %>
        </div>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <% if menu.errors.any? %>
    <div class="row">
    <div class="col-3">
      <span class="float-md-end"><%= t('common.errors') %></span>
    </div>
    <div class="col-9">
      <ul>
          <% menu.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>