<div id="<%= dom_id menu %>">
  <p>
    <strong>Name:</strong>
    <%= menu.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menu.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= menu.image %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= menu.status %>
  </p>

  <p>
    <strong>Sequence:</strong>
    <%= menu.sequence %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= menu.restaurant_id %>
  </p>

</div>
