<div id="<%= dom_id menu %>">
  <p>
    <strong><%= t('.name') %></strong>
    <%= menu.name %>
  </p>

  <p>
    <strong><%= t('.description') %></strong>
    <%= menu.description %>
  </p>

  <p>
    <strong><%= t('.image') %></strong>
    <%= menu.image %>
  </p>

  <% if menu.pdf_menu_scan.attached? %>
    <p>
      <strong><%= t('.pdf_menu_scan') %></strong>
      <%= link_to menu.pdf_menu_scan.filename, rails_blob_path(menu.pdf_menu_scan, disposition: "attachment"), target: "_blank" %>
    </p>
  <% end %>

  <p>
    <strong><%= t('.status') %></strong>
    <%= menu.status %>
  </p>

  <p>
    <strong><%= t('.sequence') %></strong>
    <%= menu.sequence %>
  </p>

  <p>
    <strong><%= t('.restaurant') %></strong>
    <%= menu.restaurant_id %>
  </p>

</div>
