<%= render 'shared/customcss' %>
<div class="page-header">
  <div class="row">
    <div class="col-sm-10">
      <h3>
        <%= link_to edit_restaurant_path(@menu.restaurant), class: "link-dark" do %>
          <%= @menu.restaurant.name %>
        <% end %>
        <small><i class="bi bi-chevron-compact-right"></i></small>
        <%= @menu.name %>
      </h3>
    </div>
  </div>
</div>

<ul style="height:43px;overflow-y:hidden;" class="nav nav-tabs overflow-auto flex-nowrap" id="menuTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark">
      <%= link_to edit_restaurant_path(@menu.restaurant), class: "link-dark" do %>
        <strong><i class="bi bi-chevron-double-left"></i></strong>
      <% end %>
    </button>
  </li>
</ul>
<ul style="position:relative;top:-43px;left:50px;height:43px;overflow-y:hidden;" class="nav nav-tabs overflow-auto flex-nowrap" id="menuTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark active" id="menu-tab" data-bs-toggle="tab" data-bs-target="#menu" type="button" role="tab" aria-controls="menuConfig" aria-selected="true">Menu</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark" id="menusection-tab" data-bs-toggle="tab" data-bs-target="#menusection" type="button" role="tab" aria-controls="menusectionConfig" aria-selected="false">Sections</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark" id="menuavailability-tab" data-bs-toggle="tab" data-bs-target="#menuavailability" type="button" role="tab" aria-controls="menuavailabilityConfig" aria-selected="false">Availabilites</button>
  </li>
</ul>

<div class="tab-content" id="menuConfig">
  <div class="tab-pane fade show active" id="menu" role="tabpanel" aria-labelledby="home-tab">
    <p>
    <div class="row">
      <div class="col-sm-11">
        <%= render 'form', menu: @menu %>
      </div>
    </div>
  </div>
  <div class="tab-content" id="menusectionConfig">
    <div class="tab-pane fade" id="menusection" role="tabpanel" aria-labelledby="menusection-tab">
      <p>
      <div class="row">
        <div class="col-sm-12">
          <%= render 'showMenusections', menu: @menu, edit: false %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="menuavailabilityConfig">
    <div class="tab-pane fade" id="menuavailability" role="tabpanel" aria-labelledby="menuavailability-tab">
      <p>
      <div class="row">
        <div class="col-sm-12">
          <%= render 'showMenuavailabilities', menu: @menu, edit: false %>
        </div>
      </div>
    </div>
  </div>
</div>

