<%# 
  Edit Menu - 2025 Design System
  Modern form layout with tab navigation
%>

<!-- Page Header -->
<div class="container-fluid px-0 pb-4">
  <div class="d-flex justify-content-between align-items-start flex-wrap gap-3">
    <div>
      <!-- Breadcrumb -->
      <div class="text-sm text-gray-500 mb-2">
        <%= link_to @menu.restaurant.name, edit_restaurant_path(@menu.restaurant), class: 'text-primary' %>
        <i class="bi bi-chevron-right"></i>
        <%= link_to t('.menus', default: 'Menus'), edit_restaurant_path(@menu.restaurant, section: 'menus'), class: 'text-primary' %>
        <i class="bi bi-chevron-right"></i>
        <%= @menu.name %>
      </div>
      
      <h1 class="text-2xl font-semibold text-gray-900 mb-1">
        <i class="bi bi-pencil"></i>
        <%= @menu.name %>
      </h1>
      <p class="text-sm text-gray-500">
        <%= t('.description', default: 'Edit menu configuration and content') %>
      </p>
    </div>
    
    <div class="d-flex gap-2">
      <%= link_to edit_restaurant_path(@menu.restaurant, section: 'menus'), 
          class: 'btn-2025 btn-2025-ghost btn-2025-md' do %>
        <i class="bi bi-arrow-left"></i> <%= t('.back_to_menus', default: 'Back to Menus') %>
      <% end %>
    </div>
  </div>
</div>
<ul class="nav nav-tabs overflow-auto flex-nowrap menu-tabs-main" id="menuTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark active" id="menu-tab" data-bs-toggle="tab" data-bs-target="#menu" type="button" role="tab" aria-controls="menuConfig" aria-selected="true"><%=t(".menu")%></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark" id="menusection-tab" data-bs-toggle="tab" data-bs-target="#menusection" type="button" role="tab" aria-controls="menusectionConfig" aria-selected="false"><%=t(".sections")%></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark" id="menuavailability-tab" data-bs-toggle="tab" data-bs-target="#menuavailability" type="button" role="tab" aria-controls="menuavailabilityConfig" aria-selected="false"><%=t(".availabilities")%></button>
  </li>
</ul>

<div class="menu-content-positioned">
  <div class="tab-content" id="menuConfig">
    <div class="tab-pane fade show active" id="menu" role="tabpanel" aria-labelledby="home-tab">
      <p>
      <div class="row">
        <div class="col-12">
          <%= render 'form', menu: @menu %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="menusectionConfig">
    <div class="tab-pane fade" id="menusection" role="tabpanel" aria-labelledby="menusection-tab">
      <p>
      <div class="row">
        <div class="col-12">
          <%= render 'showMenusections', menu: @menu, edit: false %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="menuavailabilityConfig">
    <div class="tab-pane fade" id="menuavailability" role="tabpanel" aria-labelledby="menuavailability-tab">
      <p>
      <div class="row">
        <div class="col-12">
          <%= render 'showMenuavailabilities', menu: @menu, edit: false %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  .text-gray-900 {
    color: var(--color-gray-900);
  }
  
  .text-gray-500 {
    color: var(--color-gray-500);
  }
  
  .text-sm {
    font-size: 0.875rem;
  }
</style>