<%= render 'shared/customcss' %>
<div class="page-header">
  <div class="row">
    <div class="col-sm-10">
        <h1><%= @menu.name %></h1>
    </div>
    <div class="col-sm-2">
        <% if @menu.persisted? %>
          <%= link_to t(".cancel"), @menu, class: "float-end btn btn-sm btn-light" %>
        <% else %>
          <%= link_to t(".cancel"), menus_path, class: "float-end btn btn-sm btn-light" %>
        <% end %>
    </div>
  </div>
</div>

<ul class="nav nav-tabs" id="menuTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark active" id="menu-tab" data-bs-toggle="tab" data-bs-target="#menu" type="button" role="tab" aria-controls="restaurantConfig" aria-selected="true">Menu</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark" id="menusection-tab" data-bs-toggle="tab" data-bs-target="#menusection" type="button" role="tab" aria-controls="menusectionConfig" aria-selected="false">Sections</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark" id="menuitem-tab" data-bs-toggle="tab" data-bs-target="#menuitem" type="button" role="tab" aria-controls="menuitemConfig" aria-selected="false">Items</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark" id="inventory-tab" data-bs-toggle="tab" data-bs-target="#inventory" type="button" role="tab" aria-controls="inventoryConfig" aria-selected="false">Inventories</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark" id="menuavailability-tab" data-bs-toggle="tab" data-bs-target="#menuavailability" type="button" role="tab" aria-controls="menuavailabilityConfig" aria-selected="false">Availabilites</button>
  </li>
</ul>
<div class="tab-content" id="menuConfig">
  <div class="tab-pane fade show active" id="menu" role="tabpanel" aria-labelledby="home-tab">
    <p>
    <div class="row">
      <div class="col-sm-11">
        <%= render 'form', menu: @menu %>
      </div>
    </div>
  </div>
  <div class="tab-content" id="menusectionConfig">
    <div class="tab-pane fade" id="menusection" role="tabpanel" aria-labelledby="menusection-tab">
      <p>
      <div class="row">
        <div class="col-sm-12">
          Menu Sections
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="menuitemConfig">
    <div class="tab-pane fade" id="menuitem" role="tabpanel" aria-labelledby="menuitem-tab">
      <p>
      <div class="row">
        <div class="col-sm-12">
          Menu Items
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="inventoryConfig">
    <div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
      <p>
      <div class="row">
        <div class="col-sm-12">
          Menu Inventories
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="menuavailabilityConfig">
    <div class="tab-pane fade" id="menuavailability" role="tabpanel" aria-labelledby="menuavailability-tab">
      <p>
      <div class="row">
        <div class="col-sm-12">
          Menu Availabilities
        </div>
      </div>
    </div>
  </div>
</div>

