<%= render 'shared/customcss' %>
<%= render 'shared/currency' %>
<% if current_user %>
    <div class="row">
      <div class="col-sm-6">
        <h1><%= t(".menus") %></h1>
      </div>
          <div class="col-sm-6 text-end">
            <button id="activate-row" class='btn btn-sm btn-success' disabled><%= t(".activate") %></button>
            <button id="deactivate-row"class='btn btn-sm btn-danger' disabled><%= t(".desctivate") %></button>
            <%= link_to new_menu_path, class: 'btn btn-sm btn-primary' do %>
              <i class="bi bi-plus"></i> <%= t(".menu") %>
            <% end %>
          </div>
    </div>
    <div style="padding-top:10px" id="menu-table">
    </div>
<% else %>
    <%= format('%02d',@currentHour) %>:<%= format('%02d',@currentMin) %>
    <% @menus.each do |menu| %>
        <h1><%= menu.name %></h1>
        <ul>
        <% menu.menuavailabilities.each do |menuavailability| %>
            <% if menuavailability.dayofweek == @today %>
                <li>
                    <b>
                        <%= menuavailability.dayofweek%>: <%= format('%02d',menuavailability.starthour)%>:<%= format('%02d',menuavailability.startmin)%> - <%= format('%02d',menuavailability.endhour)%>:<%= format('%02d',menuavailability.endmin)%>
                        <%= @currentHour %>:<%= @currentMin %>
                    </b>
                    <% if @currentHour >= menuavailability.starthour  && @currentHour <= menuavailability.endhour %>
                        <% @tablesettings.each do |tablesetting| %>
                            <%= tablesetting.status %>
                            <% if tablesetting.status == 'free' %>
                                <%= link_to menu_tablesetting_path(menu, tablesetting), class: 'btn btn-success' do %>
                                    <%= tablesetting.name %>
                                <% end %>
                            <% end %>
                            <% if tablesetting.status == 'archived' %>
                                <%= link_to menu_tablesetting_path(menu, tablesetting), class: 'btn btn-light disabled' do %>
                                    <%= tablesetting.name %>
                                <% end %>
                            <% end %>
                            <% if tablesetting.status == 'occupied' %>
                                <%= link_to menu_tablesetting_path(menu, tablesetting), class: 'btn btn-danger' do %>
                                    <%= tablesetting.name %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% else %>
                        <%= t(".unavailable") %>
                    <% end %>
                </li>
            <% end %>
        <% end %>
        </ul>
    <%end %>
<% end %>
