


<div class="row">
  <div class="col-sm-6">
    <h1>Menus</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_menu_path, class: 'btn btn-primary' do %>
    Add New Menu
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Description</th>
            <th>Image</th>
            <th>Status</th>
            <th>Sequence</th>
            <th>Restaurant</th>
            
      </tr>
    </thead>

    <tbody>
      <% @menus.each do |menu| %>
        <%= content_tag :tr, id: dom_id(menu), class: dom_class(menu) do %>
          
            <td><%= link_to menu.name, menu %></td>
          

                      <td><%= menu.description %></td>
                      <td><%= menu.image %></td>
                      <td><%= menu.status %></td>
                      <td><%= menu.sequence %></td>
                      <td><%= menu.restaurant %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
