<%= render 'shared/customcss' %>
<div class="page-header">
  <div class="row">
    <div class="col-10">
        <h2><%= t(".menu") %></h2>
    </div>
    <div class="col-2">
        <% if @menu.persisted? %>
          <%= link_to "Cancel", edit_restaurant_path(id: @menu.restaurant.id), class: "float-end btn btn-light" %>
        <% else %>
          <% if @futureParentRestaurant %>
              <%= link_to t('.cancel'), edit_restaurant_path(id: @futureParentRestaurant.id), class: "float-end btn btn-light" %>
          <% else %>
              <%= link_to t('.cancel'), menus_path, class: "float-end btn btn-light" %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= render 'form', menu: @menu %>
  </div>
</div>
