<%= render 'shared/currency' %>
<% if current_user %>
<div id="menuu" style="padding-bottom:10px;box-shadow: 0 4px 2px -2px gray;" class="sticky-top bg-white">
<% else %>
<div id="menuc" style="padding-bottom:10px;box-shadow: 0 4px 2px -2px gray;" class="sticky-top bg-white">
<% end %>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-12">
                    <div style="padding-top:5px" class="row">
                        <div class="col-7">
                            <h2>
                                <%= @menu.restaurant.name %>
                            </h2>
                        </div>
                        <div class="col-5">
                            <span class="float-end">
                                <% if current_user %>
                                    <%= link_to edit_menu_path(@menu), class: 'btn btn-sm btn-dark' do %>
                                        <i class="bi bi-pencil-fill"></i>
                                    <% end %>
                                <% end %>
                                <% if @ordrparticipant && @ordrparticipant.name == nil %>
                                    <span id="addYourNameSpan">
                                        <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#addNameToParticipantModal">
                                          <i class="bi bi-person-fill-add"></i>
                                        </button>
                                    </span>
                                <% else %>
                                    <% if @ordrparticipant && @ordrparticipant.name %>
                                            <b><%= @ordrparticipant.name %></b>
                                    <% end %>
                                <% end %>
                                <% if @tablesetting %>
                                    <span style="display:none" id="orderUpdatedSpan" data-bs-delay={"hide":500} data-bs-toggle="tooltip" data-bs-placement="left" title="<%= t('.order_updated') %>">
                                        <button id="orderUpdatedButton" type="button" class="btn btn-sm btn-danger">
                                            <i class="bi bi-arrow-clockwise"></i>
                                        </button>
                                    </span>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <%= @tablesetting.name %>
                                    </button>
                                <% end %>
                            </span>
                        </div>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                <h4>
                    <%= @menu.name %>
                    <% if current_user %>
                    <% else %>
                        <% if @ordrparticipant %>
                            <span id="filterMenuSpan">
                                <button type="button" class="btn btn-sm btn-light position-relative" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#filterOrderModal">
                                    <i class="bi bi-filter"></i>
                                    <% if @ordrparticipant.allergyns.size > 0 %>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            <%= @ordrparticipant.allergyns.size %>
                                            <span class="visually-hidden"></span>
                                        </span>
                                    <% end %>
                                </button>
                            </span>
                        <% end %>
                    <% end %>
                </h4>
            </div>
            <div class="col-7">
                <span class="float-end">
                    <% if @tablesetting %>
                        <% if @openOrder %>
                            <% if @openOrder.status == 'opened' %>
                                <span id="viewOrderSpan">
                                    <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#viewOrderModal">
                                        <%= t('.order') %> <i class="bi bi-cart"></i>:<%= number_to_currency(@openOrder.runningTotal, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %>
                                    </button>
                                </span>
                            <% end %>
                            <% if @openOrder.status == 'ordered' %>
                                <span id="requestBillSpan">
                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#requestBillModal">
                                    <%= t('.bill') %> <i class="bi bi-receipt"></i></i>
                                </button>
                                </span>
                                <span id="viewOrderSpan">
                                    <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#viewOrderModal">
                                        <%= t('.order') %> <i class="bi bi-cart"></i>:<%= number_to_currency(@openOrder.runningTotal, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %>
                                    </button>
                                </span>
                            <% end %>
                            <% if @openOrder.status == 'billrequested' %>
                                <% if current_user %>
                                    <span id="takePaymentSpan">
                                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#payOrderModal">
                                            <%= t('.take_payment') %> <i class="bi bi-credit-card"></i>
                                        </button>
                                    </span>
                                <% else %>
                                    <span id="staffAlertedSpan">
                                        <button type="button" class="btn btn-sm btn-danger">
                                            <%= t('.staff_alerted') %> <i class="bi bi-receipt"></i></i>
                                        </button>
                                    </span>
                                <% end %>
                            <% end %>
                        <% else %>
                            <% if @menu.allowOrdering == true && @menu.restaurant.allowOrdering == true %>
                                    <span id="startOrderSpan">
                                        <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#openOrderModal"><%= t('.start_order') %> <i class="bi bi-plus-circle"></i></button>
                                    </span>
                            <% end %>
                        <% end %>
                    <% end %>
                </span>
            </div>
        </div>
        <div style="height:40px"class="container-fluid">
            <nav id="navbar-example2" style="position:relative; left:-10px" class="nav flex-nowrap overflow-auto">
              <ul style="position:relative; left:-37px" class="d-flex">
                <% @menu.menusections.order(:sequence).each do |menusection| %>
                      <a style='margin:5px' class="sectionnav btn btn-sm btn-outline-secondary text-nowrap" href="#menusection_<%= menusection.id %>"><%= menusection.name %></a>
                <% end %>
                    <a style='margin:5px' class="sectionnav btn btn-sm btn-outline-danger text-nowrap" href="#menusection_allergyns"><%= t('.allergens') %></a>
              </ul>
            </nav>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-12 col-md-12 col-lg-12" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    <% @menu.menusections.order(:sequence).each do |menusection| %>
        <div style="padding-top:20px" id="menusection_<%= menusection.id %>"></div>
        <% if @menu.displayImages == true && @menu.restaurant.displayImages == true %>
            <% if menusection.image %>
                <div class="card border-light text-bg-dark">
                  <img src="<%= menusection.image_url %>" style="height: 150px" class="card-img" alt="<%= menusection.name %>">
                  <div class="card-img-overlay">
                    <h3 class="card-title"><%= menusection.name %></h3>
                    <p class="card-text"><%= menusection.description %></p>
                  </div>
                </div>
            <% else %>
                <h2><%= menusection.name %></h2>
            <% end %>
        <% else %>
            <h2><%= menusection.name %></h2>
        <% end %>
        <div class="row">
            <% menusection.menuitems.order(:sequence).each do |menuitem| %>
                <% if @ordrparticipant == nil || @ordrparticipant && (@ordrparticipant.allergyns & menuitem.allergyns).empty? %>
                    <div style="padding-top:20px" class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                          <% if @menu.displayImages == true && @menu.restaurant.displayImages == true %>
                            <% if menuitem.image %>
                                <div class="ratio ratio-1x1">
                                    <div class="d-flex justify-content-center align-items-center">
                                      <div class="spinner-border m-5" role="status">
                                        <span class="visually-hidden"><%= t('.loading') %></span>
                                      </div>
                                    </div>
                                  <img class="img-thumbnail card-img-bottom" style="display:none;" onload="fadeIn(this)" src="<%= menuitem.image_url %>" alt="<%= menuitem.name %>">
                                </div>
                            <% end %>
                          <% end %>
                          <div class="card-body">
                                 <div class="row">
                                    <% if @menu.allowOrdering == true && @menu.restaurant.allowOrdering == true %>
                                        <div class="col-10">
                                             <div class="row">
                                                <div class="col-9">
                                                    <h5 class="card-title"><%= menuitem.name %> <span class="float-end"></span></h5>
                                                </div>
                                                <div class="col-3">
                                                    <h5 style="margin-top:5px" class="float-end card-title"><%= number_to_currency(menuitem.price, unit: @restaurantCurrency.symbol ? @restaurantCurrency.symbol : "") %></span></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <span class="float-end">
                                                <% if @openOrder %>
                                                    <button type="button" class="addItemToOrder btn btn-dark" data-bs-toggle="modal" data-bs-target="#addItemToOrderModal"
                                                        data-bs-ordr_id="<%= @openOrder.id %>"
                                                        data-bs-menuitem_id="<%= menuitem.id %>"
                                                        data-bs-menuitem_name="<%= menuitem.name %>"
                                                        data-bs-menuitem_price="<%= menuitem.price %>"
                                                        data-bs-menuitem_description="<%= menuitem.description %>"
                                                        data-bs-menuitem_image="<%= menuitem.image %>"
                                                        title="<%= t('.add_to_order') %>">
                                                        <i class="bi bi-plus"></i>
                                                    </button>
                                                <% else %>
                                                    <button type="button" class="addItemToOrder btn btn-dark" disabled>
                                                        <i class="bi bi-plus"></i>
                                                    </button>
                                                <% end %>
                                            </span>
                                        </div>
                                    <% else %>
                                        <div class="col-12">
                                             <div class="row">
                                                <div class="col-9">
                                                    <h5 class="card-title"><%= menuitem.name %> <span class="float-end"></span></h5>
                                                </div>
                                                <div class="col-3">
                                                    <h5 style="margin-top:5px" class="float-end card-title"><%= number_to_currency(menuitem.price, unit: @restaurantCurrency.symbol) %></span></h5>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                 </div>
                                 <div class="row">
                                    <div class="col-12">
                                        <h6 class="card-text">
                                            <%= menuitem.description %>
                                        </h6>
                                        <% if @menu.restaurant.allowOrdering == true && @menu.inventoryTracking == true && menuitem.inventory %>
                                            <% if menuitem.inventory.currentinventory == 0 %>
                                                <i><%= t('.not_available') %></i>
                                            <% else %>
                                                <small><i><b><%= menuitem.inventory.currentinventory %></b> <%= t('.remaining', count: menuitem.inventory.currentinventory) %></i></small>
                                            <% end %>
                                        <% end %>
                                        <div class="row">
                                            <div class="col-12">
                                                <span class="float-end">
                                                    <div class="btn-group" role="group" aria-label="<%= t('.allergyns') %>">
                                                        <% menuitem.allergyns.each do |allergyn| %>
                                                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= allergyn.name %>">
                                                                <%= allergyn.symbol %>
                                                            </button>
                                                        <%end %>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          </div>
                        </div>
                    </div>
                <% end %>
            <%end %>
        </div>
    <%end %>
    <% if @allergyns && @allergyns.length > 0 %>
        <div style="padding-top:20px" id="menusection_allergyns"></div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="mx-auto text-center text-danger col-12">
                        <h2><%= t('.allergens') %></h2>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <% @allergyns.each do |allergyn| %>
                            <b><%= allergyn.symbol %></b> - <%= allergyn.name %>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
  </div>
</div>
