<% if current_user %>
    <div class="page-header">
      <div class="row">
        <div class="col-sm-10">
              <h1>Show Menu</h1>
        </div>
        <div class="col-sm-2">
            <span class="float-end">
              <%= link_to menus_path, class: 'btn btn-light' do %>
                <i class="bi bi-chevron-left"></i>
              <% end %>
              <%= link_to edit_menu_path(@menu), class: 'btn btn-primary' do %>
                <i class="bi bi-pencil-fill"></i>
              <% end %>
            </span>
        </div>
      </div>
    </div>
    <hr>
<% end %>

<div style="display:none">
    <% if @openOrder %>
        currentOrder: <div id="currentOrder"><%= @openOrder.id %></div>
    <% end %>
    <% if @tablesetting %>
        currentTable:<div id="currentTable"><%= @tablesetting.id %></div>
    <% end %>
    <% if current_user %>
        currentEmployee:<div id="currentEmployee"><%= @current_employee.id %></div>
    <% end %>
    currentMenu:<div id="currentMenu"><%= @menu.id %></div>
    currentRestaurant:<div id="currentRestaurant"><%= @menu.restaurant.id %></div>
    <% if @ordrparticipant %>
        currentParticipant:<div id="currentParticipant"><%= @ordrparticipant.id %></div>
    <% end %>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-12">
                <div class="row">
                    <div class="col-10">
                        <h1><%= @menu.restaurant.name %> : <%= @menu.name %></h1>
                    </div>
                    <div class="col-2">
                        <span class="float-end">
                        <% if @ordrparticipant && @ordrparticipant.name == nil %>
                            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addNameToParticipantModal">
                              <i class="bi bi-plus"></i> Name
                            </button>
                        <% else %>
                            <% if @ordrparticipant && @ordrparticipant.name %>
                                <h3>
                                    <%= @ordrparticipant.name %> [1/<%= @openOrder.diners %> diners]
                                </h3>
                            <% end %>
                        <% end %>
                        </span>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>
                <% if @tablesetting %>
                    Table: <%= @tablesetting.id %>
                <% end %>
            </h2>
        </div>
        <div class="col-6">
            <span class="float-end">
                <% if @tablesetting %>
                    <% if @openOrder %>
                        <button type="button" class="btn btn-lg btn-light">
                            Total: <%= number_to_currency(@openOrder.runningTotal) %>
                        </button>
                        <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#closeOrderModal">
                          <i class="bi bi-minus"></i> Close Tab
                        </button>
                    <% else %>
                        <% if @menu.allowOrdering == true && @menu.restaurant.allowOrdering == true %>
                            <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-restaurant="<%= @menu.restaurant.id %>" data-bs-menu="<%= @menu.id %>" data-bs-target="#openOrderModal">
                              <i class="bi bi-plus"></i> Open Tab
                            </button>
                        <% end %>
                    <% end %>
                <% end %>
            </span>
        </div>
    </div>

    <% @menu.menusections.order(:sequence).each do |menusection| %>
        <hr>
        <% if @menu.displayImages == true && @menu.restaurant.displayImages == true %>
            <% if menusection.image %>
                <div class="card border-light text-bg-dark">
                  <img src="<%= menusection.image %>" style="height: 150px" class="card-img" alt="<%= menusection.name %>">
                  <div class="card-img-overlay">
                    <h3 class="card-title"><%= menusection.name %></h3>
                    <p class="card-text"><%= menusection.description %></p>
                  </div>
                </div>
            <% else %>
                <h2><%= menusection.name %></h2>
            <% end %>
        <% else %>
            <h2><%= menusection.name %></h2>
        <% end %>
        <div class="row">
            <% menusection.menuitems.order(:sequence).each do |menuitem| %>
                <div style="padding-top:20px" class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                      <% if @menu.displayImages == true && @menu.restaurant.displayImages == true %>
                          <img class="card-img-bottom" src="<%= menuitem.image %>" alt="<%= menuitem.name %>">
                      <% end %>
                      <div class="card-body">
                             <div class="row">
                                <% if @menu.allowOrdering == true && @menu.restaurant.allowOrdering == true %>
                                    <div class="col-10">
                                         <div class="row">
                                            <div class="col-9">
                                                <h5 class="card-title"><%= menuitem.name %> <span class="float-end"></span></h5>
                                            </div>
                                            <div class="col-3">
                                                <h5 class="float-end card-title"><%= number_to_currency(menuitem.price) %></span></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <span class="float-end">
                                            <% if @openOrder %>
                                                <button type="button" class="addItemToOrder btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#addItemToOrderModal"
                                                    data-bs-ordr_id="<%= @openOrder.id %>",
                                                    data-bs-menuitem_id="<%= menuitem.id %>"
                                                    data-bs-menuitem_name="<%= menuitem.name %>"
                                                    data-bs-menuitem_price="<%= menuitem.price %>"
                                                    data-bs-menuitem_description="<%= menuitem.description %>"
                                                    title="Add to Order">
                                                    <i class="bi bi-plus"></i>
                                                </button>
                                            <% else %>
                                                <button type="button" class="addItemToOrder btn btn-lg btn-primary" disabled>
                                                    <i class="bi bi-plus"></i>
                                                </button>
                                            <% end %>
                                        </span>
                                    </div>
                                <% else %>
                                    <div class="col-12">
                                         <div class="row">
                                            <div class="col-9">
                                                <h5 class="card-title"><%= menuitem.name %> <span class="float-end"></span></h5>
                                            </div>
                                            <div class="col-3">
                                                <h5 class="float-end card-title"><%= number_to_currency(menuitem.price) %></span></h5>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                             </div>
                             <div class="row">
                                <div class="col-12">
                                    <h6 class="card-text">
                                        <%= menuitem.description %>
                                    </h6>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="btn-group" role="group" aria-label="Inventory">
                                                <% if @menu.restaurant.allowOrdering == true && @menu.inventoryTracking == true && menuitem.inventory %>
                                                    <% if menuitem.inventory.currentinventory == 0 %>
                                                        <button type="button" class="btn btn-xs btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= menuitem.inventory.startinginventory %>/<%= menuitem.inventory.currentinventory %>">
                                                            N/A
                                                        </button>
                                                    <% else %>
                                                        <button type="button" class="btn btn-xs btn-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= menuitem.inventory.currentinventory %>/<%= menuitem.inventory.startinginventory %>">
                                                            Inventory: <b><%= menuitem.inventory.currentinventory %></b>/<%= menuitem.inventory.startinginventory %>
                                                        </button>
                                                    <% end %>
                                                <% end %>
                                            </div>
                                            <div class="btn-group" role="group" aria-label="Allergyns">
                                                <% menuitem.tags.each do |tag| %>
                                                    <button type="button" class="btn btn-xs btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= tag.name %>">
                                                        <%= tag.name %>
                                                    </button>
                                                <%end %>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <span class="float-end">
                                                <div class="btn-group" role="group" aria-label="Allergyns">
                                                    <% menuitem.allergyns.each do |allergyn| %>
                                                        <button type="button" class="btn btn-xs btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= allergyn.name %>">
                                                            <%= allergyn.symbol %>
                                                        </button>
                                                    <%end %>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>
                    </div>
                </div>
            <%end %>
        </div>
    <%end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="openOrderModal" tabindex="-1" aria-labelledby="openOrderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="openOrderModalLabel">Open Tab</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="start-order" type="button" data-bs-dismiss="modal" class="btn btn-primary">Open</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="closeOrderModal" tabindex="-1" aria-labelledby="closeOrderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="closeOrderModalLabel">Close Tab</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <% if @openOrder %>
                <div class="col-2">
                    <span class="form-label float-end">Nett:</span>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control" value="<%= number_to_currency(@openOrder.nett) %>" disabled>
                </div>
                <div class="col-2">
                    <span class="form-label float-end">Service:</span>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control" value="<%= number_to_currency(@openOrder.service) %>" disabled>
                </div>
                <div class="col-2">
                    <span class="form-label float-end">Tax:</span>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control" value="<%= number_to_currency(@openOrder.tax) %>" disabled>
                </div>
            <% end %>
          </div>
          <div class="row">
            <div class="col-2">
                <span class="form-label float-end">Add a tip:</span>
            </div>
            <div class="col-10">
                <input type="text" class="form-control" id="tip" value="0">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="close-order" type="button" data-bs-dismiss="modal" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addNameToParticipantModal" tabindex="-1" aria-labelledby="addItemToOrderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addNameToParticipantModalLabel">Personalise your order by adding your name</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <input type="hidden" class="form-control" id="ordr_id">
          <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="addNameToParticipantButton" type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="bi bi-plus"></i> Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addItemToOrderModal" tabindex="-1" aria-labelledby="addItemToOrderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addItemToOrderModalLabel">Add to order</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <input type="hidden" class="form-control" id="ordr_id">
          <input type="hidden" class="form-control" id="menuitem_id">
          <div class="mb-3">
            <label for="menuitem_name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="menuitem_name" disabled>
          </div>
          <div class="mb-3">
            <label for="menuitem_description" class="form-label">Description:</label>
            <textarea class="form-control" id="menuitem_description" disabled></textarea>
          </div>
          <div class="mb-3">
            <label for="menuitem_price" class="form-label">Price:</label>
            <input type="text" class="form-control" id="menuitem_price" disabled>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="addItemToOrderButton" type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="bi bi-plus"></i> Item</button>
      </div>
    </div>
  </div>
</div>
