<% 
  # Determine the restaurant for nested routing
  restaurant = if inventory.menuitem&.menusection&.menu&.restaurant
                 inventory.menuitem.menusection.menu.restaurant
               elsif @futureParentRestaurant
                 @futureParentRestaurant
               else
                 raise "No restaurant context available for inventory form"
               end
%>
<%= form_with(model: [restaurant, inventory]) do |form| %>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :menuItem, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.collection_select :menuitem_id, Menuitem.all ,:id, :name, options = {:prompt => t('.select_menu_item')}%>
    </div>
  </div>
  <div class="spacing-sm"></div>
    <div class="form-group row">
      <div class="col-3">
        <span class="float-md-end"><%= form.label :startingInventory, class: 'col-form-label' %></span>
      </div>
      <div class="col-9">
        <%= form.text_field :startinginventory, data: { numeric: true }, class: 'form-control' %>
      </div>
    </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :currentInventory, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_field :currentinventory, data: { numeric: true }, class: 'form-control' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :resetHour, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_field :resethour, data: { numeric: true }, class: 'form-control' %>
    </div>
  </div>
  <div class="spacing-md"></div>
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
        <span class="float-end">
        <% if inventory.persisted? %>
          <div class="btn btn-dark ">
            <%= link_to t('common.delete'), restaurant_inventory_path(restaurant, inventory), method: :delete, class: "text-white text-decoration-none", data: { confirm: t('common.confirm') } %>
          </div>
        <% end %>
        <%= form.submit value: t('common.save'), class: 'btn btn-dark' %>
        </span>
    </div>
  </div>
  <% if inventory.errors.any? %>
  <div class="row">
    <div class="col-2">
        <%= t('common.errors') %>
    </div>
    <div class="col-10">
      <ul>
          <% inventory.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>
