<div id="<%= dom_id inventory %>">
  <p>
    <strong>Startinginventory:</strong>
    <%= inventory.startinginventory %>
  </p>

  <p>
    <strong>Currentinventory:</strong>
    <%= inventory.currentinventory %>
  </p>

  <p>
    <strong>Resethour:</strong>
    <%= inventory.resethour %>
  </p>

  <p>
    <strong>Menuitem:</strong>
    <%= inventory.menuitem_id %>
  </p>

</div>
