<div id="<%= dom_id inventory %>">
  <p>
    <strong><%= t('.startinginventory') %></strong>
    <%= inventory.startinginventory %>
  </p>

  <p>
    <strong><%= t('.currentinventory') %></strong>
    <%= inventory.currentinventory %>
  </p>

  <p>
    <strong><%= t('.resethour') %></strong>
    <%= inventory.resethour %>
  </p>

  <p>
    <strong><%= t('.menuitem') %></strong>
    <%= inventory.menuitem_id %>
  </p>

</div>
