<div class="page-header">
  <div class="row">
    <div class="col-9">
      <h2><%=t(".inventory")%></h2>
    </div>
    <div class="col-2">
      <% if @inventory.persisted? %>
        <%= link_to t('.cancel'), edit_restaurant_path(id: @inventory.menuitem.menusection.menu.restaurant.id), class: "float-end btn btn-light" %>
      <% else %>
        <% if @futureParentRestaurant %>
          <%= link_to t('.cancel'), edit_restaurant_path(id: @futureParentRestaurant.id), class: "float-end btn btn-light" %>
        <% else %>
          <%= link_to t('.cancel'), restaurant_inventories_path(current_user.restaurants.first), class: "float-end btn btn-light" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= render 'form', inventory: @inventory %>
  </div>
</div>
