<div id="<%= dom_id track %>">
  <p>
    <strong>Externalid:</strong>
    <%= track.externalid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= track.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= track.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= track.image %>
  </p>

  <p>
    <strong>Sequence:</strong>
    <%= track.sequence %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= track.restaurant_id %>
  </p>

</div>
