<span class="display-none" id='spotifyAccessToken'><%= @restaurant.spotifyaccesstoken %></span>
<span class="display-none" id='spotifyRefreshToken'><%= @restaurant.spotifyrefreshtoken %></span>
<div class="row bg-light">
  <div class="padding-bottom-xs col-12 text-end">
    <span id="mellowMenuPlaylist" class='float-start h2'><%= t('.tracks') %></span>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <%= link_to @restaurant.spotifyAuthUrl, id: 'spotifyConnect', class: 'btn btn-dark', data: { turbo: false } do %>
          <i class="bi bi-spotify"></i>
        <% end %>
        <button id="togglePlay"     type="button" class='btn btn-dark' disabled ><i class="bi bi-play-btn-fill"></i></i></button>
        <button id="previousTrack"  type="button" class='btn btn-dark' disabled><i class="bi bi-chevron-double-left"></i></button>
        <button id="nextTrack"      type="button" class='btn btn-dark' disabled><i class="bi bi-chevron-double-right"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="height-90vh-scroll"class="row">
    <% @tracks.each do |track| %>
        <%= render "showTrack", track: track %>
    <% end %>
</div>
