<div id="<%= dom_id employee %>">
  <p>
    <strong><%= t('.name') %></strong>
    <%= employee.name %>
  </p>

  <p>
    <strong><%= t('.eid') %></strong>
    <%= employee.eid %>
  </p>

  <p>
    <strong><%= t('.image') %></strong>
    <%= employee.image %>
  </p>

  <p>
    <strong><%= t('.status') %></strong>
    <%= employee.status %>
  </p>

  <p>
    <strong><%= t('.restaurant') %></strong>
    <%= employee.restaurant_id %>
  </p>

</div>
