<%= form_with(model: employee) do |form| %>
  <div class="form-group row">
    <%= form.label :name, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <%= form.label :eid, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :eid, class: 'form-control' %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <%= form.label :user_id, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
        <%= form.collection_select :user_id, User.all ,:id, :email, options = {:prompt => t(".selectUser")}, html_options = {class: "form-control"}%>
    </div>
  </div>

  <div style='height:4px'></div>
  <div class="form-group row">
    <%= form.label :image, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
        <%= form.text_field :image, class: 'form-control' %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <%= form.label :role, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.select :role, options_for_select(Employee.roles.keys.to_a, form.object.role), {}, class: 'form-control' %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <%= form.label :status, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.select :status, options_for_select(Employee.statuses.keys.to_a, form.object.status), {}, class: 'form-control' %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <%= form.label :restaurant_id, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
        <%= form.collection_select :restaurant_id, Restaurant.all ,:id, :name, options = {:prompt => t(".selectRestaurant")}, html_options = {class: "form-control"}%>
    </div>
  </div>
  <div style='height:8px'></div>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
        <span class="float-end">
        <% if employee.persisted? %>
          <div class="btn btn-danger ">
            <%= link_to t(".delete"), employee, method: :delete, class: "text-white text-decoration-none", data: { confirm: t(".sure") } %>
          </div>
        <% end %>
        <%= form.submit value: t(".save"), class: 'btn btn-primary' %>
        </span>
    </div>
  </div>
  <% if employee.errors.any? %>
  <div class="row">
    <div class="col-sm-2">
        <%=t(".errors")%>
    </div>
    <div class="col-sm-10">
      <ul>
          <% employee.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>
