


<div class="row">
  <div class="col-sm-6">
    <h1>Employees</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_employee_path, class: 'btn btn-primary' do %>
    Add New Employee
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Eid</th>
            <th>Image</th>
            <th>Status</th>
            <th>Restaurant</th>
            
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <%= content_tag :tr, id: dom_id(employee), class: dom_class(employee) do %>
          
            <td><%= link_to employee.name, employee %></td>
          

                      <td><%= employee.eid %></td>
                      <td><%= employee.image %></td>
                      <td><%= employee.status %></td>
                      <td><%= employee.restaurant %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
