<div class="row">
  <div class="col-6">
    <h1><%=t(".employees")%></h1>
  </div>
  <div class="col-6 text-end">
    <% if @futureParentRestaurant %>
      <%= link_to restaurant_path(id: @futureParentRestaurant.id), class: 'btn btn-sm btn-light' do %>
        <i class="bi bi-chevron-left"></i>
      <% end %>
    <% end %>
    <button id="activate-row" class='btn btn-sm btn-success' disabled><%= t('common.activate') %></button>
    <button id="deactivate-row"class='btn btn-sm btn-danger' disabled><%= t('common.deactivate') %></button>
    <% if @futureParentRestaurant %>
      <%= link_to new_restaurant_employee_path(@futureParentRestaurant), class: 'btn btn-sm btn-dark' do %>
    <% else %>
      <%= link_to new_restaurant_employee_path(current_user.restaurants.first), class: 'btn btn-sm btn-dark' do %>
    <% end %>
        <i class="bi bi-plus"></i> <%=t(".employee")%>
    <% end %>
  </div>
</div>
<div class="table-container-spacing table-borderless" id="employee-table">
</div>