<div class="row">
  <div class="col-sm-6">
    <h1><%=t(".employees")%></h1>
  </div>
  <div class="col-sm-6 text-end">
    <button id="activate-row" class='btn btn-success' disabled><%=t(".activate")%></button>
    <button id="deactivate-row"class='btn btn-danger' disabled><%=t(".desctivate")%></button>
    <%= link_to new_employee_path, class: 'btn btn-primary' do %>
        <i class="bi bi-plus"></i> <%=t(".employee")%>
    <% end %>
  </div>
</div>
<div id="employee-table">
</div>