<%= render 'shared/customcss' %>
<div class="page-header">
  <div class="row">
    <div class="col-sm-9">
        <h2><%=t(".employee")%></h2>
    </div>
    <div class="col-sm-2">
        <% if @employee.persisted? %>
          <%= link_to t('.cancel'), edit_restaurant_path(id: @employee.restaurant.id), class: "float-end btn btn-light" %>
        <% else %>
          <% if @futureParentRestaurant %>
              <%= link_to t('.cancel'), edit_restaurant_path(id: @futureParentRestaurant.id), class: "float-end btn btn-light" %>
          <% else %>
              <%= link_to t('.cancel'), employees_path, class: "float-end btn btn-light" %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-11">
    <%= render 'form', employee: @employee %>
  </div>
</div>
