<div class="page-header">
  <div class="row">
    <div class="col-10">
          <h1><%=t(".employee")%> </h1>
    </div>
    <div class="col-2">
        <span class="float-end">
          <%= link_to restaurant_path(id: @employee.restaurant.id), class: 'btn btn-sm btn-light' do %>
            <i class="bi bi-chevron-left"></i>
          <% end %>
          <%= link_to edit_restaurant_employee_path(@employee.restaurant, @employee), class: 'btn btn-sm btn-dark' do %>
            <i class="bi bi-pencil-fill"></i>
          <% end %>
        </span>
    </div>
  </div>
</div>

<%= form_with(model: [@employee.restaurant, @employee]) do |form| %>
  <div class="form-group row">
    <%= form.label :name, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_field :name, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <%= form.label :eid, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_field :eid, class: 'form-control', disabled: 'disabled'  %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <%= form.label :user_id, class: 'col-2 col-form-label' %>
    <div class="col-10">
        <%= form.collection_select :user_id, User.all ,:id, :email, options = {:prompt => t(".selectUser")}, html_options = {disabled: 'disabled'}%>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <%= form.label :image, class: 'col-2 col-form-label' %>
    <div class="col-10">
        <%= form.text_field :image, class: 'form-control', disabled: 'disabled'  %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <%= form.label :role, class: 'col-2 col-form-label', disabled: 'disabled'  %>
    <div class="col-10">
      <%= form.select :role, options_for_select(Employee.roles.keys.to_a, form.object.role), {}, disabled: 'disabled' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <%= form.label :status, class: 'col-2 col-form-label', disabled: 'disabled'  %>
    <div class="col-10">
      <%= form.select :status, options_for_select(Employee.statuses.keys.to_a, form.object.status), {}, disabled: 'disabled' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <%= form.label :restaurant_id, class: 'col-2 col-form-label' %>
    <div class="col-10">
        <%= form.collection_select :restaurant_id, Restaurant.all ,:id, :name, options = {:prompt => t(".selectRestaurant")}, html_options = {disabled: 'disabled'}%>
    </div>
  </div>
<% end %>
