<div id="<%= dom_id genimage %>">
  <p>
    <strong>Image data:</strong>
    <%= genimage.image_data %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= genimage.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= genimage.description %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= genimage.restaurant_id %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= genimage.menu_id %>
  </p>

  <p>
    <strong>Menusection:</strong>
    <%= genimage.menusection_id %>
  </p>

  <p>
    <strong>Menuitem:</strong>
    <%= genimage.menuitem_id %>
  </p>

</div>
