


<div class="row">
  <div class="col-sm-6">
    <h1>Genimages</h1>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Restaurant</th>
            <th>Menu</th>
            <th>Menusection</th>
            <th>Menuitem</th>
            <th>Image data</th>
      </tr>
    </thead>

    <tbody>
      <% @genimages.each do |genimage| %>
        <%= content_tag :tr, id: dom_id(genimage), class: dom_class(genimage) do %>
          
                      <td><%= genimage.id %></td>
                      <td><%= genimage.name %></td>
                      <td><%= genimage.description %></td>
                      <td>
                        <% if genimage.restaurant %>
                            <%= genimage.restaurant.name %>
                        <% end %>
                      </td>
                      <td>
                        <% if genimage.menu %>
                            <%= genimage.menu.name %>
                        <% end %>
                      </td>
                      <td>
                        <% if genimage.menusection %>
                            <%= genimage.menusection.name %>
                        <% end %>
                      </td>
                      <td>
                        <% if genimage.menuitem %>
                            <%= genimage.menuitem.name %>
                        <% end %>
                      </td>
                      <td><%= genimage.image_data %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
