<%= form_with(model: [@restaurant, ordritem]) do |form| %>
  <% if ordritem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ordritem.errors.count, "error") %> prohibited this ordritem from being saved:</h2>

      <ul>
      <% ordritem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :ordr_id, class: 'form-label' %>
      <%= form.text_field :ordr_id, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :menuitem_id, class: 'form-label' %>
      <%= form.text_field :menuitem_id, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if ordritem.persisted? %>
      <div class="float-end">
        <%= link_to t('common.delete'), restaurant_ordritem_path(@restaurant, ordritem), method: :delete, class: "text-danger", data: { confirm: t('common.confirm') } %>
      </div>
    <% end %>

    <%= form.submit value: t('common.save'), class: 'btn btn-dark' %>

    <% if ordritem.persisted? %>
      <%= link_to t('common.cancel'), restaurant_ordritem_path(@restaurant, ordritem), class: "btn btn-link" %>
    <% else %>
      <%= link_to t('common.cancel'), restaurant_ordritems_path(@restaurant), class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
