


<div class="row">
  <div class="col-sm-6">
    <h1>Ordritems</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_ordritem_path, class: 'btn btn-primary' do %>
    Add New Ordritem
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Ordr</th>
            <th>Menuitem</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @ordritems.each do |ordritem| %>
        <%= content_tag :tr, id: dom_id(ordritem), class: dom_class(ordritem) do %>
          

                      <td><%= ordritem.ordr %></td>
                      <td><%= ordritem.menuitem %></td>
          
          
            <td><%= link_to 'Show', ordritem %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
