<%= form_with(model: metric) do |form| %>
  <% if metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(metric.errors.count, "error") %> prohibited this metric from being saved:</h2>

      <ul>
      <% metric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <% if metric.persisted? %>
      <div class="float-end">
        <%= link_to t('common.delete'), metric, method: :delete, class: "text-danger", data: { confirm: t('common.confirm') } %>
      </div>
    <% end %>

    <%= form.submit value: t('common.save'), class: 'btn btn-dark' %>

    <% if metric.persisted? %>
      <%= link_to t('common.cancel'), metric, class: "btn btn-link" %>
    <% else %>
      <%= link_to t('common.cancel'), metrics_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
