<% 
  # Determine the menu for nested routing
  menu = menusection.menu || @futureParentMenu
  raise "No menu context available for menusection form" unless menu
%>
<%= form_with(model: [menu, menusection]) do |form| %>
  <div class="form-group row">
    <div class="col-12">
      <h4><%=t(".details")%></h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :name, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :description, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="spacing-sm"></div>
    <div class="form-group row">
      <div class="col-3">
        <span class="float-md-end"><%= form.label :starthour, class: 'col-form-label' %></span>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-6">
            <%= form.text_field :fromhour, class: 'form-control' %>
          </div>
          <div class="col-6">
            <%= form.text_field :frommin, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :endhour, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
        <div class="row">
          <div class="col-6">
            <%= form.text_field :tohour, class: 'form-control' %>
          </div>
          <div class="col-6">
            <%= form.text_field :tomin, class: 'form-control' %>
          </div>
        </div>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :restricted, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :restricted, [['on', true], ['off', false]], {} %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
        <p>
        <h4><%=t(".imageSettings")%></h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :image, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-10">
          <%= form.hidden_field :image, value: form.object.cached_image_data, id: nil %>
          <%= form.file_field :image, class: 'form-control' %>
        </div>
        <div class="col-2">
          <span class="position-relative-top5 float-md-end"><i class="bi bi-trash"></i> <%= form.check_box :remove_image %></span>
        </div>
      </div>
      <%= image_tag menusection.image_url, :class => "img-fluid" if menusection.image %>
    </div>
  </div>

  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-12">
      <h4><%=t(".settings")%></h4>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :status, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :status, options_for_select(Menusection.statuses.keys.to_a, form.object.status), {}, class: 'form-control' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :menu_id, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.collection_select :menu_id, Menu.all ,:id, :name, options = {:prompt => t(".selectMenu")}%>
    </div>
  </div>
  <div class="spacing-md"></div>
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-9">
        <span class="float-end">
        <% if menusection.persisted? %>
          <div class="btn btn-dark ">
            <%= link_to t(".delete"), menu_menusection_path(menusection.menu, menusection), method: :delete, class: "text-white text-decoration-none", data: { confirm: t(".sure") } %>
          </div>
        <% end %>
        <%= form.submit value: t(".save"), class: 'btn btn-dark' %>
        </span>
    </div>
  </div>
  <% if menusection.errors.any? %>
  <div class="row">
    <div class="col-3">
      <span class="float-md-end"><%= t('common.errors') %></span>
    </div>
    <div class="col-9">
      <ul>
          <% menusection.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>
