<% 
  # Determine the menu and restaurant for nested routing
  menu = menusection.menu || @futureParentMenu
  raise "No menu context available for menusection form" unless menu
  restaurant = menu.restaurant
  raise "No restaurant context available for menusection form" unless restaurant
%>
<%= form_with(model: [restaurant, menu, menusection]) do |form| %>
  <div class="form-group row">
    <div class="col-12">
      <h4><%=t(".details")%></h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :name, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :description, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= t('.availability_time', default: 'Availability Time') %></span>
    </div>
    <div class="col-9">
      <!-- Hidden fields for time values -->
      <%= form.hidden_field :fromhour, class: 'from-hour-field' %>
      <%= form.hidden_field :frommin, class: 'from-min-field' %>
      <%= form.hidden_field :tohour, class: 'to-hour-field' %>
      <%= form.hidden_field :tomin, class: 'to-min-field' %>
      
      <!-- Time Slider -->
      <div class="time-slider-container">
        <!-- Time display above slider -->
        <div class="d-flex justify-content-between align-items-center mb-1">
          <div class="time-display opening-time">
            <i class="bi bi-sunrise"></i>
            <span class="time-value"><%= sprintf('%02d:%02d', menusection.fromhour || 9, menusection.frommin || 0) %></span>
          </div>
          <div class="time-display closing-time">
            <i class="bi bi-sunset"></i>
            <span class="time-value"><%= sprintf('%02d:%02d', menusection.tohour || 22, menusection.tomin || 0) %></span>
          </div>
        </div>
        
        <!-- Range slider -->
        <% 
          open_minutes = ((menusection.fromhour || 9) * 60) + (menusection.frommin || 0)
          close_minutes = ((menusection.tohour || 22) * 60) + (menusection.tomin || 0)
        %>
        <div class="time-range-slider" 
             id="section_time_slider"
             data-open="<%= open_minutes %>"
             data-close="<%= close_minutes %>">
        </div>
      </div>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :restricted, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :restricted, [['on', true], ['off', false]], {} %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
        <p>
        <h4><%=t(".imageSettings")%></h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :image, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-10">
          <%= form.hidden_field :image, value: form.object.cached_image_data, id: nil %>
          <%= form.file_field :image, class: 'form-control' %>
        </div>
        <div class="col-2">
          <span class="position-relative-top5 float-md-end"><i class="bi bi-trash"></i> <%= form.check_box :remove_image %></span>
        </div>
      </div>
      <%= image_tag menusection.image_url, :class => "img-fluid" if menusection.image %>
    </div>
  </div>

  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-12">
      <h4><%=t(".settings")%></h4>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :status, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :status, options_for_select(Menusection.statuses.keys.to_a, form.object.status), {}, class: 'form-control' %>
    </div>
  </div>
  <div class="spacing-md"></div>
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-9">
        <span class="float-end">
        <% if menusection.persisted? %>
          <div class="btn btn-dark ">
            <%= link_to t(".delete"), restaurant_menu_menusection_path(restaurant, menu, menusection), method: :delete, class: "text-white text-decoration-none", data: { confirm: t(".sure") } %>
          </div>
        <% end %>
        <%= form.submit value: t(".save"), class: 'btn btn-dark' %>
        </span>
    </div>
  </div>
  <% if menusection.errors.any? %>
  <div class="row">
    <div class="col-3">
      <span class="float-md-end"><%= t('common.errors') %></span>
    </div>
    <div class="col-9">
      <ul>
          <% menusection.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>
