<div id="<%= dom_id menusection %>">
  <p>
    <strong>Name:</strong>
    <%= menusection.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menusection.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= menusection.image %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= menusection.status %>
  </p>

  <p>
    <strong>Sequence:</strong>
    <%= menusection.sequence %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= menusection.menu_id %>
  </p>

</div>
