<div id="<%= dom_id menusection %>">
  <p>
    <strong><%= t('.name') %></strong>
    <%= menusection.name %>
  </p>

  <p>
    <strong><%= t('.description') %></strong>
    <%= menusection.description %>
  </p>

  <p>
    <strong><%= t('.image') %></strong>
    <%= menusection.image %>
  </p>

  <p>
    <strong><%= t('.status') %></strong>
    <%= menusection.status %>
  </p>

  <p>
    <strong><%= t('.sequence') %></strong>
    <%= menusection.sequence %>
  </p>

  <p>
    <strong><%= t('.menu') %></strong>
    <%= menusection.menu_id %>
  </p>

</div>
