<div class="row">
  <div class="col-6">
    <h4><%= t('.menuItems') %></h4>
  </div>
  <div class="col-6 text-end">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="menuitem-actions" type="button" class="btn btn-dark dropdown-toggle" disabled data-bs-toggle="dropdown" aria-expanded="false">
          Actions
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="allergyn-actions">
          <li><a id="activate-menuitem" class="dropdown-item" href="#"><%=t(".activate")%></a></li>
          <li><a id="deactivate-menuitem" class="dropdown-item" href="#"><%=t(".deactivate")%></a></li>
          <li><a id="genimage-menuitem" class="dropdown-item" href="#"><%=t(".genimage")%></a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-dark">
        <%= link_to new_menuitem_path(menusection_id: @menusection), class: 'link-light' do %>
          <i class="bi bi-plus"></i>
        <% end %>
      </button>
    </div>
  </div>
</div>
<%= render 'shared/currency' %>
<div style="padding-top:10px" class="table-borderless" id="menusection-menuitem-table" data-bs-menusection="<%= menusection.id %>">