


<div class="row">
  <div class="col-sm-6">
    <h1>Menusections</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_menusection_path, class: 'btn btn-primary' do %>
    Add New Menusection
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Description</th>
            <th>Image</th>
            <th>Status</th>
            <th>Sequence</th>
            <th>Menu</th>
            
      </tr>
    </thead>

    <tbody>
      <% @menusections.each do |menusection| %>
        <%= content_tag :tr, id: dom_id(menusection), class: dom_class(menusection) do %>
          
            <td><%= link_to menusection.name, menusection %></td>
          

                      <td><%= menusection.description %></td>
                      <td><%= menusection.image %></td>
                      <td><%= menusection.status %></td>
                      <td><%= menusection.sequence %></td>
                      <td><%= menusection.menu %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
