<div class="row">
  <div class="col-6">
    <h1><%= t(".menuSections") %></h1>
  </div>
  <div class="col-6 text-end">
    <button id="activate-row" class='btn btn-sm btn-dark' disabled><%= t('common.activate') %></button>
    <button id="deactivate-row"class='btn btn-sm btn-dark' disabled><%= t('common.deactivate') %></button>
    <% if @menu %>
      <%= link_to new_restaurant_menu_menusection_path(@menu.restaurant, @menu), class: 'btn btn-sm btn-dark' do %>
        <i class="bi bi-plus"></i> <%= t(".menuSection") %>
      <% end %>
    <% else %>
      <%= link_to '#', class: 'btn btn-sm btn-dark disabled' do %>
        <i class="bi bi-plus"></i> <%= t(".menuSection") %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="table-container-spacing table-borderless" id="menusection-table">
</div>
