<div class="row">
  <div class="col-sm-6">
    <h1><%= t(".menuSections") %></h1>
  </div>
  <div class="col-sm-6 text-end">
    <button id="activate-row" class='btn btn-sm btn-success' disabled><%= t(".activate") %></button>
    <button id="deactivate-row"class='btn btn-sm btn-danger' disabled><%= t(".desctivate") %></button>
    <%= link_to new_menusection_path, class: 'btn btn-sm btn-primary' do %>
      <i class="bi bi-plus"></i> <%= t(".menuSection") %>
    <% end %>
  </div>
</div>
<div style="padding-top:10px" id="menusection-table">
</div>
