<div class="page-header">
  <div class="row">
    <div class="col-10">
    <h1><%= t(".menuSection") %></h1>
    </div>
    <div class="col-2">
        <span class="float-end">
          <%= link_to edit_menu_path(@menusection.menu), class: 'btn btn-sm btn-light' do %>
            <i class="bi bi-chevron-left"></i>
          <% end %>
          <%= link_to edit_menu_menusection_path(@menusection.menu, @menusection), class: 'btn btn-sm btn-dark' do %>
            <i class="bi bi-pencil-fill"></i>
          <% end %>
        </span>
    </div>
  </div>
</div>

<%= form_with(model: [@menusection.menu, @menusection]) do |form| %>
  <div class="form-group row">
    <%= form.label :name, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_field :name, class: 'form-control', disabled: 'disabled'  %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <%= form.label :description, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_area :description, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <%= form.label :image, class: 'col-2 col-form-label' %>
    <div class="col-10">
        <%= form.text_field :image, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <%= form.label :status, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.select :status, options_for_select(Menusection.statuses.keys.to_a, form.object.status), {}, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <%= form.label :sequence, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
        <%= form.text_field :sequence, class: 'form-control', disabled: 'disabled'  %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <%= form.label :menu_id, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
        <%= form.collection_select :menu_id, Menu.all ,:id, :name, options = {:prompt => t(".selectMenu")}, html_options = {disabled: 'disabled'}%>
    </div>
  </div>
<% end %>