<%= form_with(model: ordr) do |form| %>
  <div class="mb-3">
    <%= form.label :employee_id, class: 'form-label' %>
      <%= form.text_field :employee_id, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :tablesetting_id, class: 'form-label' %>
      <%= form.text_field :tablesetting_id, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :menu_id, class: 'form-label' %>
      <%= form.text_field :menu_id, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :restaurant_id, class: 'form-label' %>
      <%= form.text_field :restaurant_id, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if ordr.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', ordr, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if ordr.persisted? %>
      <%= link_to "Cancel", ordr, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", ordrs_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
