<div id="<%= dom_id ordr %>">
  <p>
    <strong>Orderedat:</strong>
    <%= ordr.orderedAt %>
  </p>

  <p>
    <strong>Deliveredat:</strong>
    <%= ordr.deliveredAt %>
  </p>

  <p>
    <strong>Paidat:</strong>
    <%= ordr.paidAt %>
  </p>

  <p>
    <strong>Nett:</strong>
    <%= ordr.nett %>
  </p>

  <p>
    <strong>Tip:</strong>
    <%= ordr.tip %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= ordr.service %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= ordr.tax %>
  </p>

  <p>
    <strong>Gross:</strong>
    <%= ordr.gross %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= ordr.employee_id %>
  </p>

  <p>
    <strong>Tablesetting:</strong>
    <%= ordr.tablesetting_id %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= ordr.menu_id %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= ordr.restaurant_id %>
  </p>

</div>
