<div class="container-fluid">
  <%= render 'shared/notices' %>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2024 mellow.menu, Ltd.</p>
    <%= link_to root_path, class: "navbar-brand" do %>
       <%= image_tag "logo.png", height:'56' %>
    <% end %>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><%= link_to "Terms", terms_path, class: "nav-link px-2 text-muted"  %></li>
      <li class="nav-item"><%= link_to "Privacy", privacy_path, class: "nav-link px-2 text-muted"  %></li>
    </ul>
  </footer>
</div>