  <footer class="min-height-60 container-fluid py-1 my-0 border-top">
    <div class="row">
        <div class='col-7'>
            <%= link_to root_path, class: "navbar-brand" do %>
               <%= image_tag "qr-icon.svg", height:'48' %>
            <% end %>
            <span class="max-height-40"><%= render 'shared/notices' %></span>
        </div>
        <div class='col-5'>
           <span class="float-end">
           <div class="row">
                <div class='col-12'>
                   <ul class="nav justify-content-center">
                      <% if @current_user && @current_user.plan %>
                          <li class="nav-item"><small><span class: "px-2 text-muted">Plan: <%= t(@current_user.plan.key).html_safe %></span></small></li>
                      <% end %>
                      <li class="nav-item"><small><%= link_to t(".terms"), terms_path, class: "px-2 text-muted"  %></small></li>
                      <li class="nav-item"><small><%= link_to t(".privacy"), privacy_path, class: "px-2 text-muted"  %></small></li>
                   </ul>
                </div>
           </div>
           <div class="row">
                <div class='col-12'>
                   <ul class="nav justify-content-center">
                      <li class="nav-item"><a href="#" aria-label="<%= t('shared.footer.facebook') %>"><i class="px-2 text-muted fab fa-facebook"></i></a></li>
                      <li class="nav-item"><a href="#" aria-label="<%= t('shared.footer.instagram') %>"><i class="px-2 text-muted fab fa-instagram"></i></a></li>
                      <li class="nav-item"><a href="#" aria-label="<%= t('shared.footer.twitter') %>"><i class="px-2 text-muted fab fa-twitter"></i></a></li>
                      <li class="nav-item"><a href="#" aria-label="<%= t('shared.footer.linkedin') %>"><i class="px-2 text-muted fab fa-linkedin"></i></a></li>
                   </ul>
                </div>
           </div>
           </span>
        </div>
        <% if build_number.present? %>
          <div class='col-12 text-end mt-1'>
            <small class="text-muted">Build: <%= build_number %></small>
          </div>
        <% end %>
    </div>
  </footer>