<title><%= Rails.configuration.application_name %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">

<!-- Meta Title -->

<title>Mellow Menu | Discover Delectable Dishes & Unique Culinary Experiences</title>

<!-- Meta Description -->
<meta name="description" content="Explore Mellow Menu for a wide variety of delicious dishes and unique dining experiences. Discover our menu, book a table, or order online for the perfect meal.">
<!-- Keywords -->
<meta name="keywords" content="Mellow Menu, Dublin restaurants, fine dining, unique dining experiences, online ordering, restaurant reservations, food delivery, best Dublin cuisine, local dining.">
<!-- Author -->
<meta name="author" content="Mellow Menu">

<!-- Open Graph Metadata -->
<meta property="og:title" content="Mellow Menu | Delectable Dishes & Dining Experiences">
<meta property="og:description" content="Discover the best dishes and dining experiences at Mellow Menu. Book a table or order online for an unforgettable meal.">
<meta property="og:image" content="https://www.mellow.menu/images/featured-dish.jpg">
<meta property="og:url" content="https://www.mellow.menu">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_IE">

<!-- Twitter Metadata -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Mellow Menu | Your Go-To for Unique Culinary Delights">
<meta name="twitter:description" content="Visit Mellow Menu to explore unique dishes and dining experiences. Book your table or order online today!">
<meta name="twitter:image" content="https://www.mellow.menu/images/featured-dish.jpg">

<!-- Local SEO Metadata -->

<meta name="geo.region" content="IE-D">
<meta name="geo.placename" content="Dublin">
<meta name="geo.position" content="53.349805;-6.26031">
<meta name="ICBM" content="53.349805, -6.26031">

<!-- Robots Meta Tag -->

<meta name="robots" content="index, follow">



<!-- Canonical Tag -->

<link rel="canonical" href="https://www.mellow.menu">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

<script type="module" src="https://unpkg.com/@googlemaps/extended-component-library@0.6"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjUdDxhXWrDu28Y5ALkmh8Laft_pv4ttI&loading=async"></script>
<script async type="text/javascript" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
<style>
.tabulator .tabulator-footer {
    background-color: transparent;
    color: RGBA(var(--bs-dark-rgb), var(--bs-link-opacity, 1)) !important;
    text-decoration-color: RGBA(var(--bs-dark-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.tabulator .tabulator-footer .tabulator-page.active {
    background-color: #212529;
    border-color: #212529;
    color: #fff;
}
</style>