<title><%= Rails.configuration.application_name %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
<!-- Meta Title -->
<title>Smart Digital Menus & Ordering for Restaurants | Boost Efficiency</title>

<!-- Meta Description -->
<meta name="title" content="Smart Digital Menus & Ordering for Restaurants | Boost Efficiency">
<meta name="description" content="Transform your restaurant with contactless digital menus and smart ordering. Speed up service, reduce errors, and boost customer satisfaction with ease.">
<!-- Keywords -->
<meta name="keywords" content="Digital menus for restaurants | Contactless restaurant ordering | Restaurant efficiency tools | Smart restaurant technology | QR code menus | Online menu systems | Improve restaurant operations | Self-service restaurant ordering | Hospitality tech solutions | Eco-friendly restaurant tools">
<!-- Author -->
<meta name="author" content="Mellow Menu">

<!-- Open Graph Metadata -->
<meta property="og:title" content="Digital Menus & Smart Ordering for Modern Restaurants">
<meta property="og:description" content="Upgrade your restaurant with digital menus and smart tech that streamline service, reduce wait times, and increase guest satisfaction.">
<meta property="og:image" content="https://www.mellow.menu/images/featured-dish.jpg">
<meta property="og:url" content="https://www.mellow.menu">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_IE">

<!-- Twitter Metadata -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Make Your Restaurant Smarter with Digital Menus">
<meta name="twitter:description" content="Discover how digital menus and smart ordering tools can simplify service and elevate your guests' dining experience.">
<meta name="twitter:image" content="https://www.mellow.menu/images/featured-dish.jpg">

<!-- Local SEO Metadata -->
<meta name="geo.region" content="IE-D">
<meta name="geo.placename" content="Dublin">
<meta name="geo.position" content="53.349805;-6.26031">
<meta name="ICBM" content="53.349805, -6.26031">

<!-- Robots Meta Tag -->
<meta name="robots" content="index, follow">

<!-- Canonical Tag -->
<link rel="canonical" href="https://www.mellow.menu">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps_api_key %>&libraries=places"></script>
<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

<script async type="text/javascript" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
<!-- <script async type="text/javascript" src="https://sdk.scdn.co/spotify-player.js"></script> -->


<style>
    .tabulator .tabulator-footer {
        background-color: transparent;
        color: RGBA(var(--bs-dark-rgb), var(--bs-link-opacity, 1)) !important;
        text-decoration-color: RGBA(var(--bs-dark-rgb), var(--bs-link-underline-opacity, 1)) !important;
    }
    .tabulator .tabulator-footer .tabulator-page.active {
        background-color: #212529;
        border-color: #212529;
        color: #fff;
    }
    .tabulator-footer .tabulator-page-counter {
      display: none;
    }
    .btn-dark {
        --bs-btn-color: #fff;
        --bs-btn-bg: #525659; 525659
        --bs-btn-border-color: #525659;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #626669;
        --bs-btn-hover-border-color: #474b4e;
        --bs-btn-focus-shadow-rgb: 66, 70, 73;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #3d4144;
        --bs-btn-active-border-color: #272b2e;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #818589;
        --bs-btn-disabled-border-color: #717579;
    }

    .rounded-video {
      border-radius: 15px; /* Adjust the value as needed */
      overflow: hidden; /* Ensures rounded edges apply correctly */
    }

    .video-container {
      position: relative;
      display: inline-block; /* Adjust as needed */
    }

    .video-container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
      pointer-events: none; /* Ensures the overlay doesn’t interfere with video controls */
    }

    .background-container {
      position: relative;
      min-height:500px;
    }

    .background-container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none; /* Prevents blocking clicks */
    }

    .button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2; /* Ensures button is above the background */
    }

    .btn-allergyn-group-custom-rounded .btn:first-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 5px;
    }
    .btn-allergyn-group-custom-rounded .btn:last-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .btn-order-group-custom-rounded .btn:first-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .btn-order-group-custom-rounded .btn:last-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 5px;
    }

    .btn-order-group-custom-rounded-cancel .btn:first-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 5px;
    }
    .btn-order-group-custom-rounded-cancel .btn:last-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .btn-order-input-group-custom-rounded .btn:first-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .btn-order-input-group-custom-rounded .btn:last-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 5px;
    }
    .flag-icon {
      width: 35px;
      height: 25px;
      object-fit: cover;
    }
    .flag-icon-selected {
      width: 25px;
      height: 17px;
      object-fit: cover;
    }

    #addItemToOrderImage {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
</style>