<% if current_user != true_user %>
  <div class="alert alert-warning text-center">
    <%= t('shared.navbar.impersonated_as') %> <b><%= current_user.name %> (<%= current_user.email %>)</b>
    <%= button_to admin_impersonation_path,
          method: :delete,
          form: { class: 'd-inline', data: { testid: 'stop-impersonation-form' } },
          class: 'btn btn-link p-0 align-baseline',
          data: { testid: 'stop-impersonation-btn' } do %><i class="fas fa-times" aria-hidden="true"></i> <%= t('shared.navbar.logout') %> <% end %>
  </div>
<% end %>

<nav class="p-0 navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid mx-auto">
    <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "qr-icon.svg", height:'56' %><%= image_tag "logo.png", height:'56' %>
    <% end %>
  </div>
</nav>
