<%= form_with(model: ordrparticipant) do |form| %>
  <% if ordrparticipant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ordrparticipant.errors.count, "error") %> prohibited this ordrparticipant from being saved:</h2>

      <ul>
      <% ordrparticipant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :sessionid, class: 'form-label' %>
      <%= form.text_field :sessionid, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :action, class: 'form-label' %>
      <%= form.number_field :action, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :role, class: 'form-label' %>
      <%= form.number_field :role, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :employee_id, class: 'form-label' %>
      <%= form.text_field :employee_id, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :ordr_id, class: 'form-label' %>
      <%= form.text_field :ordr_id, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :ordritem_id, class: 'form-label' %>
      <%= form.text_field :ordritem_id, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if ordrparticipant.persisted? %>
      <div class="float-end">
        <%= link_to t('common.delete'), ordrparticipant, method: :delete, class: "text-danger", data: { confirm: t('common.confirm') } %>
      </div>
    <% end %>

    <%= form.submit value: t('common.save'), class: 'btn btn-dark' %>

    <% if ordrparticipant.persisted? %>
      <%= link_to t('common.cancel'), ordrparticipant, class: "btn btn-link" %>
    <% else %>
      <%= link_to t('common.cancel'), ordrparticipants_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
