<div id="<%= dom_id ordrparticipant %>">
  <p>
    <strong>Sessionid:</strong>
    <%= ordrparticipant.sessionid %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= ordrparticipant.action %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= ordrparticipant.role %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= ordrparticipant.employee_id %>
  </p>

  <p>
    <strong>Ordr:</strong>
    <%= ordrparticipant.ordr_id %>
  </p>

  <p>
    <strong>Ordritem:</strong>
    <%= ordrparticipant.ordritem_id %>
  </p>

</div>
