


<div class="row">
  <div class="col-sm-6">
    <h1>Ordrparticipants</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_ordrparticipant_path, class: 'btn btn-primary' do %>
    Add New Ordrparticipant
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Sessionid</th>
            <th>Role</th>
            <th>Employee</th>
            <th>Ordr</th>
            <th>Ordritem</th>
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @ordrparticipants.each do |ordrparticipant| %>
        <%= content_tag :tr, id: dom_id(ordrparticipant), class: dom_class(ordrparticipant) do %>
          

                      <td><%= ordrparticipant.sessionid %></td>
                      <td><%= ordrparticipant.role %></td>
                      <td><%= ordrparticipant.employee %></td>
                      <td><%= ordrparticipant.ordr %></td>
                      <td><%= ordrparticipant.ordritem %></td>
          
          
            <td><%= link_to 'Show', ordrparticipant %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
