<div class="page-header">
  <%= link_to ordrparticipants_path, class: 'btn btn-default' do %>
    All Ordrparticipants
  <% end %>
  <%= link_to edit_ordrparticipant_path(@ordrparticipant), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show ordrparticipant</h1>
</div>

<dl class="dl-horizontal">
  <dt>Sessionid:</dt>
  <dd><%= @ordrparticipant.sessionid %></dd>
  <dt>Action:</dt>
  <dd><%= @ordrparticipant.action %></dd>
  <dt>Role:</dt>
  <dd><%= @ordrparticipant.role %></dd>
  <dt>Employee:</dt>
  <dd><%= @ordrparticipant.employee %></dd>
  <dt>Ordr:</dt>
  <dd><%= @ordrparticipant.ordr %></dd>
  <dt>Ordritem:</dt>
  <dd><%= @ordrparticipant.ordritem %></dd>
</dl>
