<style>
    ::-webkit-scrollbar {
        height: 0px;
        width: 4px;
        border: 1px solid #d5d5d5;
    }
    .form-control:disabled {
        background-color: #fafafa;
        opacity: 1;
    }
    .tabulator-row-odd {
        background-color: #ffffff !important;
    }
    .tabulator-row-even {
        background-color: #ffffff !important;
    }
    .disabled .ts-control {
        opacity: 1.0;
        background-color: #fafafa;
    }
    .ts-dropdown, .ts-control, .ts-control input {
        border: 0px;
        color: #000000;
        padding-left:12px;
        font-size: 16px;
        line-height: 18px;
    }
</style>

<% if current_user %>

    <div class="row">
      <% if @current_user.plan == nil %>
        <div class="col-lg-4 offset-lg-4">
                <br>
                <br>
                <br>
                <h1 class="text-center"><%= t(".welcome").html_safe %></h1>
                <br>
                <h2 class="text-center"><%= t(".selectPlan").html_safe %></h2>
                <br>
                <%= form_with(model: @userplan) do |f| %>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><%= f.label :plan %></span>
                    <%= f.select :plan_id, options_for_select(Plan.all.collect { |p| [t(p.key), p.id] }), {}, { class: 'form-select'}%>
                    <%= f.hidden_field :user_id, value: @current_user.id %>
                  </div>
                  <div class="mb-3 d-grid">
                    <%= f.submit t(".saveChanges"), class: 'btn btn-lg btn-danger' %>
                  </div>
                <% end %>
          </div>

      <% else %>
          <div class="col-6">
            <h4><%=t(".restaurants")%> </h4>
          </div>
          <div class="col-6 text-end">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <div class="btn-group" role="group">
                <button id="restaurant-actions" type="button" class="btn btn-dark dropdown-toggle" disabled data-bs-toggle="dropdown" aria-expanded="false">
                  <%=t(".actions")%>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="allergyn-actions">
                  <li><a id="activate-restaurant" class="dropdown-item" href="#"><%=t(".activate")%></a></li>
                  <li><a id="deactivate-restaurant" class="dropdown-item" href="#"><%=t(".deactivate")%></a></li>
                </ul>
              </div>
              <% if @canAddRestaurant == true %>
                  <button type="button" class="btn btn-dark">
                    <%= link_to new_restaurant_path, class: 'link-light' do %>
                      <i class="bi bi-plus"></i>
                    <% end %>
                  </button>
              <% end %>
            </div>
          </div>
        </div>
        <div style="padding-top:10px" class="table-borderless" id="restaurant-table">
        </div>
      <% end %>
<% else %>
  <div style="padding-top:10px">
  <div id="myCarousel" class="carousel slide mb-6 background-container" data-bs-ride="carousel"

  style="background: radial-gradient(circle, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%),url('<%= asset_path('table-setting.png') %>') no-repeat center center;background-size: cover; border-radius: 10px;">

    <div class="carousel-inner">
      <div class="carousel-item justify-content-center active">
        <%= image_tag "https://placehold.co/1x500/transparent/transparent", class: "img-responsive bg-item parallax img-fluid" %>
        <div class="container">
          <div style='left:5%;right:5%;' class="carousel-caption text-start">
            <h1><%=t(".ctaTitle1")%></h1>
            <p><strong><%=t(".ctaBody1")%></strong></p>
            <p style="z-index:+10000;"><%= link_to t(".signUp"), new_user_registration_path, class: "btn btn-danger" %></p>
          </div>
        </div>
      </div>
      <div class="carousel-item justify-content-center">
        <%= image_tag "https://placehold.co/1x500/transparent/transparent", class: "img-responsive bg-item parallax img-fluid" %>
        <div class="container">
          <div style='left:5%;right:5%;' class="carousel-caption text-start">
            <h1><%=t(".ctaTitle2")%></h1>
            <p><strong><%=t(".ctaBody2")%></strong></p>
            <p><a class="btn btn-danger" href="#contact_us"><%=t(".contactUs")%></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="container px-1 py-2">
    <h2 class="pb-2 border-bottom"><%=t(".features")%></h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-activity"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis"><%=t(".featureTitle2").html_safe %></h3>
          <p style='min-height:120px;text-align:justify'><%=t(".featureDescription2").html_safe %></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-bullseye"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis"><%=t(".featureTitle3").html_safe %></h3>
          <p style='min-height:120px;text-align:justify'><%=t(".featureDescription3").html_safe %></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-emoji-heart-eyes"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis"><%=t(".featureTitle4").html_safe %></h3>
          <p style='min-height:120px;text-align:justify'><%=t(".featureDescription4").html_safe %></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-graph-up-arrow"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis"><%=t(".featureTitle6").html_safe %></h3>
          <p style='min-height:120px;text-align:justify'><%=t(".featureDescription6").html_safe %></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-tree"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis"><%=t(".featureTitle5").html_safe %></h3>
          <p style='min-height:120px;text-align:justify'><%=t(".featureDescription5").html_safe %></p>
        </div>
      </div>
    </div>
  </div>

  <% if @demoMenu %>
    <span style='display:none' id="qrIcon"><%= image_url('qr-icon.svg') %></span>
    <span style='display:none' id="qrHost"><%= @qrHost %></span>
    <div id="demo-table" class="container px-1 py-2">
      <h2 class="pb-2 border-bottom"><%=t(".demoMenu")%></h2>
      <div class="row g-4 py-2 row-cols-12 row-cols-12 row-cols-lg-12 align-items-center">
            <span style='display:none' class="qrSlug"><%= @demoMenu.slug %></span>
            <div class="col-sm-12 col-md-12 col-lg-8">
              <div class="embed-responsive embed-responsive-16by9">
                  <div class="video-container">
                    <video class="rounded-video" width="100%" loop muted playsinline autoplay>
                      <source src="<%= asset_path('smart-menu.mp4') %>" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <h6 style='text-align:center;'><%=t(".demoMenuTag").html_safe %></h6>
                <div class="d-flex justify-content-center">
                    <a href="<%= smartmenu_path(@demoMenu.slug) %>" target="_blank">
                        <div id="<%= @demoMenu.slug %>">
                        </div>
                    </a>
                </div>
            </div>
      </div>
    </div>
  <% end %>

  <div id="metrics-table" class="container px-1 py-2">
    <h2 class="pb-2 border-bottom"><%=t(".numbers")%></h2>
    <p style='text-align:justify;'><%=t(".numbersTag")%></p>
    <div class="row g-4 py-5 row-cols-2 row-cols-2 row-cols-lg-4">
      <div class="col d-flex align-items-start">
        <div class="card text-center" style="width:100%">
          <div class="card-header">
            <h4 class="card-title"><%=t(".restaurants")%></h4>
          </div>
          <div class="card-body">
            <h1 style="color:green;" id="metrics-numberOfRestaurants"></h1>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="card text-center" style="width:100%">
          <div class="card-header">
            <h4 class="card-title"><%=t(".menus")%></h4>
          </div>
          <div class="card-body">
            <h1 style="color:green;" id="metrics-numberOfMenus"></h1>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="card text-center" style="width:100%">
          <div class="card-header">
            <h4 class="card-title"><%=t(".orders")%></h4>
          </div>
          <div class="card-body">
            <h1 style="color:green;" id="metrics-numberOfOrders"></h1>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="card text-center" style="width:100%">
          <div class="card-header">
            <h4 class="card-title"><%=t(".orderValue")%></h4>
          </div>
          <div class="card-body">
            <h1 style="color:green;">
                $<span id="metrics-totalOrderValue"></span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="testimonials" class="container px-1 py-2">
    <h2 class="pb-2 border-bottom"><%=t(".testimonials")%></h2>
    <p style='text-align:justify;'><%=t(".testimonialsTag")%></p>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card" style="width:100%">
              <div style='text-align:left;'class="card-header">
                <h3 class="card-title">Testimonial 1</h3>
              </div>
              <div class="card-body text-center">
                <h4><i style='color:green;'>"<span>Something nice about us ...</span>"</i></h4>
                <div style='text-align:right;'>
                  <h6>Author 1</h6>
                </div>
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card text-center" style="width:100%">
              <div style='text-align:left;'class="card-header">
                <h3 class="card-title">Testimonial 2</h3>
              </div>
              <div class="card-body">
                <h4><i style='color:green;'>"<span>Something nice about us ...</span>"</i></h4>
                <div style='text-align:right;'>
                  <h6>Author 2</h6>
                </div>
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card text-center" style="width:100%">
              <div style='text-align:left;'class="card-header">
                <h3 class="card-title">Testimonial 3</h3>
              </div>
              <div class="card-body">
                <h4><i style='color:green;'>"<span>Something nice about us ...</span>"</i></h4>
                <div style='text-align:right;'>
                  <h6>Author 3</h6>
                </div>
              </div>
            </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"><%=t(".previous")%></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"><%=t(".next")%></span>
      </button>
    </div>
  </div>

  <div class="container px-1 py-2">
   <h2 class="pb-2 border-bottom"><%=t(".pricing")%></h2>
   <p style='text-align:justify;'><%=t(".pricingTag")%></p>
   <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
    <% @plans.each do |plan| %>
      <div class="col">
        <% if plan.favourite %>
         <div class="card mb-4 rounded-3 shadow-lg">
            <div class="card-header bg-danger text-white py-3 py-3">
        <% else %>
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
        <% end %>
            <h4 class="my-0 fw-normal"><%= t(plan.key) %></h4>
          </div>
          <div class="card-body">
            <div>
                <% if plan.pricePerMonth %>
                    <h1 class="card-title pricing-card-title"><i class="bi bi-currency-dollar"></i><%= number_with_precision(plan.pricePerMonth, precision: 0) %><small class="text-body-secondary fw-light">/mo</small></h1>
                <% else %>
                    <h1 class="card-title pricing-card-title"><i class="bi bi-telephone-plus-fill"></i><small class="text-body-secondary fw-light"></small></h1>
                <% end %>
            </div>
            <div style='display:none'>
                <% if plan.pricePerYear %>
                    <h1 class="card-title pricing-card-title"><i class="bi bi-currency-dollar"></i><%= number_with_precision(plan.pricePerYear, precision: 0) %><small class="text-body-secondary fw-light">/yr</small></h1>
                <% else %>
                    <h1 class="card-title pricing-card-title"><%=t(".contactUs")%><small class="text-body-secondary fw-light"></small></h1>
                <% end %>
            </div>
            <div class="text-start">
            <ul class="list-unstyled mt-3 mb-4">
              <% if plan.attribute1 %>
                  <%= t(plan.attribute1, locations: plan.locations).html_safe %>
              <% else %>
                  <li>&nbsp</li>
              <% end %>
              <% if plan.attribute2 %>
                  <%= t(plan.attribute2, locations: plan.getLocations, menus: plan.getMenusPerLocation, dishes: plan.getItemsPerMenu, languages: plan.getLanguages).html_safe %>
              <% else %>
                  <li>&nbsp</li>
              <% end %>
              <% if plan.attribute3 %>
                    <hr>
                  <%= t(plan.attribute3, locations: plan.getLocations, menus: plan.getMenusPerLocation, dishes: plan.getItemsPerMenu, languages: plan.getLanguages).html_safe %>
              <% else %>
                  <li>&nbsp</li>
              <% end %>
            </ul>
            </div>
            <% if plan.action == 'register' %>
                <%= link_to t(".signUp"), new_user_registration_path, class: "w-100 btn btn-danger" %>
            <% else %>
                <a class="w-100 btn btn-danger" href="#contact_us"><%= t('plan.'+plan.action) %></a>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
   </div>

   <h2 style='display:none' class="pb-2">Compare plans</h2>
   <div style='display:none' class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <% @plans.each do |plan| %>
            <th style="width: 22%;"><%= t(plan.key) %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @features.each do |feature| %>
          <tr>
            <th scope="row" class="text-start"><%= t(feature.key) %></th>
            <% @plans.each do |plan| %>
            <td>
                <% if FeaturesPlan.where( plan_id: plan.id, feature_id: feature.id).first %>
                    <i class="bi bi-check2"></i>
                <% end %>
            </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
   </div>

   <div id="contact_us" class="container px-1 py-2" id="hanging-icons">
      <div class="row">
        <div class="col-12">
            <h2 class="pb-2 border-bottom"><%=t(".contactUs")%></h2>
            <%= form_with(model: @contact, local: true) do |form| %>

              <div class="form-group row">
                <div class="mb-3">
                  <%= form.label :email, class: 'col-form-label' %>
                  <%= form.email_field :email, class: 'form-control' %>
                  <div id="emailHelp" class="form-text"><%=t(".emailAddressTag")%></div>
                </div>
              </div>
              <div class="form-group row">
                <div class="mb-3">
                  <%= form.label :message, class: 'col-form-label' %>
                  <%= form.text_area :message, class: 'form-control' %>
                </div>
              </div>
              <%= form.submit value: t(".submit"), class: 'float-end btn btn-danger' %>
            <% end %>
        </div>
      </div>
   </div>
<% end %>
