<% if current_user %>

    <div style='padding-top:20px' class="row">
      <div class="col-6">
        <h1><%=t(".restaurants")%> </h1>
      </div>
      <div class="col-6 text-end">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group" role="group">
            <button id="restaurant-actions" type="button" class="btn btn-dark dropdown-toggle" disabled data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="allergyn-actions">
              <li><a id="activate-restaurant" class="dropdown-item" href="#"><%=t(".activate")%></a></li>
              <li><a id="deactivate-restaurant" class="dropdown-item" href="#"><%=t(".deactivate")%></a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-dark">
            <%= link_to new_restaurant_path, class: 'link-light' do %>
              <i class="bi bi-plus"></i>
            <% end %>
          </button>
        </div>
      </div>
    </div>
    <div style="padding-top:10px" class="table-borderless" id="restaurant-table">
    </div>

<% else %>
  <div id="cta-table" style='min-height:450px' class="container px-1 py-2" id="hanging-icons">
    <div id="heroCarouselAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Menus, only smarter</h1>
            <p class="col-md-8 fs-4">
                Discover the future of dining with our seamless digital menu ordering system. Elevate your service and enhance your customers experience through menus which are, simply smarter!
            </p>
            <a href="#contact_us" class="btn btn-primary btn-lg" type="button">Contact Us</a>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Restaurants, optimised</h1>
            <p class="col-md-8 fs-4">
                Achieve more, with less. Adding smart menus and smart ordering, frees your staff to focus their precious time on your precious customers.
            </p>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger btn-lg" %>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#heroCarouselAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#heroCarouselAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="container px-1 py-2">
    <h2 class="pb-2 border-bottom">Features</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-fingerprint"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Contactless</h3>
          <p style='min-height:120px;'>In a world where safety is paramount, our digital menus offer a fully contactless experience. Customers simply scan with their smartphones to browse, order, and pay reducing physical contact while promoting a safer dining environment.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-activity"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Effortless</h3>
          <p style='min-height:120px;'>Say goodbye to outdated, easily damaged menus. Digital menus streamline the ordering process, allowing customers to view the menu and place orders at their own pace, minimizing wait times for both guests and staff.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-bullseye"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Accurate</h3>
          <p style='min-height:120px;'>With digital ordering, customers can select items directly from the digital menu, helping reduce miscommunication and errors in orders enhancing satisfaction on both sides.</p>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-emoji-heart-eyes"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Engaging</h3>
          <p style='min-height:120px;'>Our interactive digital menus come alive with vibrant images, item descriptions, and tailored recommendations. Upsell effortlessly with targeted suggestions and promotions, increasing customer spend and satisfaction.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-tree"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Environmental</h3>
          <p style='min-height:120px;'>Reduce paper waste and embrace sustainability. By eliminating printed menus, digital ordering supports your eco-friendly goals while providing a modern dining experience.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <h2><i style="color:green;" class="bi bi-graph-up-arrow"></i></h2>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Insightful</h3>
          <p style='min-height:120px;'>Gain valuable insights into your customers preferences. Our system gathers data on ordering patterns, allowing you to tailor your offerings and improve service based on real customer insights.</p>
        </div>
      </div>
    </div>
  </div>

  <% if @demoMenu %>
    <div id="demo-table" class="container px-1 py-2">
      <h2 class="pb-2 border-bottom">Demo Menu</h2>
      <p style='text-align:justify;'>Scan this QR code to see what our smart menus are capable of!</p>
      <div class="row g-4 py-5 row-cols-2 row-cols-2 row-cols-lg-4">
            <span style='display:none' id="qr_slug"><%= @qrDemoURL %></span>
            <span style='display:none' id="qr_icon"><%= image_url('qr-icon.svg') %></span>
            <div class="col-12">
                <div id="qrcanvas" class="d-flex justify-content-center">
                </div>
            </div>
      </div>
    </div>
  <% end %>

  <div id="metrics-table" class="container px-1 py-2">
    <h2 class="pb-2 border-bottom">Numbers</h2>
    <p style='text-align:justify;'>Our stats, restaurants, menus, orders & value under management:</p>
    <div class="row g-4 py-5 row-cols-2 row-cols-2 row-cols-lg-4">
      <div class="col d-flex align-items-start">
        <div class="card text-center" style="width:100%">
          <div class="card-header">
            <h4 class="card-title">Restaurants</h4>
          </div>
          <div class="card-body">
            <h1 style="color:green;" id="metrics-numberOfRestaurants"></h1>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="card text-center" style="width:100%">
          <div class="card-header">
            <h4 class="card-title">Menus</h4>
          </div>
          <div class="card-body">
            <h1 style="color:green;" id="metrics-numberOfMenus"></h1>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="card text-center" style="width:100%">
          <div class="card-header">
            <h4 class="card-title">Orders</h4>
          </div>
          <div class="card-body">
            <h1 style="color:green;" id="metrics-numberOfOrders"></h1>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="card text-center" style="width:100%">
          <div class="card-header">
            <h4 class="card-title">Order Value</h4>
          </div>
          <div class="card-body">
            <h1 style="color:green;">
                $<span id="metrics-totalOrderValue"></span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="testimonials" class="container px-1 py-2">
    <h2 class="pb-2 border-bottom">Testimonials</h2>
    <p style='text-align:justify;'>A few words from our happy clients:</p>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card" style="width:100%">
              <div style='text-align:left;'class="card-header">
                <h3 class="card-title">Testimonial 1</h3>
              </div>
              <div class="card-body text-center">
                <h4><i style='color:green;'>"<span>Something nice about us ...</span>"</i></h4>
                <div style='text-align:right;'>
                  <h6>Author 1</h6>
                </div>
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card text-center" style="width:100%">
              <div style='text-align:left;'class="card-header">
                <h3 class="card-title">Testimonial 2</h3>
              </div>
              <div class="card-body">
                <h4><i style='color:green;'>"<span>Something nice about us ...</span>"</i></h4>
                <div style='text-align:right;'>
                  <h6>Author 2</h6>
                </div>
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card text-center" style="width:100%">
              <div style='text-align:left;'class="card-header">
                <h3 class="card-title">Testimonial 3</h3>
              </div>
              <div class="card-body">
                <h4><i style='color:green;'>"<span>Something nice about us ...</span>"</i></h4>
                <div style='text-align:right;'>
                  <h6>Author 3</h6>
                </div>
              </div>
            </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <hr>

  <div id="contact_us" class="container px-1 py-2" id="hanging-icons">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <h2 class="pb-2 border-bottom">Contact us</h2>
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="inputMessage" class="form-label">Message</label>
                <textarea id="inputMessage" class="form-control" aria-label="Message"></textarea>
              </div>
              <button type="submit" class="float-end btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-1">
        </div>
      </div>
  </div>
<% end %>
