<%= form_with(model: menuitem) do |form| %>
  <div class="form-group row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9">
      <h4><%=t(".details")%></h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
      <span class="float-md-end"><%= form.label :name, class: 'col-form-label' %> : </span>
    </div>
    <div class="col-sm-9">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
      <span class="float-md-end"><%= form.label :description, class: 'col-form-label' %> : </span>
    </div>
    <div class="col-sm-9">
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
      <span class="float-md-end"><%= form.label :menusection_id, class: 'col-form-label' %> : </span>
    </div>
    <div class="col-sm-9">
      <%= form.collection_select :menusection_id, Menusection.all ,:id, :name, options = {:prompt => t(".selectMenuSection")}%>
    </div>
  </div>
  <div style='height:4px'></div>

  <div class="form-group row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9">
        <p>
        <h4><%=t(".imageSettings")%></h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
      <span class="float-md-end"><%= form.label :image, class: 'col-form-label' %> : </span>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-10">
          <%= form.hidden_field :image, value: form.object.cached_image_data, id: nil %>
          <%= form.file_field :image, class: 'form-control' %>
        </div>
        <div class="col-sm-2">
          <span style="position:relative;top:5px!important;margin-top:5px" class="float-md-end"><i class="bi bi-trash"></i> <%= form.check_box :remove_image %></span>
        </div>
      </div>
    </div>
  </div>
  <div style='height:4px'></div>
      <div class="row">
        <div class="col-sm-12">
          <%= image_tag menuitem.image_url, :class => "img-thumbnail rounded mx-auto d-block" if menuitem.image %>
        </div>
      </div>

  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
        <span class="float-md-end"><%= form.label :genid, class: 'col-form-label' %> :</span>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-10">
          <%= form.text_field :gen_image_theme, class: 'form-control' %>
        </div>
        <div class="col-sm-2">
          <div class="float-end btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
              <button id="menuitem-image-actions" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
              </button>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="allergyn-actions">
                <li>
                    <span class="float-end">
                        <% if menuitem.genimage %>
                        <%= link_to t(".generateImage"), genimage_path(menuitem.genimage.id, genimage: { id: menuitem.genimage.id }), method: 'patch', class: 'dropdown-item' %>
                        <% end %>
                    </span>
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
      <span class="float-md-end"><%= form.label :status, class: 'col-form-label' %> : </span>
    </div>
    <div class="col-sm-9">
      <%= form.select :status, options_for_select(Menuitem.statuses.keys.to_a, form.object.status), {}%>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
      <span class="float-md-end"><%= form.label :calories, class: 'col-form-label' %> : </span>
    </div>
    <div class="col-sm-9">
      <%= form.text_field :calories, class: 'form-control' %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
      <span class="float-md-end"><%= form.label :price, class: 'col-form-label' %> : </span>
    </div>
    <div class="col-sm-9">
      <%= form.text_field :price, class: 'form-control' %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
      <span class="float-md-end"><%= form.label :preptime, class: 'col-form-label' %> : </span>
    </div>
    <div class="col-sm-9">
      <%= form.text_field :preptime, class: 'form-control' %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
      <span class="float-md-end"><%= form.label :allergyns, class: 'col-form-label' %> : </span>
    </div>
    <div class="col-sm-9">
        <div class="form-control">
            <%= form.collection_check_boxes :allergyn_ids, Allergyn.all, :id, :name, { hide_label: true } do |b| %>
                <div class="form-check">
                  <%= b.check_box %>
                  <label class="form-check-label">
                    <%= b.label %>
                  </label>
                </div>
            <% end %>
        </div>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
      <span class="float-md-end"><%= form.label :sizes, class: 'col-form-label' %> : </span>
    </div>
    <div class="col-sm-9">
        <div class="form-control">
            <%= form.collection_check_boxes :size_ids, Size.all, :id, :name, { hide_label: true } do |b| %>
                <div class="form-check">
                  <%= b.check_box %>
                  <label class="form-check-label">
                    <%= b.label %>
                  </label>
                </div>
            <% end %>
        </div>
    </div>
  </div>
  <div style='height:8px'></div>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9">
        <span class="float-end">
        <% if menuitem.persisted? %>
          <div class="btn btn-dark ">
            <%= link_to t(".delete"), menuitem, method: :delete, class: "text-white text-decoration-none", data: { confirm: t(".sure") } %>
          </div>
        <% end %>
        <%= form.submit value: t(".save"), class: 'btn btn-dark' %>
        </span>
    </div>
  </div>
  <% if menuitem.errors.any? %>
  <div class="row">
    <div class="col-sm-3">
      <span class="float-md-end"><%=t(".errors")%> : </span>
    </div>
    <div class="col-sm-9">
      <ul>
          <% menuitem.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>