<div id="<%= dom_id menuitem %>">
  <p>
    <strong>Name:</strong>
    <%= menuitem.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menuitem.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= menuitem.image %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= menuitem.status %>
  </p>

  <p>
    <strong>Sequence:</strong>
    <%= menuitem.sequence %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= menuitem.calories %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= menuitem.price %>
  </p>

  <p>
    <strong>Menusection:</strong>
    <%= menuitem.menusection_id %>
  </p>

</div>
