<div class="row">
  <div class="col-6">
    <h1><%= t(".menuItems") %></h1>
  </div>
  <div class="col-6 text-end">
    <button id="activate-row" class='btn btn-sm btn-success' disabled><%= t(".activate") %></button>
    <button id="deactivate-row"class='btn btn-sm btn-danger' disabled><%= t(".deactivate") %></button>
    <%= link_to new_menuitem_path, class: 'btn btn-sm btn-dark' do %>
      <i class="bi bi-plus"></i> <%= t(".menuItem") %>
    <% end %>
  </div>
</div>
<%= render 'shared/currency' %>
<div style="padding-top:10px" class="table-borderless" id="menuitem-table">
</div>
