<div class="row">
  <div class="col-6">
    <h1><%= t(".menuItems") %></h1>
  </div>
  <div class="col-6 text-end">
    <button id="activate-row" class='btn btn-sm btn-success' disabled><%= t('common.activate') %></button>
    <button id="deactivate-row"class='btn btn-sm btn-danger' disabled><%= t('common.deactivate') %></button>
    <% if @menu %>
      <%= link_to edit_restaurant_menu_path(@menu.restaurant, @menu), class: 'btn btn-sm btn-dark', title: 'Go to menu to add items to specific sections' do %>
    <% else %>
      <%= link_to '#', class: 'btn btn-sm btn-dark disabled' do %>
    <% end %>
      <i class="bi bi-plus"></i> <%= t(".menuItem") %>
    <% end %>
  </div>
</div>
<%= render 'shared/currency' %>
<div class="table-container-spacing table-borderless" id="menuitem-table">
</div>
