


<div class="row">
  <div class="col-sm-6">
    <h1>Menuitems</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_menuitem_path, class: 'btn btn-primary' do %>
    Add New Menuitem
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Description</th>
            <th>Image</th>
            <th>Status</th>
            <th>Sequence</th>
            <th>Calories</th>
            <th>Price</th>
            <th>Menusection</th>
            
      </tr>
    </thead>

    <tbody>
      <% @menuitems.each do |menuitem| %>
        <%= content_tag :tr, id: dom_id(menuitem), class: dom_class(menuitem) do %>
          
            <td><%= link_to menuitem.name, menuitem %></td>
          

                      <td><%= menuitem.description %></td>
                      <td><%= menuitem.image %></td>
                      <td><%= menuitem.status %></td>
                      <td><%= menuitem.sequence %></td>
                      <td><%= menuitem.calories %></td>
                      <td><%= menuitem.price %></td>
                      <td><%= menuitem.menusection %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
