<div id="<%= dom_id size %>">
  <p>
    <strong><%= t('.size') %></strong>
    <%= size.size %>
  </p>

  <p>
    <strong><%= t('.name') %></strong>
    <%= size.name %>
  </p>

  <p>
    <strong><%= t('.description') %></strong>
    <%= size.description %>
  </p>

</div>
