<div id="<%= dom_id tag %>">
  <p>
    <strong><%= t('.name') %></strong>
    <%= tag.name %>
  </p>

  <p>
    <strong><%= t('.description') %></strong>
    <%= tag.description %>
  </p>

  <p>
    <strong><%= t('.menuitem') %></strong>
    <%= tag.menuitem_id %>
  </p>

</div>
