<div class="page-header">
  <div class="row">
    <div class="col-sm-10">
          <h1>Show Tag</h1>
    </div>
    <div class="col-sm-2">
        <span class="float-end">
          <%= link_to tags_path, class: 'btn btn-light' do %>
            <i class="bi bi-chevron-left"></i>
          <% end %>
          <%= link_to edit_tag_path(@tag), class: 'btn btn-primary' do %>
            <i class="bi bi-pencil-fill"></i>
          <% end %>
        </span>
    </div>
  </div>
</div>

<%= form_with(model: @tag) do |form| %>
  <div class="form-group row">
    <%= form.label :name, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: 'form-control', disabled: 'disabled'  %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <%= form.label :description, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_area :description, class: 'form-control', disabled: 'disabled'  %>
    </div>
  </div>
<% end %>
