<div class="error-page">
  <h1><%= t('errors.unprocessable.title') %></h1>
  <p><%= t('errors.unprocessable.description') %></p>
  <p><%= t('errors.unprocessable.suggestion') %></p>

  <%= link_to t('common.back'), :back, class: "btn btn-secondary" %>
  <%= link_to t('common.back'), root_path, class: "btn btn-primary" %>
</div>
