<div class="error-page">
  <h1><%= t('errors.internal.title') %></h1>
  <p><%= t('errors.internal.description') %></p>
  <p><%= t('errors.internal.suggestion') %></p>

  <% if Rails.env.development? %>
    <div class="error-details">
      <h3><%= t('errors.internal.error_details') %></h3>
      <pre><%= @exception.message if @exception %></pre>
      <% if @exception&.backtrace %>
        <h4><%= t('errors.internal.backtrace') %></h4>
        <pre><%= @exception.backtrace.first(10).join("\n") %></pre>
      <% end %>
    </div>
  <% end %>

  <%= link_to t('common.back'), root_path, class: "btn btn-primary" %>
</div>
