<%= form_with(model: restaurant) do |form| %>
  <div class="form-group row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9">
        <h4><%=t(".details")%></h4>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
        <span class="float-md-end"><%= form.label :name, class: 'col-form-label' %> :</span>
    </div>
    <div class="col-sm-9">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
        <span class="float-md-end"><%= form.label :description, class: 'col-form-label' %> :</span>
    </div>
    <div class="col-sm-9">
      <%= form.text_area :description, class: 'form-control', rows: 6 %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
        <span class="float-md-end"><%= form.label :currency, class: 'col-form-label' %> :</span>
    </div>
    <div class="col-sm-9">
      <%= form.currency_select(:currency, ["USD", "EUR", "CAD"], {}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9">
        <p>
        <h4><%=t(".address")%></h4>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
        <span class="float-md-end"><%= form.label :address, class: 'col-form-label' %> :</span>
    </div>
    <div class="col-sm-9">
        <div style="px;width:100%" id="place-picker-box">
            <div style="width:100%" id="place-picker-container">
                <gmpx-place-picker style="width:100%; disabled" placeholder="<%= restaurant.address1 %>" disabled></gmpx-place-picker>
            </div>
        </div>
        <%= form.hidden_field :address1, value: restaurant.address1 %>
        <%= form.hidden_field :latitude, value: restaurant.latitude %>
        <%= form.hidden_field :longitude, value: restaurant.longitude %>
        <%= form.hidden_field :postcode, value: restaurant.postcode %>
        <%= form.hidden_field :country, value: restaurant.country %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9">
        <p>
        <h4><%=t(".imageSettings")%></h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
        <span class="float-md-end"><%= form.label :image, class: 'col-form-label' %> :</span>
    </div>
    <div class="col-sm-9">
        <%= form.text_field :image, class: 'form-control' %>
        <% if @restaurant.image %>
            <img src="<%=@restaurant.image%>" class="img-fluid" alt="...">
        <% end %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
        <span class="float-md-end"><%= form.label :genid, class: 'col-form-label' %> :</span>
    </div>
    <div class="col-sm-9">
      <%= form.text_field :genid, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9">
        <p>
        <h4><%=t(".settings")%></h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
        <span class="float-md-end"><%= form.label :status, class: 'col-form-label' %> :</span>
    </div>
    <div class="col-sm-9">
      <%= form.select :status, options_for_select(Restaurant.statuses.keys.to_a, form.object.status), {} %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
        <span class="float-md-end"><%= form.label :displayImages, class: 'col-form-label' %> :</span>
    </div>
    <div class="col-sm-9">
      <%= form.select :displayImages, [['on', true], ['off', false]], {} %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
        <span class="float-md-end"><%= form.label :allowOrdering, class: 'col-form-label' %> :</span>
    </div>
    <div class="col-sm-9">
      <%= form.select :allowOrdering, [['on', true], ['off', false]], {} %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <div class="col-sm-3">
        <span class="float-md-end"><%= form.label :inventoryTracking, class: 'col-form-label' %> :</span>
    </div>
    <div class="col-sm-9">
      <%= form.select :inventoryTracking, [['on', true], ['off', false]], {} %>
    </div>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <div style='height:8px'></div>
  <div class="row">
    <div class="col-sm-12">
        <span class="float-md-end">
        <% if restaurant.persisted? %>
          <div class="btn btn-dark ">
            <%= link_to t('.delete'), restaurant, method: :delete, class: "text-white text-decoration-none", data: { confirm: t(".sure") } %>
          </div>
        <% end %>
        <%= form.submit value: t('.save'), class: 'btn btn-dark' %>
        </span>
    </div>
  </div>
  <% if restaurant.errors.any? %>
  <div class="row">
    <div class="col-sm-3">
      <span class="float-md-end"><%=t(".errors")%> : </span>
    </div>
    <div class="col-sm-9">
      <ul>
          <% restaurant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>
