  <%= restaurant_form_with(restaurant, auto_save: true, validate: true) do |form| %>
  <div class="form-group row">
    <div class="col-12">
        <h4><%=t(".details")%></h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :name, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :description, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_area :description, class: 'form-control', rows: 6 %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :currency, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= currency_select(form, :currency) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
        <p>
        <h4><%=t(".address")%></h4>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :address, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
        <%= form.text_field :address1, value: restaurant.address1, class: "form-control" %>
        <%= form.hidden_field :latitude, value: restaurant.latitude, class: "form-control" %>
        <%= form.hidden_field :longitude, value: restaurant.longitude, class: "form-control" %>
        <%= form.hidden_field :country, value: restaurant.country %>
        <%= form.hidden_field :address2, value: restaurant.address2, class: "form-control" %>
        <%= form.hidden_field :city, value: restaurant.city, class: "form-control" %>
        <%= form.hidden_field :state, value: restaurant.state, class: "form-control" %>
        <%= form.hidden_field :postcode, value: restaurant.postcode, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
        <p>
        <h4><%=t(".imageSettings")%></h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :image, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-10">
          <%= form.hidden_field :image, value: form.object.cached_image_data, id: nil %>
          <%= form.file_field :image, class: 'form-control' %>
        </div>
        <div class="col-2">
          <span class="position-relative-top-neg5 float-md-end"><i class="bi bi-trash"></i> <%= form.check_box :remove_image %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
    </div>
    <div class="col-9">
      <%= image_tag restaurant.image_url, :class => "img-thumbnail rounded mx-auto d-block" if restaurant.image %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :genid, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
        <%= form.text_field :genid, class: 'form-control' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :imagecontext, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_area :imagecontext, class: 'form-control', rows: 6 %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :image_style_profile, t('.image_style_profile_label'), class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_area :image_style_profile, class: 'form-control', rows: 4, placeholder: t('.image_style_profile_placeholder') %>
      <small class="form-text text-muted"><%= t('.image_style_profile_hint') %></small>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
        <p>
        <h4><%=t(".settings")%></h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :status, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= status_select(form, :status) %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :displayImages, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :displayImages, [['On', true], ['Off', false]], { prompt: 'Select option...' }, { class: 'form-control', **select_data_attributes(:default) } %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :displayImagesInPopup, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :displayImagesInPopup, [['On', true], ['Off', false]], { prompt: 'Select option...' }, { class: 'form-control', **select_data_attributes(:default) } %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :allowOrdering, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :allowOrdering, [['On', true], ['Off', false]], { prompt: 'Select option...' }, { class: 'form-control', **select_data_attributes(:default) } %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :inventoryTracking, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :inventoryTracking, [['On', true], ['Off', false]], { prompt: 'Select option...' }, { class: 'form-control', **select_data_attributes(:default) } %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
        <p>
        <h4><%=t(".wifi")%></h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :wifissid, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_field :wifissid, class: 'form-control' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :wifiEncryptionType, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :wifiEncryptionType, options_for_select(Restaurant.wifiEncryptionTypes.keys.to_a, form.object.wifiEncryptionType), { prompt: 'Select encryption...' }, { class: 'form-control', **select_data_attributes(:default) } %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :wifiPassword, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.password_field :wifiPassword, class: 'form-control' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :wifiHidden, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :wifiHidden, [['Yes', true], ['No', false]], { prompt: 'Select option...' }, { class: 'form-control', **select_data_attributes(:default) } %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
        <p>
        <h4><%=t(".music")%></h4>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%=t(".spotify")%></span>
    </div>
    <div class="col-9">
      <%= link_to @restaurant.spotifyAuthUrl, class: 'btn btn-sm btn-success', data: { turbo: false } do %>
        <%= t('.connect') %>
      <% end %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :spotifyuserid, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_field :spotifyuserid, class: 'form-control',:readonly => true,:disabled => true %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :spotifyaccesstoken, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_field :spotifyaccesstoken, class: 'form-control',:readonly => true,:disabled => true %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
        <span class="float-md-end"><%= form.label :spotifyrefreshtoken, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.text_field :spotifyrefreshtoken, class: 'form-control',:readonly => true,:disabled => true %>
    </div>
  </div>

  <% if current_user %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  <% end %>

  <div class="spacing-md"></div>
  <div class="row">
    <div class="col-12">
        <span class="float-end">
        <% if restaurant.persisted? %>
          <div class="btn btn-dark ">
            <%= link_to t('.delete'), restaurant, method: :delete, class: "text-white text-decoration-none", data: { confirm: t(".sure") } %>
          </div>
        <% end %>
        <%= form.submit value: t('.save'), class: 'btn btn-dark' %>
        </span>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <% if restaurant.errors.any? %>
  <div class="row">
    <div class="col-3">
      <span class="float-md-end"><%= t('common.errors') %></span>
    </div>
    <div class="col-9">
      <ul>
          <% restaurant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>
