<div id="<%= dom_id restaurant %>">
  <p>
    <strong><%= t('.name') %></strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong><%= t('.description') %></strong>
    <%= restaurant.description %>
  </p>

  <p>
    <strong><%= t('.address1') %></strong>
    <%= restaurant.address1 %>
  </p>

  <p>
    <strong><%= t('.address2') %></strong>
    <%= restaurant.address2 %>
  </p>

  <p>
    <strong><%= t('.state') %></strong>
    <%= restaurant.state %>
  </p>

  <p>
    <strong><%= t('.city') %></strong>
    <%= restaurant.city %>
  </p>

  <p>
    <strong><%= t('.postcode') %></strong>
    <%= restaurant.postcode %>
  </p>

  <p>
    <strong><%= t('.country') %></strong>
    <%= restaurant.country %>
  </p>

  <p>
    <strong><%= t('.image') %></strong>
    <%= restaurant.image %>
  </p>

  <p>
    <strong><%= t('.status') %></strong>
    <%= restaurant.status %>
  </p>

  <p>
    <strong><%= t('.capacity') %></strong>
    <%= restaurant.capacity %>
  </p>

  <p>
    <strong><%= t('.user') %></strong>
    <%= restaurant.user_id %>
  </p>

</div>
