<p>
<div class="row">
  <div class="col-sm-12 text-end">
    <% if edit %>
        <button id="activate-tax" class='btn btn-sm btn-success' disabled><%=t(".activate")%></button>
        <button id="deactivate-tax"class='btn btn-sm btn-danger' disabled><%=t(".deactivate")%></button>
        <%= link_to new_tax_path(restaurant_id: @restaurant.id), class: 'btn btn-sm btn-primary' do %>
            <i class="bi bi-plus"></i> <%=t(".tax")%>
        <% end %>
    <% else %>
        <button id="activate-tax" class='btn btn-sm btn-success' disabled><%=t(".activate")%></button>
        <button id="deactivate-tax"class='btn btn-sm btn-danger' disabled><%=t(".deactivate")%></button>
        <%= link_to new_tax_path(restaurant_id: @restaurant.id), class: 'btn btn-sm btn-primary disabled' do %>
            <i class="bi bi-plus"></i> <%=t(".tax")%>
        <% end %>
    <% end %>
  </div>
</div>
<div style="padding-top:10px" class="table-borderless" id="restaurant-tax-table">
</div>