    <p>
    <div class="row">
      <div class="col-6">
        <h4><%= t('.menus') %></h4>
      </div>
      <div class="col-6 text-end">
        [<%=@menuCount %>/<%= current_user.plan.menusperlocation %>]
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group" role="group">
            <button id="menu-actions" type="button" class="btn btn-dark dropdown-toggle" disabled data-bs-toggle="dropdown" aria-expanded="false">
              <%= t('common.actions') %>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="allergyn-actions">
              <li><a id="activate-menu" class="dropdown-item" href="#"><%= t('common.activate') %></a></li>
              <li><a id="deactivate-menu" class="dropdown-item" href="#"><%= t('common.deactivate') %></a></li>
            </ul>
          </div>
          <% if @canAddMenu %>
              <button type="button" class="btn btn-dark">
                <%= link_to new_menu_path(restaurant_id: @restaurant.id), class: 'link-light', title: t('.add_new_menu') do %>
                  <i class="bi bi-plus"></i>
                <% end %>
              </button>
              <button type="button" class="btn btn-dark">
                <%= link_to restaurant_ocr_menu_imports_path(@restaurant), class: 'link-light', title: t('.import_menu_from_pdf') do %>
                  <i class="bi bi-file-earmark-pdf"></i>
                <% end %>
              </button>
          <% end %>
        </div>
      </div>
    </div>
    <div style="padding-top:10px" class="table-borderless" id="restaurant-menu-table" data-bs-restaurant_id="<%= @restaurant.id %>">
    </div>