<p>
<div class="row">
  <div class="col-sm-12 text-end">
    <button id="activate-employee" class='btn btn-sm btn-dark' disabled><%=t(".activate")%></button>
    <button id="deactivate-employee"class='btn btn-sm btn-dark' disabled><%=t(".deactivate")%></button>
    <%= link_to new_employee_path(restaurant_id: @restaurant.id), class: 'btn btn-sm btn-dark' do %>
        <i class="bi bi-plus"></i> <%=t(".employee")%>
    <% end %>
  </div>
</div>
<div style="padding-top:10px" class="table-borderless" id="restaurant-employee-table" data-bs-restaurant_id="<%= @restaurant.id %>">
</div>
