    <p>
    <div class="row">
      <div class="col-sm-12 text-end">
        <button id="activate-menu" class='btn btn-sm btn-dark' disabled><%= t(".activate") %></button>
        <button id="deactivate-menu"class='btn btn-sm btn-dark' disabled><%= t(".deactivate") %></button>
        <%= link_to new_menu_path(restaurant_id: @restaurant.id), class: 'btn btn-sm btn-dark' do %>
          <i class="bi bi-plus"></i> <%= t(".menu") %>
        <% end %>
      </div>
    </div>
    <div style="padding-top:10px" class="table-borderless" id="restaurant-menu-table" data-bs-restaurant_id="<%= @restaurant.id %>">
    </div>