          <div style="margin-top:20px" class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <%= link_to restaurant_tips_path(restaurant_id: @restaurant.id), class: 'link-dark' do %>
                    <h4><%=t(".tips")%></h4>
                <% end %>
            </div>
            <div class="col-sm-3">
                <span class="float-end">
                    <%= link_to new_tip_path(restaurant_id: @restaurant.id), class: 'btn btn-sm btn-primary' do %>
                        <i class="bi bi-plus"></i>&nbsp;<%=t(".tip")%>
                    <% end %>
                </span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="w-25 p-3" scope="col"><span class="float-end"><%=t(".percentage")%></span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @restaurant.tips.sort_by(&:percentage).each do |tip| %>
                    <tr>
                      <td class="w-25 p-3">
                        <span style="padding-right:4px" class="float-end">
                            <%= link_to restaurant_tip_path(restaurant_id: @restaurant.id, id: tip.id), class: 'link-dark' do %>
                              <%= number_with_precision(tip.percentage, precision: 2) %>%
                            <% end %>
                        </span>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
          </div>