          <div style="margin-top:20px" class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <%= link_to restaurant_employees_path(restaurant_id: @restaurant.id), class: 'link-dark' do %>
                    <h4>Employees</h4>
                <% end %>
            </div>
            <div class="col-sm-3">
                <span class="float-end">
                    <%= link_to new_employee_path(restaurant_id: @restaurant.id), class: 'btn btn-sm btn-primary' do %>
                        <i class="bi bi-plus"></i>&nbsp;Employee
                    <% end %>
                </span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="w-25 p-3" scope="col">Name</th>
                      <th class="w-25 p-3" scope="col"><span class="float-end">Role<span></th>
                      <th class="w-25 p-3" scope="col"><span class="float-end">ID</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @restaurant.employees.each do |employee| %>
                    <tr>
                      <td class="w-25 p-3">
                          <%= link_to restaurant_employee_path(restaurant_id: @restaurant.id, id: employee.id), class: 'link-dark' do %>
                            <%= employee.name %>
                          <% end %>
                      </td>
                      <td class="w-25 p-3"><span class="float-end"><%= employee.role %></span></td>
                      <td class="w-25 p-3"><span style="padding-right:4px" class="float-end"><%= employee.eid %></span></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
          </div>