<div class="row">
  <div class="col-6">
    <h4><%= t('.sizes') %></h4>
  </div>
  <div class="col-6 text-end">
  <div class="col-12 text-end">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="size-actions" type="button" class="btn btn-dark dropdown-toggle" disabled data-bs-toggle="dropdown" aria-expanded="false">
          <%=t(".actions")%>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="allergyn-actions">
          <li><a id="activate-size" class="dropdown-item" href="#"><%=t(".activate")%></a></li>
          <li><a id="deactivate-size" class="dropdown-item" href="#"><%=t(".deactivate")%></a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-dark">
        <%= link_to new_size_path(restaurant_id: @restaurant.id), class: 'link-light' do %>
          <i class="bi bi-plus"></i>
        <% end %>
      </button>
    </div>
  </div>
</div>
<div style="padding-top:10px" class="table-borderless" id="size-table" data-bs-restaurant_id="<%= @restaurant.id %>">
</div>
