<p>
<div class="row">
  <div class="col-sm-12 text-end">
    <% if edit %>
        <button id="activate-openinghour" class='btn btn-sm btn-success' disabled><%=t(".activate")%></button>
        <button id="deactivate-openinghour"class='btn btn-sm btn-danger' disabled><%=t(".deactivate")%></button>
        <%= link_to new_restaurantavailability_path(restaurant_id: @restaurant.id), class: 'btn btn-sm btn-primary' do %>
            <i class="bi bi-plus"></i> <%=t(".openingHour")%>
        <% end %>
    <% else %>
        <button id="activate-openinghour" class='btn btn-sm btn-success' disabled><%=t(".activate")%></button>
        <button id="deactivate-openinghour"class='btn btn-sm btn-danger' disabled><%=t(".deactivate")%></button>
        <%= link_to new_restaurantavailability_path(restaurant_id: @restaurant.id), class: 'btn btn-sm btn-primary disabled' do %>
            <i class="bi bi-plus"></i> <%=t(".openingHour")%>
        <% end %>
    <% end %>
  </div>
</div>
<div style="padding-top:10px" class="table-borderless" id="restaurant-openinghour-table" data-bs-restaurant_id="<%= @restaurant.id %>">
</div>