<p>
<div class="row">
  <div class="col-6">
    <h3><%= t('.openings') %></h3>
  </div>
  <div class="col-6 text-end">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="openinghour-actions" type="button" class="btn btn-dark dropdown-toggle" disabled data-bs-toggle="dropdown" aria-expanded="false">
          Actions
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="allergyn-actions">
          <li><a id="activate-openinghour" class="dropdown-item" href="#"><%=t(".activate")%></a></li>
          <li><a id="deactivate-openinghour" class="dropdown-item" href="#"><%=t(".deactivate")%></a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-dark">
        <%= link_to new_restaurantavailability_path(restaurant_id: @restaurant.id), class: 'link-light' do %>
          <i class="bi bi-plus"></i>
        <% end %>
      </button>
    </div>
  </div>
</div>
<div style="padding-top:10px" class="table-borderless" id="restaurant-openinghour-table" data-bs-restaurant_id="<%= @restaurant.id %>">
</div>