<p>
<div class="row">
  <div class="col-6">
    <h4><%= t('.tracks') %></h4>
  </div>
  <div class="col-6 text-end">
  <div class="col-12 text-end">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="tracks-actions" type="button" class="btn btn-dark dropdown-toggle" disabled data-bs-toggle="dropdown" aria-expanded="false">
          <%=t(".actions")%>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="tracks-actions">
          <li><a id="activate-track" class="dropdown-item" href="#"><%=t(".activate")%></a></li>
          <li><a id="deactivate-track" class="dropdown-item" href="#"><%=t(".deactivate")%></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div style="padding-top:10px" class="table-borderless" id="restaurant-tracks-table" data-bs-restaurant_id="<%= @restaurant.id %>">
</div>
