<p>
<div class="row">
  <div class="col-sm-12 text-end">
    <button id="activate-tax" class='btn btn-sm btn-dark' disabled><%=t(".activate")%></button>
    <button id="deactivate-tax"class='btn btn-sm btn-dark' disabled><%=t(".deactivate")%></button>
    <%= link_to new_tax_path(restaurant_id: @restaurant.id), class: 'btn btn-sm btn-dark' do %>
      <i class="bi bi-plus"></i> <%=t(".tax")%>
    <% end %>
  </div>
</div>
<div style="padding-top:10px" class="table-borderless" id="restaurant-tax-table" data-bs-restaurant_id="<%= @restaurant.id %>">
</div>