    <p>
    <div class="row">
      <div class="col-6">
        <h4><%= t('.smartQRs') %></h4>
      </div>
      <div class="col-6 text-end">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group" role="group">
            <button id="menu-actions" type="button" class="btn btn-dark dropdown-toggle" disabled data-bs-toggle="dropdown" aria-expanded="false">
              <%= t('common.actions') %>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="allergyn-actions">
              <li><a id="activate-menu" class="dropdown-item" href="#"><%= t('common.activate') %></a></li>
              <li><a id="deactivate-menu" class="dropdown-item" href="#"><%= t('common.deactivate') %></a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-dark" disabled>
            <%= link_to new_menu_path(restaurant_id: @restaurant.id), class: 'link-light' do %>
              <i class="bi bi-plus"></i>
            <% end %>
          </button>
        </div>
      </div>
    </div>
    <div>
    <span class="display-none" id="qrIcon"><%= image_url('qr-icon.svg') %></span>
    <span class="display-none" id="qrHost"><%= @qrHost %></span>

    <% if restaurant.wifissid != '' %>
        <div class="row">
            <div class="section-spacing-top col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                 <span class="h1"><%= t('.wifi') %></span>
                            </div>
                            <div class="col-6">
                                <span class="h1 float-end"><%= t('.scan_to_join') %></span>
                            </div>
                        </div>
                        <span class="display-none qrWiFi"><%= restaurant.wifiQRString %></span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="col-12">
                                <div class="section-spacing-vertical" id="<%= restaurant.wifiQRString %>" class="d-flex justify-content-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

    <div class="row">
        <% Smartmenu.where( restaurant_id: @restaurant.id).includes([:menu]).includes([:tablesetting]).each do |smartmenu| %>
            <% if smartmenu.menu != nil && smartmenu.menu.status == 'active' %>
            <div class="section-spacing-top col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                 <span class="h1"><%= smartmenu.menuName %></span>
                            </div>
                            <div class="col-6">
                                <span class="h1 float-end"><%= smartmenu.tableSettingName %></span>
                            </div>
                        </div>
                        <span class="display-none qrSlug"><%= smartmenu.slug %></span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="col-12">
                                <%= link_to smartmenu_path(smartmenu.slug) do %>
                                    <div class="section-spacing-vertical" id="<%= smartmenu.slug %>" class="d-flex justify-content-center">
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        <% end %>
    </div>