<%= render 'shared/customcss' %>
<div class="page-header">
  <div class="row">
    <div class="col-sm-10">
          <h1><%=t(".restaurant")%></h1>
    </div>
    <div class="col-sm-2">
        <% if @restaurant.persisted? %>
          <%= link_to "Cancel", @restaurant, class: "float-end btn btn-sm btn-light" %>
        <% else %>
          <%= link_to "Cancel", restaurants_path, class: "float-end btn btn-sm btn-light" %>
        <% end %>
    </div>
  </div>
</div>

<ul class="nav nav-tabs" id="restaurantTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="restaurantConfig" aria-selected="true">Restaurant</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="menusConfig" aria-selected="false">Menus</button>
  </li>
</ul>
<div class="tab-content" id="restaurantConfig">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <p>
    <div class="row">
        <div class="col-sm-11">
            <%= render 'form', restaurant: @restaurant %>
        </div>
    </div>
  </div>
  <div class="tab-pane fade" id="menuConfig" role="tabpanel" aria-labelledby="profile-tab">
  </div>
</div>