<%= render 'shared/customcss' %>
<div class="page-header">
  <div class="row">
    <div class="col-12">
      <h4>
        <%= link_to edit_restaurant_path(@restaurant), class: "link-dark" do %>
          <%= @restaurant.name %>
        <% end %>
      </h4>
    </div>
  </div>
</div>

<ul style="height:43px;overflow-y:hidden;" class="nav nav-tabs overflow-auto flex-nowrap" id="restaurantTabsBack" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark">
      <%= link_to restaurants_path(), class: "link-dark" do %>
        <strong><i class="bi bi-chevron-double-left"></i></strong>
      <% end %>
    </button>
  </li>
</ul>
<ul style="position:relative;top:-43px;left:50px;height:43px;overflow-y:hidden;width:85%;mask-image: linear-gradient(to right, #008080, rgba(0,32,32,0) 120%" class="nav nav-tabs overflow-auto flex-nowrap" id="restaurantTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark active" id="restaurant-tab" data-bs-toggle="tab" data-bs-target="#restaurant" type="button" role="tab" aria-controls="restaurantConfig" aria-selected="true">Restaurant</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark" id="menu-tab" data-bs-toggle="tab" data-bs-target="#menu" type="button" role="tab" aria-controls="menusConfig" aria-selected="false">Menus</button>
  </li>
  <% if @current_employee && @current_employee.role == 'manager' %>
      <li class="nav-item" role="presentation">
        <button class="nav-link link-dark" id="tables-tab" data-bs-toggle="tab" data-bs-target="#table" type="button" role="tab" aria-controls="tablesConfig" aria-selected="false">Tables</button>
      </li>
  <% end %>
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark" id="smart-menu-tab" data-bs-toggle="tab" data-bs-target="#smartmenu" type="button" role="tab" aria-controls="smartMenusConfig" aria-selected="false"><%= t('.smartQRs') %></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark" id="employees-tab" data-bs-toggle="tab" data-bs-target="#employee" type="button" role="tab" aria-controls="employeesConfig" aria-selected="false">Employees</button>
  </li>
  <% if @current_employee && @current_employee.role == 'manager' %>
      <li class="nav-item" role="presentation">
        <button class="nav-link link-dark" id="tips-tab" data-bs-toggle="tab" data-bs-target="#tip" type="button" role="tab" aria-controls="tipsConfig" aria-selected="false">Tips</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link link-dark" id="taxes-tab" data-bs-toggle="tab" data-bs-target="#tax" type="button" role="tab" aria-controls="taxesConfig" aria-selected="false">Taxes</button>
      </li>
      <li class="nav-item flex-nowrap" role="presentation">
        <button class="nav-link link-dark" id="openinghours-tab" data-bs-toggle="tab" data-bs-target="#openinghour" type="button" role="tab" aria-controls="openinghoursConfig" aria-selected="false">Openings</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link link-dark" id="allergyns-tab" data-bs-toggle="tab" data-bs-target="#allergyn" type="button" role="tab" aria-controls="allergynConfig" aria-selected="false">Allergyns</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link link-dark" id="sizes-tab" data-bs-toggle="tab" data-bs-target="#size" type="button" role="tab" aria-controls="sizeConfig" aria-selected="false">Sizes</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link link-dark" id="ordrs-tab" data-bs-toggle="tab" data-bs-target="#ordr" type="button" role="tab" aria-controls="ordrConfig" aria-selected="false">Orders</button>
      </li>
  <% end %>
</ul>
<div style="position:relative;top:-43px;" class="tab-content" id="restaurantConfig">
  <div class="tab-pane fade show active" id="restaurant" role="tabpanel" aria-labelledby="restaurant-tab">
    <p>
    <div class="row">
        <div class="col-12">
            <%= render 'form', restaurant: @restaurant %>
        </div>
    </div>
  </div>

  <div class="tab-content" id="employeeConfig">
    <div class="tab-pane fade" id="employee" role="tabpanel" aria-labelledby="employee-tab">
        <%= render 'showEmployees', restaurant: @restaurant, edit: true, cached: true %>
    </div>
  </div>
  <div class="tab-content" id="menusConfig">
    <div class="tab-pane fade" id="menu" role="tabpanel" aria-labelledby="menu-tab">
        <%= render 'showMenus', restaurant: @restaurant, edit: true, cached: true %>
    </div>
  </div>
  <div class="tab-content" id="smartMenusConfig">
    <div class="tab-pane fade" id="smartmenu" role="tabpanel" aria-labelledby="menu-tab">
        <%= render 'showSmartMenus', restaurant: @restaurant, edit: true, cached: true%>
    </div>
  </div>
  <% if @current_employee && @current_employee.role == 'manager' %>
      <div class="tab-content" id="tablesConfig">
        <div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
            <%= render 'showTableSettings', restaurant: @restaurant, edit: true, cached: true %>
        </div>
      </div>
      <div class="tab-content" id="tipsConfig">
        <div class="tab-pane fade" id="tip" role="tabpanel" aria-labelledby="tip-tab">
            <%= render 'showTips', restaurant: @restaurant, edit: true, cached: true %>
        </div>
      </div>
      <div class="tab-content" id="taxssConfig">
        <div class="tab-pane fade" id="tax" role="tabpanel" aria-labelledby="tax-tab">
            <%= render 'showTaxes', restaurant: @restaurant, edit: true, cached: true %>
        </div>
      </div>
      <div class="tab-content" id="openinghoursConfig">
        <div class="tab-pane fade" id="openinghour" role="tabpanel" aria-labelledby="openinghour-tab">
            <%= render 'showOpeningHours', restaurant: @restaurant, edit: true, cached: true %>
        </div>
      </div>
    <div class="tab-content" id="allergynConfig">
      <div class="tab-pane fade" id="allergyn" role="tabpanel" aria-labelledby="allergyn-tab">
        <p>
        <div class="row">
          <div class="col-12">
            <%= render 'showAllergyns', menu: @menu, edit: true, cached: true%>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content" id="sizeConfig">
      <div class="tab-pane fade" id="size" role="tabpanel" aria-labelledby="size-tab">
        <p>
        <div class="row">
          <div class="col-12">
            <%= render 'showSizes', restaurant: @restaurant, edit: true %>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content" id="ordrConfig">
      <div class="tab-pane fade" id="ordr" role="tabpanel" aria-labelledby="ordr-tab">
        <p>
        <div class="row">
          <div class="col-12">
            <%= render 'showOrdrs', restaurant: @restaurant, edit: true %>
          </div>
        </div>
      </div>
    </div>

<% end %>
</div>