


<div class="row">
  <div class="col-sm-6">
    <h1>Restaurants</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_restaurant_path, class: 'btn btn-primary' do %>
    Add New Restaurant
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
            <th>Description</th>
            <th>Address1</th>
            <th>Address2</th>
            <th>State</th>
            <th>City</th>
            <th>Postcode</th>
            <th>Country</th>
            <th>Image</th>
            <th>Status</th>
            <th>Capacity</th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <%= content_tag :tr, id: dom_id(restaurant), class: dom_class(restaurant) do %>
          
            <td><%= link_to restaurant.name, restaurant %></td>
          

                      <td><%= restaurant.description %></td>
                      <td><%= restaurant.address1 %></td>
                      <td><%= restaurant.address2 %></td>
                      <td><%= restaurant.state %></td>
                      <td><%= restaurant.city %></td>
                      <td><%= restaurant.postcode %></td>
                      <td><%= restaurant.country %></td>
                      <td><%= restaurant.image %></td>
                      <td><%= restaurant.status %></td>
                      <td><%= restaurant.capacity %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
