<%= render 'shared/customcss' %>
<div class="page-header">
  <div class="row">
    <div class="col-12">
      <h4>
        <%= link_to restaurants_path(), class: "link-dark" do %>
          <%= t(".restaurants") %>
        <% end %>
      </h4>
    </div>
  </div>
</div>
<ul class="nav-tabs-height nav nav-tabs overflow-auto flex-nowrap" id="tablesettingTabsBack" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark">
      <%= link_to restaurants_path(), class: "link-dark" do %>
        <strong><i class="bi bi-lg bi-chevron-double-left"></i></strong>
      <% end %>
    </button>
  </li>
</ul>
<p>
<div class="page-header">
  <div class="row">
    <div class="col-12">
        <h4><%= t(".restaurant") %></h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= render 'form', restaurant: @restaurant %>
  </div>
</div>