<style>
    .form-control:disabled {
        background-color: #fafafa;
        opacity: 1;
    }
    .disabled .ts-control {
        opacity: 1.0;
        background-color: #fafafa;
    }
    .ts-dropdown, .ts-control, .ts-control input {
        color: #000000;
        font-size: 16px;
        line-height: 18px;
    }
</style>

<div class="page-header">
  <div class="row">
    <div class="col-sm-10">
          <h1><%=t(".restaurant")%></h1>
    </div>
    <div class="col-sm-2">
        <span class="float-end">
          <%= link_to restaurants_path, class: 'btn btn-light' do %>
            <i class="bi bi-chevron-left"></i>
          <% end %>
          <%= link_to edit_restaurant_path(@restaurant), class: 'btn btn-primary' do %>
            <i class="bi bi-pencil-fill"></i>
          <% end %>
        </span>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-11">
        <%= form_with(model: @restaurant) do |form| %>
          <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <p>
                <h4>Details</h4>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
                <span class="float-md-end"><%= form.label :name, class: 'col-form-label' %> :</span>
            </div>
            <div class="col-sm-9">
              <%= form.text_field :name, class: 'form-control', disabled: true %>
            </div>
          </div>
          <div style='height:4px'></div>
          <div class="form-group row">
            <div class="col-sm-3">
                <span class="float-md-end"><%= form.label :description, class: 'col-form-label' %> :</span>
            </div>
            <div class="col-sm-9">
              <%= form.text_area :description, class: 'form-control', rows: 6, disabled: true %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <p>
                <h4>Address</h4>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
                <span class="float-md-end"><%= form.label :address1, class: 'col-form-label' %> :</span>
            </div>
            <div class="col-sm-9">
                <%= form.text_field :address1, class: 'form-control', disabled: true %>
            </div>
          </div>
          <div style='height:4px'></div>
          <div class="form-group row">
            <div class="col-sm-3">
                <span class="float-md-end"><%= form.label :address2, class: 'col-form-label' %> :</span>
            </div>
            <div class="col-sm-9">
                <%= form.text_field :address2, class: 'form-control', disabled: true %>
            </div>
          </div>
          <div style='height:4px'></div>
          <div class="form-group row">
            <div class="col-sm-3">
                <span class="float-md-end"><%= form.label :state, class: 'col-form-label' %> :</span>
            </div>
            <div class="col-sm-9">
                <%= form.text_field :state, class: 'form-control', disabled: true %>
            </div>
          </div>
          <div style='height:4px'></div>
          <div class="form-group row">
            <div class="col-sm-3">
                <span class="float-md-end"><%= form.label :city, class: 'col-form-label' %> :</span>
            </div>
            <div class="col-sm-9">
                <%= form.text_field :city, class: 'form-control', disabled: true %>
            </div>
          </div>
          <div style='height:4px'></div>
          <div class="form-group row">
            <div class="col-sm-3">
                <span class="float-md-end"><%= form.label :postcode, class: 'col-form-label' %> :</span>
            </div>
            <div class="col-sm-9">
                <%= form.text_field :postcode, class: 'form-control', disabled: true %>
            </div>
          </div>
          <div style='height:4px'></div>
          <div class="form-group row">
            <div class="col-sm-3">
                <span class="float-md-end"><%= form.label :country, class: 'col-form-label' %> :</span>
            </div>
            <div class="col-sm-9">
                <%= form.country_select :country, {}, {disabled: true} %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <p>
                <h4>Image Settings</h4>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
                <span class="float-md-end"><%= form.label :image, class: 'col-form-label' %> :</span>
            </div>
            <div class="col-sm-9">
                <%= form.text_field :image, class: 'form-control', disabled: true %>
                <% if @restaurant.image %>
                    <img src="<%=@restaurant.image%>" class="img-fluid" alt="...">
                <% end %>
            </div>
          </div>
          <div style='height:4px'></div>
          <div class="form-group row">
            <div class="col-sm-3">
                <span class="float-md-end"><%= form.label :genid, class: 'col-form-label' %> :</span>
            </div>
            <div class="col-sm-9">
              <%= form.text_field :genid, class: 'form-control', disabled: true %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <p>
                <h4>Settings</h4>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
                <span class="float-md-end"><%= form.label :status, class: 'col-form-label' %> :</span>
            </div>
            <div class="col-sm-9">
                <%= form.select :status, options_for_select(Restaurant.statuses.keys.to_a, form.object.status), {}, disabled: 'disabled' %>
            </div>
          </div>
          <div style='height:4px'></div>
          <div class="form-group row">
            <div class="col-sm-3">
                <span class="float-md-end"><%= form.label :displayImages, class: 'col-form-label' %> :</span>
            </div>
            <div class="col-sm-9">
              <%= form.select :displayImages, [['on', true], ['off', false]], {}, disabled: 'disabled' %>
            </div>
          </div>
          <div style='height:4px'></div>
          <div class="form-group row">
            <div class="col-sm-3">
                <span class="float-md-end"><%= form.label :allowOrdering, class: 'col-form-label' %> :</span>
            </div>
            <div class="col-sm-9">
              <%= form.select :allowOrdering, [['on', true], ['off', false]], {}, disabled: 'disabled' %>
            </div>
          </div>
          <div style='height:4px'></div>
          <div class="form-group row">
            <div class="col-sm-3">
                <span class="float-md-end"><%= form.label :inventoryTracking, class: 'col-form-label' %> :</span>
            </div>
            <div class="col-sm-9">
              <%= form.select :inventoryTracking, [['on', true], ['off', false]], {}, disabled: 'disabled' %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <p>
                <h4>Table Settings</h4>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="w-25 p-3" scope="col">Name</th>
                      <th class="w-25 p-3" scope="col">Type</th>
                      <th class="w-25 p-3" scope="col"><span class="float-end">Capacity</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @restaurant.tablesettings.each do |tablesetting| %>
                    <tr>
                      <td class="w-25 p-3" scope="row"><%= tablesetting.name %></td>
                      <td class="w-25 p-3"><%= tablesetting.tabletype %></td>
                      <td class="w-25 p-3"><span style="padding-right:4px" class="float-end"><%= tablesetting.capacity %></span></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-11">
                <span class="float-md-end"><%= form.label :capacity, class: 'col-form-label' %> :</span>
            </div>
            <div class="col-sm-1">
                <%= form.text_field :total_capacity, class: 'form-control float-end text-end', disabled: true %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <p>
                <h4>Taxes</h4>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="w-25 p-3" scope="col">Name</th>
                      <th class="w-25 p-3" scope="col">Type</th>
                      <th class="w-25 p-3" scope="col"><span class="float-end">Percentage</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @restaurant.taxes.each do |tax| %>
                    <tr>
                      <td class="w-25 p-3" scope="row"><%= tax.name %></td>
                      <td class="w-25 p-3"><%= tax.taxtype %></td>
                      <td class="w-25 p-3"><span style="padding-right:4px" class="float-end"><%= number_with_precision(tax.taxpercentage, precision: 2) %>%</span></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <p>
                <h4>Employees</h4>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="w-25 p-3" scope="col">Name</th>
                      <th class="w-25 p-3" scope="col">Role</th>
                      <th class="w-25 p-3" scope="col"><span class="float-end">ID</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @restaurant.employees.each do |employee| %>
                    <tr>
                      <td class="w-25 p-3" scope="row"><%= employee.name %></td>
                      <td class="w-25 p-3"><%= employee.role %></td>
                      <td class="w-25 p-3"><span style="padding-right:4px" class="float-end"><%= employee.eid %></span></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
          </div>
        <% end %>
    </div>
</div>

