<%= render 'shared/customcss' %>
<div class="page-header">
  <div class="row">
    <div class="col-sm-10">
          <h1><%= @restaurant.name %></h1>
    </div>
    <div class="col-sm-2">
        <span class="float-end">
          <%= link_to edit_restaurant_path(@restaurant), class: 'btn btn-sm btn-primary' do %>
            <i class="bi bi-pencil-fill"></i>
          <% end %>
        </span>
    </div>
  </div>
</div>

<ul class="nav nav-tabs" id="restaurantTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark active" id="restaurant-tab" data-bs-toggle="tab" data-bs-target="#restaurant" type="button" role="tab" aria-controls="restaurantConfig" aria-selected="true">Restaurant</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark" id="menu-tab" data-bs-toggle="tab" data-bs-target="#menu" type="button" role="tab" aria-controls="menusConfig" aria-selected="false">Menus</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark" id="employees-tab" data-bs-toggle="tab" data-bs-target="#employee" type="button" role="tab" aria-controls="employeesConfig" aria-selected="false">Employees</button>
  </li>
  <% if @current_employee && @current_employee.role == 'manager' %>
      <li class="nav-item" role="presentation">
        <button class="nav-link link-dark" id="tables-tab" data-bs-toggle="tab" data-bs-target="#table" type="button" role="tab" aria-controls="tablesConfig" aria-selected="false">Tables</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link link-dark" id="tips-tab" data-bs-toggle="tab" data-bs-target="#tip" type="button" role="tab" aria-controls="tipsConfig" aria-selected="false">Tips</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link link-dark" id="taxes-tab" data-bs-toggle="tab" data-bs-target="#tax" type="button" role="tab" aria-controls="taxesConfig" aria-selected="false">Taxes</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link link-dark" id="openinghours-tab" data-bs-toggle="tab" data-bs-target="#openinghour" type="button" role="tab" aria-controls="openinghoursConfig" aria-selected="false">Opening Hours</button>
      </li>
  <% end %>
</ul>
<div class="tab-content" id="restaurantConfig">
  <div class="tab-pane fade show active" id="restaurant" role="tabpanel" aria-labelledby="home-tab">
    <p>
    <div class="row">
        <div class="col-sm-11">
            <%= form_with(model: @restaurant) do |form| %>
              <div class="form-group row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <h4><%=t(".details")%></h4>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span class="float-md-end"><%= form.label :name, class: 'col-form-label' %> :</span>
                </div>
                <div class="col-sm-9">
                  <%= form.text_field :name, class: 'form-control', disabled: true %>
                </div>
              </div>
              <div style='height:4px'></div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span class="float-md-end"><%= form.label :description, class: 'col-form-label' %> :</span>
                </div>
                <div class="col-sm-9">
                  <%= form.text_area :description, class: 'form-control', rows: 6, disabled: true %>
                </div>
              </div>
              <div style='height:4px'></div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span class="float-md-end"><%= form.label :currency, class: 'col-form-label' %> :</span>
                </div>
                <div class="col-sm-9">
                  <%= form.text_field :currency, class: 'form-control', disabled: true %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <p>
                    <h4><%=t(".address")%></h4>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span class="float-md-end"><%= form.label :address1, class: 'col-form-label' %> :</span>
                </div>
                <div class="col-sm-9">
                    <%= form.text_field :address1, class: 'form-control', disabled: true %>
                </div>
              </div>
              <div style='height:4px'></div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span class="float-md-end"><%= form.label :address2, class: 'col-form-label' %> :</span>
                </div>
                <div class="col-sm-9">
                    <%= form.text_field :address2, class: 'form-control', disabled: true %>
                </div>
              </div>
              <div style='height:4px'></div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span class="float-md-end"><%= form.label :state, class: 'col-form-label' %> :</span>
                </div>
                <div class="col-sm-9">
                    <%= form.text_field :state, class: 'form-control', disabled: true %>
                </div>
              </div>
              <div style='height:4px'></div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span class="float-md-end"><%= form.label :city, class: 'col-form-label' %> :</span>
                </div>
                <div class="col-sm-9">
                    <%= form.text_field :city, class: 'form-control', disabled: true %>
                </div>
              </div>
              <div style='height:4px'></div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span class="float-md-end"><%= form.label :postcode, class: 'col-form-label' %> :</span>
                </div>
                <div class="col-sm-9">
                    <%= form.text_field :postcode, class: 'form-control', disabled: true %>
                </div>
              </div>
              <div style='height:4px'></div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span class="float-md-end"><%= form.label :country, class: 'col-form-label' %> :</span>
                </div>
                <div class="col-sm-9">
                    <%= form.country_select :country, {}, {disabled: true} %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <p>
                    <h4><%=t(".imageSettings")%></h4>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span class="float-md-end"><%= form.label :image, class: 'col-form-label' %> :</span>
                </div>
                <div class="col-sm-9">
                    <%= form.text_field :image, class: 'form-control', disabled: true %>
                    <% if @restaurant.image %>
                        <img src="<%=@restaurant.image%>" class="img-fluid" alt="...">
                    <% end %>
                </div>
              </div>
              <div style='height:4px'></div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span class="float-md-end"><%= form.label :genid, class: 'col-form-label' %> :</span>
                </div>
                <div class="col-sm-9">
                  <%= form.text_field :genid, class: 'form-control', disabled: true %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <p>
                    <h4><%=t(".settings")%></h4>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span class="float-md-end"><%= form.label :status, class: 'col-form-label' %> :</span>
                </div>
                <div class="col-sm-9">
                    <%= form.select :status, options_for_select(Restaurant.statuses.keys.to_a, form.object.status), {}, disabled: 'disabled' %>
                </div>
              </div>
              <div style='height:4px'></div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span class="float-md-end"><%= form.label :displayImages, class: 'col-form-label' %> :</span>
                </div>
                <div class="col-sm-9">
                  <%= form.select :displayImages, [['on', true], ['off', false]], {}, disabled: 'disabled' %>
                </div>
              </div>
              <div style='height:4px'></div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span class="float-md-end"><%= form.label :allowOrdering, class: 'col-form-label' %> :</span>
                </div>
                <div class="col-sm-9">
                  <%= form.select :allowOrdering, [['on', true], ['off', false]], {}, disabled: 'disabled' %>
                </div>
              </div>
              <div style='height:4px'></div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span class="float-md-end"><%= form.label :inventoryTracking, class: 'col-form-label' %> :</span>
                </div>
                <div class="col-sm-9">
                  <%= form.select :inventoryTracking, [['on', true], ['off', false]], {}, disabled: 'disabled' %>
                </div>
              </div>
            <% end %>
        </div>
    </div>
  </div>
  <div class="tab-content" id="employeeConfig">
    <div class="tab-pane fade" id="employee" role="tabpanel" aria-labelledby="employee-tab">
        <%= render 'showEmployees', restaurant: @restaurant, edit: false %>
    </div>
  </div>
  <div class="tab-content" id="menusConfig">
    <div class="tab-pane fade" id="menu" role="tabpanel" aria-labelledby="menu-tab">
        <%= render 'showMenus', restaurant: @restaurant, edit: false %>
    </div>
  </div>
  <% if @current_employee && @current_employee.role == 'manager' %>
      <div class="tab-content" id="tablesConfig">
        <div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
            <%= render 'showTableSettings', restaurant: @restaurant, edit: false %>
        </div>
      </div>
      <div class="tab-content" id="tipsConfig">
        <div class="tab-pane fade" id="tip" role="tabpanel" aria-labelledby="tip-tab">
            <%= render 'showTips', restaurant: @restaurant, edit: false %>
        </div>
      </div>
      <div class="tab-content" id="taxssConfig">
        <div class="tab-pane fade" id="tax" role="tabpanel" aria-labelledby="tax-tab">
            <%= render 'showTaxes', restaurant: @restaurant, edit: false %>
        </div>
      </div>
      <div class="tab-content" id="openinghoursConfig">
        <div class="tab-pane fade" id="openinghour" role="tabpanel" aria-labelledby="openinghour-tab">
            <%= render 'showOpeningHours', restaurant: @restaurant, edit: false %>
        </div>
      </div>
  <% end %>
</div>


