<%= form_with(model: [@restaurant, restaurantavailability]) do |form| %>
  <div class="mb-3">
    <%= form.label :dayofweek, class: 'form-label' %>
    <%= form.select :dayofweek, options_for_select(Restaurantavailability.dayofweeks.keys.to_a, form.object.dayofweek), {}, class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= form.label :starthour, class: 'form-label' %>
    <div class="row g-2">
      <div class="col-6">
        <%= form.text_field :starthour, class: 'form-control', placeholder: 'Hour' %>
      </div>
      <div class="col-6">
        <%= form.text_field :startmin, class: 'form-control', placeholder: 'Min' %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :endhour, class: 'form-label' %>
    <div class="row g-2">
      <div class="col-6">
        <%= form.text_field :endhour, class: 'form-control', placeholder: 'Hour' %>
      </div>
      <div class="col-6">
        <%= form.text_field :endmin, class: 'form-control', placeholder: 'Min' %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: 'form-label' %>
    <%= form.select :status, options_for_select(Restaurantavailability.statuses.keys.to_a, form.object.status), {}, class: 'form-select' %>
  </div>

  <% if @futureParentRestaurant %>
    <%= form.hidden_field :restaurant_id, value: @futureParentRestaurant.id %>
  <% else %>
    <%= form.hidden_field :restaurant_id %>
  <% end %>

  <% if restaurantavailability.errors.any? %>
    <div class="alert alert-danger mb-3" role="alert">
      <div class="fw-semibold mb-1"><%= t('common.errors') %></div>
      <ul class="mb-0">
        <% restaurantavailability.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex justify-content-end gap-2">
    <% if restaurantavailability.persisted? %>
      <%= button_to t('.delete'), [@restaurant, restaurantavailability], method: :delete, class: 'btn btn-outline-danger', data: { turbo_confirm: t('.sure') } %>
    <% end %>
    <%= form.submit value: t('.save'), class: 'btn btn-dark' %>
  </div>
<% end %>
