<div id="<%= dom_id restaurantavailability %>">
  <p>
    <strong>Dayofweek:</strong>
    <%= restaurantavailability.dayofweek %>
  </p>

  <p>
    <strong>Starthour:</strong>
    <%= restaurantavailability.starthour %>
  </p>

  <p>
    <strong>Startmin:</strong>
    <%= restaurantavailability.startmin %>
  </p>

  <p>
    <strong>Endhour:</strong>
    <%= restaurantavailability.endhour %>
  </p>

  <p>
    <strong>Endmin:</strong>
    <%= restaurantavailability.endmin %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= restaurantavailability.restaurant_id %>
  </p>

</div>
