<%= render 'shared/customcss' %>
<div class="page-header">
  <div style='padding-top: 20px' class="row">
    <div class="col-sm-9">
        <h1><%=t(".restaurantavailability")%></h1>
    </div>
    <div class="col-sm-2">
        <% if @restaurantavailability.persisted? %>
          <%= link_to t(".cancel"), restaurant_path(id: @restaurantavailability.restaurant.id), class: "float-end btn btn-light" %>
        <% else %>
          <%= link_to t(".cancel"), restaurant_path(id: @restaurantavailability.restaurant.id), class: "float-end btn btn-light" %>
        <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-11">
    <%= render 'form', restaurantavailability: @restaurantavailability %>
  </div>
</div>

