<div class="row">
  <div class="col-sm-6">
    <h1><%=t(".restaurantavailabilities")%></h1>
  </div>
  <div class="col-sm-6 text-end">
    <% if @futureParentRestaurant %>
      <%= link_to restaurant_path(id: @futureParentRestaurant.id), class: 'btn btn-sm btn-light' do %>
        <i class="bi bi-chevron-left"></i>
      <% end %>
    <% end %>
    <button id="activate-row" class='btn btn-sm btn-success' disabled><%= t('common.activate') %></button>
    <button id="deactivate-row"class='btn btn-sm btn-danger' disabled><%= t('common.deactivate') %></button>
    <% restaurant_path = @futureParentRestaurant || current_user.restaurants.first %>
    <%= link_to new_restaurant_restaurantavailability_path(restaurant_path), class: 'btn btn-sm btn-dark' do %>
      <i class="bi bi-plus"></i> <%= t(".restaurantAvailability") %>
    <% end %>
  </div>
</div>
<div class="table-container-spacing table-borderless" id="restaurantavailability-table">
</div>
