<div id="<%= dom_id menuitemlocale %>">
  <p>
    <strong>Locale:</strong>
    <%= menuitemlocale.locale %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= menuitemlocale.status %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= menuitemlocale.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menuitemlocale.description %>
  </p>

  <p>
    <strong>Menuitem:</strong>
    <%= menuitemlocale.menuitem_id %>
  </p>

</div>
