<div class="page-header">
  <%= link_to menuitemlocales_path, class: 'btn btn-default' do %>
    All Menuitemlocales
  <% end %>
  <%= link_to edit_menuitemlocale_path(@menuitemlocale), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show menuitemlocale</h1>
</div>

<dl class="dl-horizontal">
  <dt>Locale:</dt>
  <dd><%= @menuitemlocale.locale %></dd>
  <dt>Status:</dt>
  <dd><%= @menuitemlocale.status %></dd>
  <dt>Name:</dt>
  <dd><%= @menuitemlocale.name %></dd>
  <dt>Description:</dt>
  <dd><%= @menuitemlocale.description %></dd>
  <dt>Menuitem:</dt>
  <dd><%= @menuitemlocale.menuitem %></dd>
</dl>
