<% 
  # Determine the menu for nested routing
  menu = menuavailability.menu || @futureParentMenu
  raise "No menu context available for menuavailability form" unless menu
%>
<%= form_with(model: [menu, menuavailability]) do |form| %>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :dayofweek, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :dayofweek, options_for_select(Menuavailability.dayofweeks.keys.to_a, form.object.dayofweek), {} %>
    </div>
  </div>
  <div class="spacing-sm"></div>
    <div class="form-group row">
      <div class="col-3">
        <span class="float-md-end"><%= form.label :starthour, class: 'col-form-label' %></span>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-6">
            <%= form.text_field :starthour, class: 'form-control' %>
          </div>
          <div class="col-6">
            <%= form.text_field :startmin, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :endhour, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
        <div class="row">
          <div class="col-6">
            <%= form.text_field :endhour, class: 'form-control' %>
          </div>
          <div class="col-6">
            <%= form.text_field :endmin, class: 'form-control' %>
          </div>
        </div>
    </div>
  </div>
  <div class="spacing-md"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :status, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.select :status, options_for_select(Menuavailability.statuses.keys.to_a, form.object.status), {} %>
    </div>
  </div>
  <div class="spacing-md"></div>
  <div class="form-group row">
    <div class="col-3">
      <span class="float-md-end"><%= form.label :menu_id, class: 'col-form-label' %></span>
    </div>
    <div class="col-9">
      <%= form.collection_select :menu_id, Menu.where( restaurant_id: @menuavailability.get_parent_restaurant).all ,:id, :name, options = {:prompt => t(".selectMenu")}%>
    </div>
  </div>
  <div class="spacing-md"></div>
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-9">
        <span class="float-end">
        <% if menuavailability.persisted? %>
          <div class="btn btn-dark ">
            <%= link_to t(".delete"), menu_menuavailability_path(menuavailability.menu, menuavailability), method: :delete, class: "text-white text-decoration-none", data: { confirm: t(".sure") } %>
          </div>
        <% end %>
        <%= form.submit value: t(".save"), class: 'btn btn-dark' %>
        </span>
    </div>
  </div>
  <% if menuavailability.errors.any? %>
  <div class="row">
    <div class="col-3">
        <%= t('common.errors') %>
    </div>
    <div class="col-9">
      <ul>
          <% menuavailability.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>
