<div id="<%= dom_id menuavailability %>">
  <p>
    <strong>Dayofweek:</strong>
    <%= menuavailability.dayofweek %>
  </p>

  <p>
    <strong>Starthour:</strong>
    <%= menuavailability.starthour %>
  </p>

  <p>
    <strong>Startmin:</strong>
    <%= menuavailability.startmin %>
  </p>

  <p>
    <strong>Endhour:</strong>
    <%= menuavailability.endhour %>
  </p>

  <p>
    <strong>Endmin:</strong>
    <%= menuavailability.endmin %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= menuavailability.menu_id %>
  </p>

</div>
