<%= render 'shared/customcss' %>
<div class="page-header">
  <div class="row">
    <div class="col-12">
      <h4>
        <%= link_to edit_restaurant_path(@menuavailability.menu.restaurant), class: "link-dark" do %>
          <%= @menuavailability.menu.restaurant.name %>
        <% end %>
        <small><i class="bi bi-chevron-compact-right"></i></small>
        <%= link_to edit_restaurant_menu_path(@menuavailability.menu.restaurant, @menuavailability.menu), class: "link-dark" do %>
          <%= @menuavailability.menu.name %>
        <% end %>
        <small><i class="bi bi-chevron-compact-right"></i></small>
        <%= @menuavailability.menu.name %>
      </h4>
    </div>
  </div>
</div>
<ul class="nav-tabs-height nav nav-tabs overflow-auto flex-nowrap" id="inventoryTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark">
      <%= link_to edit_restaurant_menu_path(@menuavailability.menu.restaurant, @menuavailability.menu), class: "link-dark" do %>
        <strong><i class="bi bi-chevron-double-left"></i></strong>
      <% end %>
    </button>
  </li>
</ul>
<ul class="nav nav-tabs overflow-auto flex-nowrap edit-tabs-main" id="inventoryTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark active" id="item-tab" data-bs-toggle="tab" data-bs-target="#availability" type="button" role="tab" aria-controls="availabilityConfig" aria-selected="true">Availability</button>
  </li>
</ul>

<div class="menu-content-positioned tab-content" id="availabilityConfig">
  <div class="tab-pane fade show active" id="inventory" role="tabpanel" aria-labelledby="home-tab">
    <p>
    <div class="row">
        <div class="col-12">
        <%= render 'form', menuavailability: @menuavailability %>
      </div>
    </div>
  </div>
</div>