<div class="page-header">
  <%= link_to menuavailabilities_path, class: 'btn btn-default' do %>
    All Menuavailabilities
  <% end %>
  <%= link_to edit_menuavailability_path(@menuavailability), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show menuavailability</h1>
</div>

<dl class="dl-horizontal">
  <dt>Dayofweek:</dt>
  <dd><%= @menuavailability.dayofweek %></dd>
  <dt>Starthour:</dt>
  <dd><%= @menuavailability.starthour %></dd>
  <dt>Startmin:</dt>
  <dd><%= @menuavailability.startmin %></dd>
  <dt>Endhour:</dt>
  <dd><%= @menuavailability.endhour %></dd>
  <dt>Endmin:</dt>
  <dd><%= @menuavailability.endmin %></dd>
  <dt>Menu:</dt>
  <dd><%= @menuavailability.menu %></dd>
</dl>
