<div id="<%= dom_id tax %>">
  <p>
    <strong><%= t('.name') %></strong>
    <%= tax.name %>
  </p>

  <p>
    <strong><%= t('.taxtype') %></strong>
    <%= tax.taxtype %>
  </p>

  <p>
    <strong><%= t('.taxpercentage') %></strong>
    <%= tax.taxpercentage %>
  </p>

  <p>
    <strong><%= t('.restaurant') %></strong>
    <%= tax.restaurant_id %>
  </p>

</div>
