<div id="<%= dom_id tax %>">
  <p>
    <strong>Name:</strong>
    <%= tax.name %>
  </p>

  <p>
    <strong>Taxtype:</strong>
    <%= tax.taxtype %>
  </p>

  <p>
    <strong>Taxpercentage:</strong>
    <%= tax.taxpercentage %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= tax.restaurant_id %>
  </p>

</div>
