<div id="<%= dom_id allergyn %>">
  <p>
    <strong>Name:</strong>
    <%= allergyn.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= allergyn.description %>
  </p>

  <p>
    <strong>Symbol:</strong>
    <%= allergyn.symbol %>
  </p>

  <p>
    <strong>Menuitem:</strong>
    <%= allergyn.menuitem_id %>
  </p>

</div>
