


<div class="row">
  <div class="col-sm-6">
    <h1>Allergyns</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_allergyn_path, class: 'btn btn-primary' do %>
    Add New Allergyn
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Description</th>
            <th>Symbol</th>
            <th>Menuitem</th>
            
      </tr>
    </thead>

    <tbody>
      <% @allergyns.each do |allergyn| %>
        <%= content_tag :tr, id: dom_id(allergyn), class: dom_class(allergyn) do %>
          
            <td><%= link_to allergyn.name, allergyn %></td>
          

                      <td><%= allergyn.description %></td>
                      <td><%= allergyn.symbol %></td>
                      <td><%= allergyn.menuitem %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
