<div class="page-header">
  <div class="row">
    <div class="col-10">
      <h1><%= t(".allergyn") %></h1>
    </div>
    <div class="col-2">
        <span class="float-end">
          <%= link_to restaurant_allergyns_path(@allergyn.restaurant), class: 'btn btn-light' do %>
            <i class="bi bi-chevron-left"></i>
          <% end %>
          <%= link_to edit_restaurant_allergyn_path(@allergyn.restaurant, @allergyn), class: 'btn btn-dark' do %>
            <i class="bi bi-pencil-fill"></i>
          <% end %>
        </span>
    </div>
  </div>
</div>

<%= form_with(model: [@allergyn.restaurant, @allergyn]) do |form| %>
  <div class="form-group row">
    <%= form.label :name, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_field :name, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <%= form.label :description, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_area :description, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>
  <div class="spacing-sm"></div>
  <div class="form-group row">
    <%= form.label :symbol, class: 'col-2 col-form-label' %>
    <div class="col-10">
        <%= form.text_field :symbol, class: 'form-control', disabled: 'disabled' %>
    </div>
  </div>
<% end %>
