


<div class="row">
  <div class="col-sm-6">
    <h1>Restaurantlocales</h1>
  </div>

  <div class="col-sm-6 text-end">
  <% restaurant_path = @futureParentRestaurant || current_user.restaurants.first %>
  <%= link_to new_restaurant_restaurantlocale_path(restaurant_path), class: 'btn btn-dark' do %>
    Add New Restaurantlocale
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Locale</th>
            <th>Status</th>
            <th>Restaurant</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @restaurantlocales.each do |restaurantlocale| %>
        <%= content_tag :tr, id: dom_id(restaurantlocale), class: dom_class(restaurantlocale) do %>
          

                      <td><%= restaurantlocale.locale %></td>
                      <td><%= restaurantlocale.status %></td>
                      <td><%= restaurantlocale.restaurant %></td>
          
          
            <td><%= link_to 'Show', restaurantlocale %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
