<div class="page-header">
  <%= link_to restaurant_restaurantlocales_path(@restaurantlocale.restaurant), class: 'btn btn-default' do %>
    All Restaurantlocales
  <% end %>
  <%= link_to edit_restaurant_restaurantlocale_path(@restaurantlocale.restaurant, @restaurantlocale), class: 'btn btn-dark' do %>
    Edit
  <% end %>
  <h1>Show restaurantlocale</h1>
</div>

<dl class="dl-horizontal">
  <dt>Locale:</dt>
  <dd><%= @restaurantlocale.locale %></dd>
  <dt>Status:</dt>
  <dd><%= @restaurantlocale.status %></dd>
  <dt>Restaurant:</dt>
  <dd><%= @restaurantlocale.restaurant %></dd>
</dl>
