<div id="<%= dom_id ordraction %>">
  <p>
    <strong>Sessionid:</strong>
    <%= ordraction.sessionid %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= ordraction.action %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= ordraction.employee_id %>
  </p>

  <p>
    <strong>Ordrparticipant:</strong>
    <%= ordraction.ordrparticipant_id %>
  </p>

  <p>
    <strong>Ordr:</strong>
    <%= ordraction.ordr_id %>
  </p>

  <p>
    <strong>Ordritem:</strong>
    <%= ordraction.ordritem_id %>
  </p>

</div>
