


<div class="row">
  <div class="col-6">
    <h1>Ordractions</h1>
  </div>

  <div class="col-6 text-end">
  <%= link_to new_ordraction_path, class: 'btn btn-dark' do %>
    Add New Ordraction
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Employee</th>
            <th>Ordrparticipant</th>
            <th>Ordr</th>
            <th>Ordritem</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @ordractions.each do |ordraction| %>
        <%= content_tag :tr, id: dom_id(ordraction), class: dom_class(ordraction) do %>
                      <td><%= ordraction.employee %></td>
                      <td><%= ordraction.ordrparticipant %></td>
                      <td><%= ordraction.ordr %></td>
                      <td><%= ordraction.ordritem %></td>
          
          
            <td><%= link_to 'Show', ordraction %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
