<div class="page-header">
  <%= link_to restaurant_ordractions_path(@ordraction.restaurant), class: 'btn btn-default' do %>
    All Ordractions
  <% end %>
  <%= link_to edit_restaurant_ordraction_path(@ordraction.restaurant, @ordraction), class: 'btn btn-dark' do %>
    Edit
  <% end %>
  <h1>Show ordraction</h1>
</div>

<dl class="dl-horizontal">
  <dt>Employee:</dt>
  <dd><%= @ordraction.employee %></dd>
  <dt>Ordrparticipant:</dt>
  <dd><%= @ordraction.ordrparticipant %></dd>
  <dt>Ordr:</dt>
  <dd><%= @ordraction.ordr %></dd>
  <dt>Ordritem:</dt>
  <dd><%= @ordraction.ordritem %></dd>
</dl>
