<div class="page-header">
  <%= link_to ordractions_path, class: 'btn btn-default' do %>
    All Ordractions
  <% end %>
  <%= link_to edit_ordraction_path(@ordraction), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show ordraction</h1>
</div>

<dl class="dl-horizontal">
  <dt>Employee:</dt>
  <dd><%= @ordraction.employee %></dd>
  <dt>Ordrparticipant:</dt>
  <dd><%= @ordraction.ordrparticipant %></dd>
  <dt>Ordr:</dt>
  <dd><%= @ordraction.ordr %></dd>
  <dt>Ordritem:</dt>
  <dd><%= @ordraction.ordritem %></dd>
</dl>
