<div id="<%= dom_id tablesetting %>">
  <p>
    <strong>Name:</strong>
    <%= tablesetting.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tablesetting.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= tablesetting.status %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= tablesetting.capacity %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= tablesetting.restaurant_id %>
  </p>

</div>
