<div id="<%= dom_id tablesetting %>">
  <p>
    <strong><%= t('.name') %></strong>
    <%= tablesetting.name %>
  </p>

  <p>
    <strong><%= t('.description') %></strong>
    <%= tablesetting.description %>
  </p>

  <p>
    <strong><%= t('.status') %></strong>
    <%= tablesetting.status %>
  </p>

  <p>
    <strong><%= t('.capacity') %></strong>
    <%= tablesetting.capacity %>
  </p>

  <p>
    <strong><%= t('.restaurant') %></strong>
    <%= tablesetting.restaurant_id %>
  </p>

</div>
