<style>
    .form-control:disabled {
        background-color: #fafafa;
        opacity: 1;
    }
    .disabled .ts-control {
        opacity: 1.0;
        background-color: #fafafa;
    }
    .ts-dropdown, .ts-control, .ts-control input {
        color: #000000;
        padding-left:12px;
        font-size: 16px;
        line-height: 18px;
    }
</style>
<% if current_user %>
    <div class="page-header">
      <div class="row">
        <div class="col-sm-10">
              <h1><%= t('.show_table_setting') %></h1>
        </div>
        <div class="col-sm-2">
            <span class="float-end">
              <%= link_to restaurant_path(id: @tablesetting.restaurant.id), class: 'btn btn-sm btn-light' do %>
                <i class="bi bi-chevron-left"></i>
              <% end %>
              <%= link_to edit_restaurant_tablesetting_path(@tablesetting.restaurant, @tablesetting), class: 'btn btn-sm btn-dark' do %>
                <i class="bi bi-pencil-fill"></i>
              <% end %>
            </span>
        </div>
      </div>
    </div>

    <%= form_with(model: [@tablesetting.restaurant, @tablesetting]) do |form| %>
      <div class="form-group row">
        <%= form.label :name, class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= form.text_field :name, class: 'form-control', disabled: 'disabled' %>
        </div>
      </div>
      <div class="spacing-sm"></div>
      <div class="form-group row">
        <%= form.label :description, class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= form.text_area :description, class: 'form-control', disabled: 'disabled' %>
        </div>
      </div>
      <div class="spacing-sm"></div>
      <div class="form-group row">
        <%= form.label :status, class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
            <%= form.select :status, options_for_select(Tablesetting.statuses.keys.to_a, form.object.status), {}, disabled: 'disabled' %>
        </div>
      </div>
      <div class="spacing-sm"></div>
      <div class="form-group row">
        <%= form.label :tabletype, class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
            <%= form.select :tabletype, options_for_select(Tablesetting.tabletypes.keys.to_a, form.object.tabletype), {}, disabled: 'disabled' %>
        </div>
      </div>
      <div class="spacing-sm"></div>
      <div class="form-group row">
        <%= form.label :capacity, class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
            <%= form.text_field :capacity, class: 'form-control', disabled: 'disabled' %>
        </div>
      </div>
      <div class="spacing-sm"></div>
      <div class="form-group row">
        <%= form.label :restaurant_id, class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
            <%= form.collection_select :restaurant_id, Restaurant.all ,:id, :name, options = {:prompt => t(".selectRestaurant")}, html_options = {disabled: 'disabled'}%>
        </div>
      </div>
    <% end %>
    <p>
        <%= @qr.as_svg.html_safe %>
    </p>
<% else %>
    <%= format('%02d',@currentDay) %> - <%= format('%02d',@currentHour) %>:<%= format('%02d',@currentMin) %>
    <div class="row section-spacing-bottom">
        <div class="col-12">
            <span class="h1 text-center"><%= @restaurant.name %>: <%= t('.available_menus') %></span>
        </div>
    </div>
    <div class="row">
        <% @menus.each do |menu| %>
            <div class="col-6">
                <div class="card text-white bg-success mb-3">
                  <div class="card-body">
                    <span class="hero-section">
                            <%= link_to restaurant_menu_tablesetting_path(menu.restaurant, menu, @tablesetting), class: 'btn btn-lg btn-success' do %>
                                <h2 class="h3"><%= menu.name %></h2>
                            <% end %>
                    </span>
                  </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
