<%= form_with(model: tip) do |form| %>
  <div class="form-group row">
    <%= form.label :percentage, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
        <%= form.text_field :percentage, class: 'form-control' %>
    </div>
  </div>
  <div style='height:4px'></div>
  <div class="form-group row">
    <%= form.label :restaurant, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
        <%= form.collection_select :restaurant_id, Restaurant.all ,:id, :name, options = {:prompt => t(".selectRestaurant")}%>
    </div>
  </div>
  <div style='height:8px'></div>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
        <span class="float-end">
        <% if tip.persisted? %>
          <div class="btn btn-danger ">
            <%= link_to t(".delete"), tip, method: :delete, class: "text-white text-decoration-none", data: { confirm: t(".sure") } %>
          </div>
        <% end %>
        <%= form.submit value: t(".save"), class: 'btn btn-primary' %>
        </span>
    </div>
  </div>
  <% if tip.errors.any? %>
  <div class="row">
    <div class="col-sm-2">
        Errors
    </div>
    <div class="col-sm-10">
      <ul>
          <% tip.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>