<div id="<%= dom_id testimonial %>">
  <p>
    <strong><%= t('.testimonial') %></strong>
    <%= testimonial.testimonial %>
  </p>

  <p>
    <strong><%= t('.user') %></strong>
    <%= testimonial.user_id %>
  </p>

  <p>
    <strong><%= t('.restaurant') %></strong>
    <%= testimonial.restaurant_id %>
  </p>

</div>
