<div class="page-header">
  <%= link_to testimonials_path, class: 'btn btn-default' do %>
    All Testimonials
  <% end %>
  <%= link_to edit_testimonial_path(@testimonial), class: 'btn btn-dark' do %>
    Edit
  <% end %>
  <h1>Show testimonial</h1>
</div>

<dl class="dl-horizontal">
  <dt>Testimonial:</dt>
  <dd><%= @testimonial.testimonial %></dd>
  <dt>User:</dt>
  <dd><%= @testimonial.user %></dd>
  <dt>Restaurant:</dt>
  <dd><%= @testimonial.restaurant %></dd>
</dl>
