
<!DOCTYPE html>
<html class="h-100" <%= 'translate="no"' if request.path.to_s.start_with?('/admin') %>>

  <head>
    <%= render 'shared/head' %>
    <%= tag.meta name: 'current-locale', content: I18n.locale %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
    <%= tag.link rel: "manifest", href: "/manifest.json" %>
    <%= javascript_system_tags %>
    <%= yield :head %>
  </head>

  <body class="layout-body d-flex flex-column min-vh-100"
        data-session-id="<%= session.id %>"
        data-modules="<%= page_modules %>">
    <div class="layout-container">
      <div class="layout-content container-fluid">
        <main class="flex-wrapper">
          <%= render 'shared/navbar' %>
          <div class="container-fluid mx-auto">
                <div class="spacing-xs"></div>
                <%= yield %>
          </div>
        </main>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
