
<!DOCTYPE html>
<html class="h-100">
<style>
    ::-webkit-scrollbar {
        height: 0px;
        width: 4px;
        border: 1px solid #d5d5d5;
    }
    .form-control:disabled {
        background-color: #fafafa;
        opacity: 1;
    }
    .tabulator-row-odd {
        background-color: #ffffff !important;
    }
    .tabulator-row-even {
        background-color: #ffffff !important;
    }
</style>

  <head>
    <%= render 'shared/head' %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div style="display: flex;min-height: 100vh;flex-direction: column;justify-content: space-between;">
        <main class="flex-wrapper">
          <%= render "shared/navbar" %>
          <div class="container-fluid mx-auto">
                <div style="height:5px"></div>
                <%= yield %>
          </div>
        </main>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
