<!DOCTYPE html>
<html class="html-full-width h-100">

  <head>
    <%= render 'shared/head' %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="layout-body d-flex flex-column min-vh-100">
    <div class="layout-container-marketing">
        <main>
          <%= render 'shared/navbar' %>
          <div class="layout-content-marketing container-fluid mx-auto">
                <div class="spacing-xs"></div>
                <%= yield %>
          </div>
        </main>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
