
<!DOCTYPE html>
<html class="h-100">
  <head>
    <%= render 'shared/head' %>
    <%= render 'shared/schema_org_json_ld' if @schema_org_json_ld.present? %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
    <%= javascript_system_tags %>
    <script>window.USE_JSON_STATE = true;</script>
    <meta name="stripe-publishable-key" content="<%= Rails.application.credentials.stripe_publishable_key %>">
    <script src="https://js.stripe.com/v3" defer></script>
  </head>
  <body class="d-flex flex-column min-vh-100"
      data-smartmenu-id="<%= @smartmenu.slug %>"
      data-restaurant-id="<%= @restaurant&.id %>"
      data-page="<%= controller.controller_name %><%= "-#{controller.action_name}" if controller.action_name.present? %>">
    <div id="backgroundContent" class="layout-container">
        <main class="flex-wrapper">
          <% if current_user %>
              <%= render "shared/navbar" %>
          <% else %>
              <%= render "shared/smartmenunavbar" %>
          <% end %>
          <div class="container-fluid mx-auto">
                <div class="spacing-xs"></div>
                <%= yield %>
          </div>
        </main>
      <%= render 'shared/footer' %>
    </div>
    <%= render partial: "smartmenus/showModals", locals: { order: @openOrder, menu: @menu, restaurant: @restaurant, allergyns: @allergyns, ordrparticipant: @ordrparticipant, menuparticipant: @menuparticipant, restaurantCurrency: @restaurantCurrency, tablesetting: @tablesetting, current_employee: @current_employee } %>
    <%= render partial: "smartmenus/showContext", locals: { order: @openOrder, menu: @menu, restaurant: @restaurant, current_employee: @current_employee, ordrparticipant: @ordrparticipant, menuparticipant: @menuparticipant, restaurantCurrency: @restaurantCurrency, tablesetting: @tablesetting } %>
    <% unless current_user || @current_employee %>
      <%= render partial: "smartmenus/cart_bottom_sheet", locals: { order: @openOrder, restaurantCurrency: @restaurantCurrency, ordrparticipant: @ordrparticipant, menuparticipant: @menuparticipant } %>
    <% end %>
  </body>
</html>
